{% extends 'nav_admin.html' %}
{% block title %} Monthly Report {% endblock %}

{% block design %}
  <style>
    .card {
        box-shadow: 0 0.5rem 1rem 0 rgba(167, 167, 167, 0.164);
        border-radius: 15px !important;
    }
    .card-body {
        border-radius: 15px !important;
    }

    .table-sm {
        border-radius: 15px !important;
        margin-bottom: 0rem !important;     
    }

    .tabular {
      padding: 0rem 0rem 0rem 0rem !important;
    }

    th, td {
      padding-left: 1rem !important;
    }

    .rad_bl {
      border-bottom-left-radius: 15px !important;
    }

    .rad_br {
      border-bottom-right-radius: 15px !important;
    }

    .rad_tl {
      border-top-left-radius: 15px !important;
    }

    .rad_tr {
      border-top-right-radius: 15px !important;
    }

    .b-no-border {
      border-bottom-width: 0px !important;
    }

    #report_form {
        float: right;
    }

    .wrapper {
        height: 300px;
      }

      .chart {
        height: 100%;
      } 

    @media only screen and (max-width: 1024px){
      .wrapper {
        height: 300px;
      }

      .chart {
        height: 100%;
      } 
    }

    @media only screen and (max-width: 991px){
      form#report_form {
        float: none;
      }
    }

    @media only screen and (max-width: 455px){
      .wrapper {
        height: 300px;
      }

      .chart {
        height: 100%;
      } 
    }



  </style>
{% endblock %}





{% block content %}


  <div class="container">
  
    <form id="report_form" action="{% url 'monthly_report' %}" method="POST" class="row row-cols-lg-auto g-3 align-items-center mb-4">
     {% csrf_token %}
        <div class="col-12">
            <select class="form-select form-select-sm" name="select_month" id="select_month" required>
                <option value="">Select a month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
      
        <div class="col-12">
            <select class="form-select form-select-sm" name="select_year" id="select_year" required>
                <option value="">Select a year</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select>
        </div>
      
        <div class="col-12">
            <button type="submit" class="btn btn-primary" id="submit_form">Submit</button>
        </div>
    </form>

    <span class="fs-3 me-3" id="select-month" style="font-family: Roboto, sans-serif; color: #1b5082;">{{month }} {{year}}: Summarize Statistics</span>

    <div class="row mt-4">
        <ul class="nav nav-pills flex-row mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class=" btn btn-outline-success btn-sm ms-3 active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Graph/Chart</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="btn btn-outline-success btn-sm ms-2" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Tabular</button>
            </li>

            <li class="nav-item" role="presentation">
              <button style="float:right" id="downloadPdf" type="button" class="btn btn-sm btn-outline-primary">Download Report</button>
            </li>
            
        </ul>
    </div>
      <div class="tab-content row" id="pills-tabContent">
        <!-- tab for charts -->
        <div class="tab-pane fade show active  " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

          <div class="row" style="border:0; margin:0; padding:0;">
              <div class="col-sm-6 mb-4">
                  <div class="card wrapper">
                      <div class="card-body" style="background-color: white;">
                          <canvas id="myChart2" height="200" class="chart"></canvas>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6 mb-4">
                  <div class="card wrapper">
                      <div class="card-body" style="background-color: white;">
                          <canvas id="myChart3" height="200" class="chart"></canvas>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="row" style="border:0; margin:0; padding:0;">
            <div class="col-sm-4 mb-4">
                <div class="card wrapper" style="">
                    <div class="card-body" style="background-color: white;">
                        <canvas id="pie_sex" height="265" class="chart"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mb-4">
              <div class="card wrapper">
                  <div class="card-body" style="background-color: white;">
                      <div class="">
                        <canvas id="line_time" height="265" class="chart"></canvas>
                      </div>
                  </div>
              </div>
            </div>
    
            <div class="col-sm-4 mb-4">
                <div class="card wrapper">
                    <div class="card-body" style="background-color: white;">
                        <div class="">
                            <canvas id="bar_offense" height="270" class="chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="border:0; margin:0; padding:0;">
          <div class="col-sm-6 mb-4">
              <div class="card wrapper">
                  <div class="card-body" style="background-color: white;">
                      <canvas id="bar_severity" height="200" class="chart"></canvas>
                  </div>
              </div>
          </div>

          <div class="col-sm-6 mb-4">
              <div class="card wrapper">
                  <div class="card-body" style="background-color: white;">
                      <canvas id="line_day" height="200" class="chart"></canvas>
                  </div>
              </div>
          </div>
      </div>
        
          
        </div>

        <!-- tab for tabular data -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

            <div class="row">

                <div class="col-sm-6">

                  <div class="card mb-3">
                    <div class="card-body tabular">
                      <table class="table table-sm table-hover">
                        <thead class="table-primary">
                          <tr>
                            <th scope="col" class="rad_tl b-no-border">District 1</th>
                            <th scope="col" class="rad_tr b-no-border">Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for d1, d1_count in district1_data %}
                            <tr>
                              <td scope="row">{{ forloop.counter}}. {{ d1 }}</td>
                              <td> {{ d1_count }}</td>
                            </tr>
                          {% endfor %}

                          <tr class="table-active">
                            <td scope="row" class="rad_bl b-no-border"> <b>Total: </b></td>
                            <td class="rad_br b-no-border"><b>{{ d1_brgys_total }}</b></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="card mb-3">
                    <div class="card-body tabular">
                      <table class="table table-sm table-hover">
                        <thead class="table-primary ">
                          <tr>
                            <th scope="col" class="rad_tl b-no-border">District 2</th>
                            <th scope="col" class="rad_tr b-no-border">Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for d2, d2_count in district2_data %}
                            <tr>
                              <td scope="row">{{ forloop.counter}}. {{ d2 }}</td>
                              <td>{{ d2_count }}</td>
                            </tr>
                          {% endfor %}

                          <tr class="table-active">
                            <td scope="row" class="rad_bl b-no-border"> <b>Total: </b></td>
                            <td class="rad_br b-no-border"><b>{{ d2_brgys_total }}</b></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div> 

                  <div class="card mb-3">
                    <div class="card-body tabular">
                      <table class="table table-sm table-hover">
                        <thead class="table-primary ">
                          <tr>
                            <th scope="col" class="rad_tl b-no-border">Day of the week</th>
                            <th scope="col" class="rad_tr b-no-border">Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for day, day_count in day_data %}
                            <tr>
                              <td scope="row">{{ forloop.counter}}. {{ day }}</td>
                              <td>{{ day_count }}</td>
                            </tr>
                          {% endfor %}

                          <tr class="table-active">
                            <td scope="row" class="rad_bl b-no-border"> <b>Total: </b></td>
                            <td class="rad_br b-no-border"><b>{{ day_total }}</b></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div> 

                </div>

                <div class="col-sm-6">

                  <div class="card mb-3">
                      <div class="card-body tabular">
                        <table class="table table-sm table-hover">
                          <thead class="table-primary ">
                            <tr>
                              <th scope="col" class="rad_tl b-no-border">Male Age</th>
                              <th scope="col" class="rad_tr b-no-border">Count</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td scope="row">1. Children (1-12)</td>
                                  <td> {{ child_m }}</td>
                              </tr>
      
                              <tr>
                                  <td scope="row">2. Adolescent (13-19)</td>
                                  <td>  {{ adolescent_m }}</td>
                              </tr>
      
                              <tr>
                                  <td scope="row">3. Adult (20-59)</td>
                                  <td> {{ adult_m }}</td>
                              </tr>
      
                              <tr>
                                  <td scope="row">4. Geriatric (60+)</td>
                                  <td> {{ geriatric_m }}</td>
                              </tr>
      
                              <tr class="table-active">
                                  <td scope="row" class="rad_bl b-no-border"> <b>Total: </b></td>
                                  <td class="rad_br b-no-border"><b> {{ age_total_m }}</b></td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
                  
                 
                  <div class="card mb-3">
                    <div class="card-body tabular">
                      <table class="table table-sm table-hover">
                        <thead class="table-primary ">
                          <tr>
                            <th scope="col" class="rad_tl b-no-border">Female Age</th>
                            <th scope="col" class="rad_tr b-no-border">Count</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1. Children (1-12)</td>
                                <td> {{ child_f }}</td>
                            </tr>

                            <tr>
                                <td scope="row">2. Adolescent (13-19)</td>
                                <td>  {{ adolescent_f }}</td>
                            </tr>

                            <tr>
                                <td scope="row">3. Adult (20-59)</td>
                                <td> {{ adult_f }}</td>
                            </tr>

                            <tr>
                                <td scope="row">4. Geriatric (60+)</td>
                                <td> {{ geriatric_f }}</td>
                            </tr>

                            <tr class="table-active">
                              <td scope="row" class="rad_bl b-no-border"> <b>Total: </b></td>
                              <td class="rad_br b-no-border"><b> {{ age_total_f }}</b></td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>


                  <div class="card mb-3">
                    <div class="card-body tabular">
                      <table class="table table-sm table-hover">
                        <thead class="table-primary ">
                        <tr>
                          <th scope="col" class="rad_tl b-no-border">Offenses</th>
                          <th scope="col" class="rad_tr b-no-border">Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for offense, offense_count in offense_data %}
                          <tr>
                            <td scope="row"> {{ forloop.counter}}. {{ offense }}</td>
                            <td> {{ offense_count }}</td>
                          </tr>
                        {% endfor %}

                        <tr class="table-active">
                          <th scope="row" class="rad_bl b-no-border fw-bold">Total:</th>
                          <td class="rad_br b-no-border"> <b>{{ offense_total }}  </b></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-body tabular">
                    <table class="table table-sm table-hover">
                      <thead class="table-primary ">
                          <tr>
                            <th scope="col" class="rad_tl b-no-border">Vehicles</th>
                            <th scope="col" class="rad_tr b-no-border">Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for vehicle, vehicle_count in vehicle_data %}
                            <tr>
                              <td scope="row"> {{ forloop.counter}}. {% ifequal vehicle '' %} Blank {% else %}{{ vehicle }} {% endifequal %}</th>
                              <td> {{vehicle_count }}</td>
                            </tr>
                          {% endfor %}
                          <tr class="table-active">
                            <td scope="row" class="rad_bl b-no-border"> <b>Total: </b></td>
                            <td class="rad_br b-no-border"><b>{{ vehicle_total }}  </b></td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="card-body tabular">
                    <table class="table table-sm table-hover">
                      <thead class="table-primary ">
                          <tr>
                            <th scope="col" class="rad_tl b-no-border">Severity</th>
                            <th scope="col" class="rad_tr b-no-border">Count</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for severity, severity_count in severity_data %}
                            <tr>
                              <td scope="row"> {{ forloop.counter}}. {% ifequal severity '' %} Blank {% else %}{{ severity }} {% endifequal %}</th>
                              <td> {{severity_count }}</td>
                            </tr>
                          {% endfor %}
                          <tr class="table-active">
                            <td scope="row" class="rad_bl b-no-border"> <b>Total: </b></td>
                            <td class="rad_br b-no-border"><b>{{ severity_total }}  </b></td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </div>


                </div>
                
            </div>
        </div>
    </div>
</div>
  
<script>
$(document).ready(function(){

  var line_time = document.getElementById('line_time'); //time
  var ctx2 = document.getElementById('myChart2'); //district1
  // var ctx2 = canvas.parentNode;
  // ctx2.setAttribute("width", window.getComputedStyle(wrapper).width);
  // ctx2.setAttribute("height", window.getComputedStyle(wrapper).height);

  var ctx3 = document.getElementById('myChart3'); //district1
  var pie_sex = document.getElementById('pie_sex'); //sex
  var bar_offense = document.getElementById('bar_offense'); //offenses
  var bar_severity = document.getElementById('bar_severity'); //severity
  var line_day = document.getElementById('line_day'); //day


        var myChart = new Chart(ctx2, {
          type: 'bar',
          data: {
              labels: [{% for x in district1_labels %} '{{x}}', {% endfor %}],
              datasets: [{
                  label: 'District 1',
                  data: [{% for x in district1_count %} {{x}}, {% endfor %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1,
                  //fill: true, if line ang type
              }]
          },
  
          options: {
              scaleShowValues: true,
              indexAxis: 'x',
              scales: {
                  xAxes: [{ stacked: true }],
                  yAxes: [{ stacked: true }]
              },
              animation: {
                  duration: 1000,
                  easing: 'linear'
              },
              maintainAspectRatio: false,    
          }
      });

      var myChart = new Chart(ctx3, {
          type: 'bar',
          data: {
              labels:[{% for x in district2_labels %} '{{x}}', {% endfor %}],
              datasets: [{
                  label: 'District 2',
                  data: [{% for x in district2_count %} {{x}}, {% endfor %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1,
                  //fill: true, if line ang type
              }]
          },
          options: {
              scales: {
                  y: {beginAtZero: true}
              },

              animation: {
                  duration: 1000,
                  easing: 'linear'
              }, 
              maintainAspectRatio: false,
          }
      });

      var pie_sex = new Chart(pie_sex, {
          type: 'doughnut',
          data: {
              labels: [{% for x in sex_labels %} '{{x}}', {% endfor %}],
              datasets: [{
                  label: 'Sex',
                  data:  [{% for x in sex_count %} {{x}}, {% endfor %}],
                  backgroundColor: [
                  // 'rgb(54, 162, 235)',
                  // 'rgb(255, 99, 132)',
                  // 'rgba(75, 192, 192, 1)',
                  // 'rgba(153, 102, 255, 1)',
                  '#7BD5F5',
                  '#4adede',
                  '#1f2f98',
                  '#787ff6',
                  '#1ca7ec',
                  'rgb(54, 162, 235)',
                  ],
                  hoverOffset: 4
              }]
          }, 
          options: {
              plugins: {
                  legend: {
                      position: 'bottom'
                  },
                  title: {
                      display: true,
                      text: 'Sex Distribution'
                  }
              },
              maintainAspectRatio: false, 
          }
          
      });

      var line_time = new Chart(line_time, {
          type: 'line',
          data: {
              labels: ["0:00:00", "2:00:00", "4:00:00", "6:00:00","8:00:00", "10:00:00", "12:00:00","14:00:00","16:00:00","18:00:00","20:00:00","22:00:00",],
              datasets: [{
                  label: 'Hazardous Time',
                  data:  [{% for x in time_count %} {{x}}, {% endfor %}],
                  fill: false,
                  borderColor: 'rgb(75, 192, 192)',
                  tension: 0.1
              }]
          },
          options: {
              plugins: {
                  legend:{
                      
                  },
                  title: {
                      display: true,
                      text: 'Accident Prone Time'
                  }
              },
              maintainAspectRatio: false, 
          }
      });

      var bar_offense = new Chart(bar_offense, {
          type: 'bar',
          data: {
              labels: [{% for x in offense_labels %} '{{x}}', {% endfor %}],
              datasets: [{
                  label: 'Crime/Offense',
                  data: [{% for x in offense_count %} {{x}}, {% endfor %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1,
                  //fill: true, if line ang type
              }]
          },
          options: {
              scales: {
                  y: {beginAtZero: true}
              },
              maintainAspectRatio: false, 
          }
      });

      var bar_severity = new Chart(bar_severity, {
          type: 'bar',
          data: {
              labels: [{% for x in severity_labels %} {% ifequal x '' %} 'Blank', {% else %} '{{x}}', {% endifequal %} {% endfor %}],
              datasets: [{
                  label: 'Severity',
                  data: [{% for x in severity_count %} {{x}}, {% endfor %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1,
                  //fill: true, if line ang type
              }]
          },
          options: {
              scales: {
                  y: {beginAtZero: true}
              },
              maintainAspectRatio: false, 
          }
      });

      var line_day = new Chart(line_day, {
          type: 'line',
          data: {
              labels: [{% for x in day_labels %} {% ifequal x '' %} 'Blank', {% else %} '{{x}}', {% endifequal %} {% endfor %}],
              datasets: [{
                  label: 'Day',
                  data:  [{% for x in day_count %} {{x}}, {% endfor %}],
                  fill: false,
                  borderColor: '#1CA7EC',
                  tension: 0.1
              }]
          },
          options: {
              plugins: {
                  legend:{
                      
                  },
                  title: {
                      display: true,
                      text: 'Day of the week'
                  }
              },
              maintainAspectRatio: false, 
          }
      });


  }); //last
  </script>
  <script>
  var my_month= document.getElementById("select-month").innerText;
 
  $('#downloadPdf').click(function(event) {
  // get size of report page
  var reportPageHeight = $('#pills-profile').innerHeight();
  var reportPageWidth = $('#pills-profile').innerWidth();
  var reportPageHeight2 = $('#pills-profile').innerHeight();
  var reportPageWidth2= $('#pills-profile').innerWidth();
  
  // create a new canvas object that we will populate with all other canvas objects
  var pdfCanvas = $('<canvas />').attr({
    id: "canvaspdf",
    width: reportPageWidth,
    height: reportPageHeight
  });
  var pdfCanvas2 = $('<canvas />').attr({
    id: "canvaspdf",
    width: reportPageWidth2,
    height: reportPageHeight2
  });

  
  // keep track canvas position
  var pdfctx = $(pdfCanvas)[0].getContext('2d');
  var pdfctxX = 20;
  var pdfctxY = 50;
  var buffer = 50;
  var pdfctx2 = $(pdfCanvas2)[0].getContext('2d');
  var pdfctxX2 = 30;
  var pdfctxY2 = -850;
  var buffer2 = 100;

  // for each chart.js chart
  $("canvas").each(function(index) {
    // get the chart height/width
    var canvasHeight = $(this).innerHeight();
    var canvasWidth = $(this).innerWidth();

    
    // draw the chart into the new canvas
    pdfctx.drawImage($(this)[0], pdfctxX, pdfctxY, canvasWidth, canvasHeight);
    
    pdfctxX += canvasWidth + buffer;
    
    // our report page is in a grid pattern so replicate that in the new canvas
    if (index % 2 === 1) {
      pdfctxX = 0;
      pdfctxY += canvasHeight + buffer;

    }
  });
  // 2nd page
  $("canvas").each(function(index) {
    // get the chart height/width
    var canvasHeight2 = $(this).innerHeight();
    var canvasWidth2 = $(this).innerWidth();

    
    // draw the chart into the new canvas
    pdfctx2.drawImage($(this)[0], pdfctxX2, pdfctxY2, canvasWidth2, canvasHeight2);
    
    pdfctxX2 += canvasWidth2 + buffer2;
    
    // our report page is in a grid pattern so replicate that in the new canvas
    if (index % 2 === 1) {
      pdfctxX2 = 0;
      pdfctxY2 += canvasHeight2 + buffer2;

    }
  });
 
  // create new pdf and add our new canvas as an image
   
  var pdf = new jsPDF('l', 'pt', "legal");
  pdf.text(310,20,my_month + " Summarize Statistics");
  pdf.addImage($(pdfCanvas)[0], 'PNG', 0, 0);
  
  pdf.addPage('l','pt','legal');
  pdf.addImage($(pdfCanvas2)[0], 'PNG', 0, 0);
  // download the pdf
  // Add footer
  pdf.setFontSize(9);
  pdf.setTextColor(40);
  pdf.setFontStyle('normal');
  pdf.text( '©  PNP Pasig Police Headquarters',
            pdf.internal.pageSize.width / 2,
            pdf.internal.pageSize.height - 20,
            null, null, "center" );

  pdf.save('report.pdf');
});
  </script>


{% endblock %}