{% extends 'nav_admin.html' %}
{% block title %} Home {% endblock %}

{% block design %} {% endblock %}

<script>
  {% block jquery %}

      var endpoint = 'monthly/data'
      
      var district_labels = []
      var district_count = []

      var district1_labels = []
      var district1_count = []

      var district2_labels = []
      var district2_count = []

      var offense_labels = []
      var offense_count = []

      var vehicle_labels = []
      var vehicle_count = []

    
      $.ajax({
           method: "GET",
           url: endpoint,
           success: function(monthly_data){
              district_labels = monthly_data.district_labels
              district_count = monthly_data.district_count

              district1_labels = monthly_data.district1_labels
              district1_count = monthly_data.district1_count

              district2_labels = monthly_data.district2_labels
              district2_count = monthly_data.district2_count

              offense_labels = monthly_data.offense_labels
              offense_count = monthly_data.offense_count

              vehicle_labels = monthly_data.vehicle_labels
              vehicle_count = monthly_data.vehicle_count

              
              console.log(district_labels)
              console.log(district1_labels)
              console.log(district_count)
              console.log("WTF")
              setChart()
  
          },

           error: function(error_data){
               console.log("Errorrsds")
               console.log(error_data)
           }
      })

      function setChart(){
            var monthly_offense = document.getElementById('monthly_offense'); //weekly forecasting
            var monthly_car = document.getElementById('monthly_car'); //weekly forecasting
            var monthly_d1 = document.getElementById('monthly_d1'); //weekly forecasting
            var monthly_d2 = document.getElementById('monthly_d2'); //weekly forecasting

            
            var chart = new Chart(monthly_offense, {
                type: 'bar',
                data: {
                    labels: offense_labels,
                    datasets: [{
                        label: 'Offenses',
                        //data: [12, 19, 3, 5, 12, 3],
                        data: offense_count,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,
                        //fill: true, if line ang type
                    }]
                },
                options: {
                    scales: {
                        y: {beginAtZero: true}
                    }
                }
            });

            var chart = new Chart(monthly_car, {
                type: 'bar',
                data: {
                    labels: vehicle_labels,
                    datasets: [{
                        label: 'Vehicle',
                        data: vehicle_count,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,
                        //fill: true, if line ang type
                    }]
                },
                options: {
                    scales: {
                        y: {beginAtZero: true}
                    }
                }
            });
 
            var chart = new Chart(monthly_d1, {
                type: 'bar',
                data: {
                    labels: district1_labels,
                    datasets: [{
                        label: 'District 1',
                        //data: [12, 19, 3, 5, 12, 3],
                        data: district1_count,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,
                        //fill: true, if line ang type
                    }]
                },
                options: {
                    indexAxis: 'y',
                    scales: {
                        y: {beginAtZero: true}
                    },
                }
            });

            var chart = new Chart(monthly_d2, {
                type: 'bar',
                data: {
                    labels: district2_labels,
                    datasets: [{
                        label: 'District 2',
                        //data: [12, 19, 3, 5, 12, 3],
                        data: district2_count,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1,
                        //fill: true, if line ang type
                    }]
                },
                options: {
                    scales: {
                        y: {beginAtZero: true}
                    }
                }
            });

      } //close function

  {% endblock %}
</script>

{% block content %}

  <b id="date-today">Today: </b><span id="ct6"></span>

    <h1>January 2018: Summarize Statistic</h1>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Graph/Chart</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Tabular</button>
        </li>
        
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <!-- tab for charts -->
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

          <!-- <div class="col"></div>
          <div class="" style="border:0; margin:0; padding:0; height:10%">
            <ul class="">
              <li class="list-group-item mb-4"><canvas id="monthly_offense" ></canvas></li>
              <li class="list-group-item mb-4"><canvas id="monthly_car" ></canvas></li>
              <li class="list-group-item mb-4"><canvas id="monthly_d1" ></canvas></li>
              <li class="list-group-item mb-4"><canvas id="monthly_d2" ></canvas></li>

            </ul>
          </div> -->
          <canvas id="monthly_offense" ></canvas>
          <canvas id="monthly_car" ></canvas>
          <canvas id="monthly_d1" ></canvas>
          <canvas id="monthly_d2" ></canvas>
          
        </div>

        <!-- tab for tabular data -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

          <table class="table table-hover  table-bordered caption-top" style="background-color: white;">
            <caption>Crime offense count</caption>
            <thead>
              <tr>
                <th scope="col">Offenses</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              {% for offense, offense_count in offense_data %}
                <tr>
                  <th scope="row">{{ offense }}</th>
                  <td> {{ offense_count }}</td>
                </tr>
              {% endfor %}

              <tr>
                <th scope="row">TOTAL</th>
                <td> <b>{{ offense_total }}  </b></td>
              </tr>
            </tbody>
          </table>

            <table class="table table-hover caption-top" style="background-color: white;">
                <caption>List of vehicles</caption>
                <thead>
                  <tr>
                    <th scope="col">Vehicles</th>
                    <th scope="col">Month</th>
                  </tr>
                </thead>
                <tbody>
                  {% for vehicle, vehicle_count in vehicle_data %}
                    <tr>
                      <th scope="row"> {{ vehicle }}</th>
                      <td> {{vehicle_count }}</td>
                    </tr>
                  {% endfor %}
                 

                  <!-- <tr>
                    <th scope="row">Armored Car</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Bicycle</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Bus</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Cab Chassis</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Electric Bike</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Jitney</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Motorcycle</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Pedicab</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">PUJ/PUB/PUV</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Sedan</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">S-CUV</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Shuttle</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">SUV</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Truck/Trailer</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Train</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Tricycle</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Van</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Wagon</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Unidentified</th>
                    <td>10</td>
                  </tr>
                  <tr>
                    <th scope="row">Others</th>
                    <td>10</td>
                  </tr> -->
                </tbody>
            </table>

            <table class="table table-hover  table-bordered caption-top" style="background-color: white;">
                <caption>Age</caption>
                <thead>
                  <tr>
                    <td colspan="5">MALE</td>
                    <td colspan="5">FEMALE</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Children (1-12)</td>
                    <td>Adolescent (13-19)</td>
                    <td>Adult (20-59)</td>
                    <td>Geriatric (60+)</td>
                    <td><b>TOTAL</b></td>

                    <td>Children (1-12)</td>
                    <td>Adolescent (13-19)</td>
                    <td>Adult (20-59)</td>
                    <td>Geriatric (60+)</td>
                    <td><b>TOTAL</b></td>
                  </tr>
                  <tr>
                    <td> {{ child_m }}</td>
                    <td> {{ adolescent_m }}</td>
                    <td> {{ adult_m }}</td>
                    <td> {{ geriatric_m }}</td>
                    <td><b> {{ age_total_m }}</b></td>


                    <td> {{ child_f }}</td>
                    <td> {{ adolescent_f }}</td>
                    <td> {{ adult_f }}</td>
                    <td> {{ geriatric_f }}</td>
                    <td><b> {{ age_total_f }}</b></td>
                  </tr>
                </tbody>
            </table>

            <table class="table table-hover  table-bordered caption-top" style="background-color: white;">
              <caption>District 1 Barangays</caption>
              <thead>
                <tr>
                  <th scope="col">District 1</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                {% for d1, d1_count in district1_data %}
                  <tr>
                    <th scope="row">{{ d1 }}</th>
                    <td> {{ d1_count }}</td>
                  </tr>
                {% endfor %}

                <tr>
                  <th scope="row">TOTAL</th>
                  <td><b>{{ d1_total }}</b></td>
                </tr>
              </tbody>
            </table>

          
            <table class="table table-hover  table-bordered caption-top" style="background-color: white;">
              <caption>District 2 Barangays</caption>
              <thead>
                <tr>
                  <th scope="col">District 2</th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                {% for d2, d2_count in district2_data %}
                  <tr>
                    <th scope="row">{{ d2 }}</th>
                    <td>{{ d2_count }}</td>
                  </tr>
                {% endfor %}

                <tr>
                  <th scope="row">TOTAL</th>
                  <td><b>{{ d2_total }}</b></td>
                </tr>
              </tbody>
            </table>
            
        </div>
      </div>

  
{% endblock %}