/* body & header */

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.head {
    max-width: 100%;
    height: 50px;
    background-color: #edfaff;
}

.head-links {
    position: relative;
}

.contact-us, .about-us {
    margin-top: 15px;
    margin-right: 30px;

    font-size: 15px;
    font-weight: bold;
    color: #1b5082;
    text-decoration: none;
}

.contact-us {
    float: right;
}

.about-us {
    float: right;
}

/* content - if need icopy or paste somewhere start here <3 */

.img-bg { /*for the image container*/
position: relative;
max-width: 100%;
height: auto;
z-index: -1;
}


.contact-title { /*Contact Us title sa image*/
position: absolute;
top: 35px;
left: 45px;
}

.contact-1, .contact-2 { /* "Contact Us" */
font-weight: bold;
font-size: 38px;
text-align: left;
}

.contact-1 { /* "Contact" */
color: #1b5082;
margin-right: 4px;
}

.contact-2 { /* "Us" */
color: #5a96d2;
}

.contact-minor { /* "Get in touch..." */
font-size: 13px;
color: #1b5082;
letter-spacing: 1px;

position: absolute;
top: 80px;
left: 45px;
}

.white-contain { /* White container na nakapatong sa image */
max-width: 75%;
height: auto;
display: flex;
background-color: #fff;
box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
/* margin-top: -160px; */

margin-top: 40px;
margin-bottom: 60px;
border-radius: 20px;
position: relative;

padding: 30px 40px 50px 40px;
}

.block-1 {
    width: 500px;
    height: auto;
} 

.block-2 {
    width: 500px;
    height: auto;
}

.block-3 {
        width: auto;
    position: relative;
    top: 70px;
}

.fas {
    font-size: 55px;
    color: #1b5082;
    margin-top: 15px;
    margin-bottom: 1px;
    transition: .5s;
}

.fas:hover {
    color: rgb(34, 32, 32);
}

#see-more {
    color: #c4c4c4;
    font-size: 30px;
}

#see-more:hover {
    transform: scale(1.2);
    color: #999999;
}

.send-report {
    margin-bottom: 60px;
}

.send-title { 
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    height: auto;
    max-width: 75%;

    border: 2px transparent dashed;
    border-radius: 1px 5px 1px 5px;
    border-color: rgba(0,0,0,0.15);
    padding: 30px 40px 30px 40px;
    color: #575756;
}

.send-1, .send-2 { 
    font-weight: bold;
    font-size: 38px;
}

.send-1 { 
    color: #1b5082;
    margin-right: 4px;
}

.send-2 { 
    color: #5a96d2;
}

.block-title {
    color: #212121;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.block-content {
    color: #605859;
    font-size: 16px;
    letter-spacing: 0.9px;
    text-decoration: none;
    cursor: pointer; 
}

.block-content:hover {
    color: rgb(34, 32, 32);
}

#paper-icon { 
    font-size: 55px;
    color: #1b5082;
    margin-top: 15px;
    margin-bottom: 10px;
}

.report-explain { /* "Want to send a report... " sa send a report part*/
    color: #605859;
    font-size: 16px;
    letter-spacing: 0.9px;
}

p {
    margin-bottom: 10px;
}

.white-contain-2 { /* see location container */
    width: 81%;
    height: auto;
    display: flex;

    margin-top: 20px;
    margin-bottom: 60px;
}

.mapouter { /* map */
    position:relative;
    text-align:right;
    width:100%;
    height:400px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px;
    border-radius: 20px;  
    border: 1px solid;
    border-color: rgba(0,0,0,0.15);
    
}
    
.gmap_iframe {
    height:400px!important;
}


#submit_form { /* submit button*/
    margin-top: 18px;
    margin-bottom: 20px;
    display: inline-block;
    max-width: auto;
    height: auto;
  
    background:#333;
  
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    padding:15px 40px 15px 40px;
  
    border-radius: 4px;
    text-align:center;
    position:relative;
    cursor:pointer;
    appearance: none;
    -webkit-appearance: none;
    border: 1px;
    border-color: rgba(0,0,0,0.15);
    transition: 0.5s;
  }
  
  #submit_form:hover{ 
    background: rgb(34, 32, 32);
  }

  .email-small {
      display: none;
  }

  /* contact_number */

  .substation-c {
    max-width: auto;
    text-align: left;
    padding: 50px 30px 20px 30px;
  }

  .bold {
      font-size: 18px;
  }

  .italic {
      color: #605859;
      font-size: 16px;
  }

  #contact-icon {
      font-size: 16px;
      margin-right: 10px;
  }


@media only screen and (max-width:600px) {
    
.head {
    height: 40px;
}

.contact-us, .about-us {
    font-size: 10px;
}

.contact-1, .contact-2 { 
display: none;
}

.contact-minor { 
display: none;
}

/*start here */

.white-contain { 
max-width: 100%;
margin-top: -55px;
margin-bottom: 50px;
}

.block-1 {
    width: 250px;
    height: auto;
} 

.block-2 {
    width: 250px;
    height: auto;
}

.block-3 {
    width: 0;
    position: relative;
    top: 70px;
    right: -5px;
}

.email-big {
    display: none;
}

.email-small {
    display: inline-block;
}

.fas {
    font-size: 30px;
}

#see-more {
    font-size: 30px;
}

.send-title { 
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    height: auto;
    max-width: 60%;

    border: 2px transparent dashed;
    border-radius: 1px 5px 1px 5px;
    border-color: rgba(0,0,0,0.15);
    padding: 30px 40px 30px 40px;
    color: #575756;
}

.send-1, .send-2 { 
    font-weight: bold;
    font-size: 25px;
}

.send-1 { 
    color: #1b5082;
    margin-right: 4px;
}

.send-2 { 
    color: #5a96d2;
}

.block-title {
    color: #212121;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
}

.block-content {
    color: #605859;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
}

#paper-icon { 
    font-size: 30px;
    color: #1b5082;
    margin-top: 15px;
    margin-bottom: 10px;
}

.report-explain { 
    color: #605859;
    font-size: 10px;
    letter-spacing: 0.9px;
}

p {
    margin-bottom: 10px;
}

.white-contain-2 {
    width: 81%;
    height: auto;
    display: flex;

    margin-top: 20px;
    margin-bottom: 60px;
}

#submit_form { 
    font-size: 11px;
  }
  
/* contact_number */

  .substation-c {
    max-width: auto;
    text-align: left;
    padding: 20px 10px 20px 10px;
  }

  .bold {
      font-size: 14px;
  }

  .italic {
      color: #605859;
      font-size: 12px;
  }

  #contact-icon {
      font-size: 14px;
      margin-right: 10px;
  }
  }

  /* For about_us */

  .about, .services {
    margin-bottom: 50px;
  }

  .about-desc, .history-desc {
      width: 80%;
      text-align: justify;
  }

  .about-title, .history-title {
      margin-top: 50px;
      margin-bottom: 30px;
  }

  .services-title {
    margin-top: 50px;
    margin-bottom: 50px;
  }


  .png {
      width: 120px;
      height: auto;
  }

  .service {
      display: inline-block;
      margin-left: 110px;
      margin-right: 110px;
  }
  
  .parag {
      margin-top: 15px;
      width: 200px;
  }

  .history {
      background-color: #cedff2;
      width: 100%;
      height: auto;
      padding-top: 5px;
      padding-bottom: 50px;
  }
