{% extends 'nav_main.html' %}
{% load static %}

{% block title %} About Us {% endblock %}
{% block content %}

    <center>

    <!-- content -->
   <div class="container">
    <div class="img-bg">
        <img src="{% static 'image/about.png' %}" alt="Contact Us" style="max-width: 100%; height: auto; display: block;">

        <div class="contact-title">
        <label class="contact-1">About</label>
        <label class="contact-2"> Us</label><br>
        </div>
        <label class="contact-minor">Get to know more of why Roadcast was developed!</label>
    </div>

    <div class="about">
        <div class="about-title">
            <label class="send-1">About</label>
            <label class="send-2">Roadcast</label>
        </div>

        <div class="about-desc">
            <p class="desc text-break fw-normal lh-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum risus, nec sodales libero. Nam vel fermentum tellus. Pellentesque tincidunt nisi non vestibulum volutpat. Aenean et urna sed lorem molestie maximus nec vitae eros. Suspendisse vel erat erat. Donec pellentesque, dui quis semper dignissim, massa urna ultricies elit, et finibus justo lacus eget nunc. Cras congue pretium lorem at interdum. Fusce eget augue ut tellus dictum fringilla. Suspendisse potenti. Phasellus venenatis, nisl non porttitor sollicitudin, dolor dolor facilisis diam, vitae pellentesque magna libero nec dui. Aliquam iaculis, risus id suscipit venenatis, massa urna venenatis purus, et dapibus eros lectus non massa. Suspendisse vehicula vitae libero eget finibus. Mauris nunc est, auctor in nulla eget, tristique varius metus. Quisque scelerisque vehicula urna, nec ultrices eros maximus ut. Maecenas dolor metus, varius et arcu eu, fermentum ullamcorper sapien.
            </p>
            </div>
    </div>

    <div class="services">
        <div class="services-title">
            <label class="send-1">The</label>
            <label class="send-2">Services</label>
        </div>

        <div class="services-list">
            <div class="service">
                <img src="{% static 'image/ic1.png' %}" alt="..." class="png">
                <p class="parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum risus, nec sodales libero.</p>
            </div>

            <div class="service">
                <img src="{% static 'image/ic2.png' %}" alt="..." class="png">
                <p class="parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum risus, nec sodales libero.</p>
            </div>

            <div class="service">
                <img src="{% static 'image/ic3.png' %}" alt="..." class="png">
                <p class="parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum risus, nec sodales libero.</p>
            </div>
        </div>
        </div>
    

    <div class="history">
        <div class="history-title">
            <label class="send-1">Our</label>
            <label class="send-2">History</label>
        </div>

        <div class="history-desc">
            <p class="desc text-break fw-normal lh-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at condimentum risus, nec sodales libero. Nam vel fermentum tellus. Pellentesque tincidunt nisi non vestibulum volutpat. Aenean et urna sed lorem molestie maximus nec vitae eros. Suspendisse vel erat erat. Donec pellentesque, dui quis semper dignissim, massa urna ultricies elit, et finibus justo lacus eget nunc. Cras congue pretium lorem at interdum. Fusce eget augue ut tellus dictum fringilla. Suspendisse potenti. Phasellus venenatis, nisl non porttitor sollicitudin, dolor dolor facilisis diam, vitae pellentesque magna libero nec dui. Aliquam iaculis, risus id suscipit venenatis, massa urna venenatis purus, et dapibus eros lectus non massa. Suspendisse vehicula vitae libero eget finibus. Mauris nunc est, auctor in nulla eget, tristique varius metus. Quisque scelerisque vehicula urna, nec ultrices eros maximus ut. Maecenas dolor metus, varius et arcu eu, fermentum ullamcorper sapien.    
            </p>
            </div>
    </div>
</div>

    </center>
   {% endblock %}