{% extends 'nav_encoder.html' %}

{% block title %} Add Incident {% endblock %}

{% block content %}

<div class="content">
  {% if success_message %}
    <p class="alert alert-success">
        <strong>{{ success_message|safe }}</strong>
    </p>
  {% endif %}

  {% if error_message %}
    <p class="alert alert-danger">
        <strong>{{ error_message|safe }}</strong>
    </p>
  {% endif %}


  {% if messages %}
      {% for message in messages %}
          <p class="alert alert-danger">
            <strong>{{ message|safe }}</strong>
          </p>
  {% endfor %}

  {% else %}


      
      <form class="row" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-3 col">
              <input class="form-control" type="file" id="formFile" name="file" required>     
          </div>

          <div class="col">
              <button type="submit" class="btn btn-primary">Upload</button>
              <small>Only accepts CSV files</small>
          </div>
          
      </form>
  {% endif %}

 
  <!--Date-->
  <form action="{% url 'process_add_incident' %}" method="post" enctype="multipart/form-data">
    <!-- cross-site request forgery -->
    {% csrf_token %} 

    <div class="top-content">
      
      <p id='date'>
      <i class="fas fa-calendar-day" id="date-today-icon"></i>
      <b id="date-today" name="date-today">Today: </b><span id="ct6"></span>
      </p>
    </div>
    <!--Incident Details-->
      <div class="card">
      <div class="separator">Incident Details</div>
      </div>


    <div class="incident-details">
    
    <div class="card-incident">
      <div class="item">Date Commited: <input type="date" id="DateCommitted" name="DateCommitted" class="form-field" required></div>
      <input type="text" name="day_of_the_week" id="day_of_the_week" class="form-field" hidden>
      <input type="text" name="week" id="week" class="form-field" hidden >


      <div class="item">Time Commited: <input type="time" id="currentTime" name="currentTime" class="form-field" required></div>

      <div class="item">Collision Type: <select name="collision_type" id="collision_type" class="form-field">
      <option value="">Choose Collision Type</option>
      <option value="Angle Collision">Angle Collision</option>
        <option value="Bumped From Behind">Bumped From Behind</option>
        <option value="Clash">Clash</option>
        <option value="Damage to Property">Damage to Property</option>
        <option value="Head On">Head On</option>
        <option value="Hit and Run">Hit and Run</option>
        <option value="Hit Animals">Hit Animals</option>
        <option value="Hit Object On Road">Hit Object On Road</option>
        <option value="Hit Object Off Road">Hit Object Off Road</option>
        <option value="Hit Parked Vehicle">Hit Parked Vehicle</option>
        <option value="Hit Pedestrian">Hit Pedestrian</option>
        <option value="Hit While Parked">Hit While Parked</option>
        <option value="Multi Vehicle">Multi Vehicle</option>
        <option value="Rear End">Rear End</option>
        <option value="Self Accident">Self Accident</option>
        <option value="Impact">Impact</option>
        <option value="Sideswiped">Sideswiped</option>
        <option value="Side Impact">Side Impact</option>
        <option value="Right Angle">Right Angle</option>
        <option value="Others">Others</option>
      </select></div>

      <div class="item">Weather: <select name="weather" id="weather" class="form-field">
      <option value="">Choose Weather</option>
        <option value="Sun">Sun</option>
        <option value="Fair">Fair</option>
        <option value="Light Rain">Light Rain</option>
        <option value="Rainy">Rainy</option>
        <option value="Wind">Wind</option>
        </select>
      </div>

      <div class="item">Surface Type: <select name="surface_type" id="surface_type" class="form-field">
      <option value="">Choose Surface Type</option>
        <option value="Asphalt">Asphalt</option>
        <option value="Concrete">Concrete</option>
        <option value="Soil">Soil</option>
      </select></div>

      <div class="item">Road Character: <select name="road_character" id="road_character" class="form-field">
      <option value="">Choose Road Character</option>
         <option value="Straight Flat">Straight/Flat</option>
         <option value="Straight Incline">Straight/Incline</option>
        <option value="Curve">Curve</option>
        <option value="Curve Incline">Curve/Incline</option>
        <option value="Upwards">Upwards</option>
        <option value="Downwards">Downwards</option>
      </select></div>

      <div class="item">Surface Condition: <select name="surface_condition" class="form-field">
      <option value="">Choose Surface Condition</option>
        <option value="Dry">Dry</option>
        <option value="Wet">Wet</option>
        <option value="Sand">Sand</option>
      </select></div>

       <div class="item">Road Repair: <input type="radio" name="road-repair" id="road-yes" value="Yes">
          <label for="road-yes">Yes</label>
          <input type="radio" name="road-repair" id="road-no" value="No">
          <label for="road-no">No</label>
        </div>

      <div class="item">Case Status: <select name ="case_status" class="form-field">
      <option value="">Choose Case Status</option>
         <option value="Solved">Solved</option>
         <option value="Unsolved">Unsolved</option>
      </select></div>

      <div class="item">Hit and Run: <input type="radio" name="hit-and-run" id="hit-yes" value="Yes">
          <label for="hit-yes">Yes</label>
          <input type="radio" name="hit-and-run" id="hit-no" value="No">
          <label for="hit-no">No</label> </div>

      <div class="item">Investigator's Name: <input type="text" name="inv_name" class="form-field"></div>
      <div class="item">Offense: <br>

        <table id ="tbl_offense">
          <tr>
            <td>
              <input type="checkbox" class="chk_offense" value="Damage to Property"><label> Damage to Property</label>
              <input type="checkbox" class="chk_offense" value="Physical Injury"><label> Physical Injury</label><br>
            </td>
          </tr>

          <tr>
            <td>
              <input type="checkbox" class="chk_offense" value="Self Accident"><label> Self Accident</label>
              <input type="checkbox" class="chk_offense" value ="Homicide"><label> Homicide</label><br>
            </td>
          </tr>
        </table>
        <div class="item"> <input type="text" id="display_offense" name ="display_offense" class="form-field" hidden></div>

      </div>

     </div>
     
    </div>

    <!--Place commited-->
    <div class="card">
      <div class="separator">Location Details</div>
      </div>
      <form>
    <div class="incident-details">
    
    <div class="card-incident">
      <div class="item">City: <input type="text" value="Pasig City" class="form-field" readonly></div>

      <div class="item">Barangay: <select name="barangay" id="barangay" class="form-field" onchange="selectdistrict(event)">
      <option disabled="true" selected>Choose a Barangay</option>

      {% for brgy in brgy_list %}
          <option value="{{brgy.id}}">{{brgy.Barangay}} </option>

      {% endfor %}

      </select></div>
      
      <div class="item">District: <input type="text" id="district" name="district" value="" class="form-field" readonly></div>
    
      <script>
        function selectdistrict(e){

          if (e.target.value == "19"||e.target.value == "20"||e.target.value == "21"||e.target.value == "22"||e.target.value == "23"
          ||e.target.value == "24"||e.target.value == "26"||e.target.value == "25"){
            var barangay = document.getElementById('district').value="2";
          }
          else{
            var barangay = document.getElementById('district').value="1";
          }
        }
      </script>
      <div class="item">Place Commited: <input type="text" id="place_committed" name="place_committed" class="form-field"></div>
      <div class="item">Along: <input type="text" id="Along" class="form-field"></div>
      <div class="item">Corner: <input type="text" id="Corner" class="form-field"></div>
     </div>
    </div>

    <!--Person(s) Involved-->
    
    <div class="card">
      <div class="separator">Person(s) Involved</div>
      </div>
      <div class="title">Suspect</div>
      <form>
    <div class="incident-details">
    
    <!--Suspect-->
    <div class="card-incident">
      <div class="item">Name: <input type="text" name="sus_name" class="form-field"></div>
      <div class="item">Age: <input type="number" name="sus_age" class="form-field"></div>
      <div class="item">Address: <input type="text" name="sus_add" class="form-field"></div>
      <div class="item">Civil Status: <select name="sus_civil_status" id="sus_civil_status" class="form-field">
      <option value="">Choose Civil Status</option>
      <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Widowed">Widowed</option>
        <option value="Separated">Separated</option>
        <option value="Divorced">Divorced</option>
        </select>
      </div>
      <div class="item">Sex: <input type="radio" name="s_sex" id="s_male" value="Male">
          <label for="s_male">Male</label>
          <input type="radio" name="s_sex" id="s_female" value="Female">
          <label for="s_female">Female</label>
          </div>
          
     <div class="item">Driver's License: <input type="text" name="sus_drl" class="form-field"></div>

      <div class="item">Suspect Type: <select class="form-field" id="vic_type" name="vic_type">
      <option value="">Choose Type</option>
        <option value="Driver">Driver</option>
        <option value="Passenger">Passenger</option>
        <option value="Pedestrian">Pedestrian</option>
      </select></div>

      <div class="item">Expiration Date: <input type="date" class="form-field"></div>
      <div class="item">Vehicle Brand/Model: <input type="text" name="sus_vehicle" class="form-field"></div>

      <div class="item">Body Type: <select class="form-field" name="sus_vehicle_body_type">
      <option value="">Choose Case Status</option>
          <option value="Armored Car">Armored Car</option>
          <option value="Alto">Alto</option>
          <option value="Bicycle">Bicycle</option>
          <option value="Private Bus">Private Bus</option>
          <option value="PUB - Public Utility Bus">PUB - Public Utility Bus</option>
          <option value="Cab Chassis ">Cab Chassis </option>
          <option value="Coupe">Coupe</option>
          <option value="Electric Bike">Electric Bike</option>
          <option value="Jitney">Jitney</option>
          <option value="Hatchback">Hatchback</option>
          <option value="Motorcycle">Motorcycle</option>
          <option value="MTC/MC">MTC/MC</option>
          <option value="Object">Object</option>
          <option value="Pedicab">Pedicab</option>
          <option value="PUJ/PUB/PUV - (Public Utility Bus/Public Utility Jeep/Public Utility Vehicle)">PUJ/PUB/PUV - (Public Utility Bus/Public Utility Jeep/Public Utility Vehicle)</option>
          <option value="PUJ - Public Utility Jeep">PUJ - Public Utility Jeep</option>
          <option value="PUV- Public Utility Vehicle">PUV- Public Utility Vehicle</option>
          <option value="Sedan">Sedan</option>
          <option value="S-CUV">S-CUV</option>
          <option value="Shuttle">Shuttle</option>
          <option value="SUV">SUV</option>
          <option value="Tricycle">Tricycle</option>
          <option value="Train">Train</option>
          <option value="Truck">Truck</option>
          <option value="Trailer">Trailer</option>
          <option value="Unidentified">Unidentified</option>
          <option value="Pick-Up">Pick-Up</option>
          <option value="Minivan">Minivan</option>
          <option value="Van">Van</option>
          <option value="Wagon">Wagon</option>
          <option value="Cart">Cart</option>
          <option value="Unidentified">Unidentified</option>
          <option value="Shuttle">Shuttle</option>
          <option value="Modern Jeepney">Modern Jeepney</option>
          <option value="Others">Others</option>
      </select></div>

      <div class="item">Registered Owner: <input type="text" name="sus_reg_owner" class="form-field"></div>
      <div class="item">Plate Number: <input type="text" name="sus_plate_no" class="form-field"></div>

      <div class="item">Severity Status: <select name="sus_severity" class="form-field">
      <option value="">Choose Suspect's Severity Status</option>
      <option value="Unharmed">Unharmed</option>
      <option value="Harmed">Harmed</option>
      <option value="Injured">Injured</option>
      <option value="Self Accident">Self Accident</option>
      <option value="Deceased">Deceased</option>
      <option value="Identified">Identified</option>
      <option value="Not Interested to Report">Not Interested to Report</option>
      <option value="Arrested">Arrested</option>
      <option value="Escaped">Escaped</option>
      <option value="Unidentified">Unidentified</option>
      </select></div></div></div>

      <section></section>

      <div class="title">Victim(s)</div>
     
    <div class="incident-details">
    <!--Victim-->
    <div class="card-incident">
      <div class="item">Name: <input type="text" name="vic_name" class="form-field"></div>
      <div class="item">Age: <input type="number" name="vic_age" class="form-field"></div>
      <div class="item">Address: <input type="text" name="vic_add" class="form-field"></div>

      <div class="item">Civil Status: <select name="vic_civil_status" id="vic_civil_status" class="form-field">
      <option value="">Choose Civil Status</option>
      <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Widowed">Widowed</option>
        <option value="Separated">Separated</option>
        <option value="Divorced">Divorced</option>
        </select>
      </div>

      <div class="item">Sex: <input type="radio" name="v_sex" id="v_male" value="Male">
          <label for="v_male">Male</label>
          <input type="radio" name="v_sex" id="v_female" value="Female">
          <label for="v_female">Female</label>
          </div>
     <div class="item">Driver's License: <input type="text" name="vic_drl" class="form-field"></div>
      <div class="item">Type: <select class="form-field">
      <option value="">Choose Type</option>
        <option value="Driver">Driver</option>
        <option value="Passenger">Passenger</option>
        <option value="Pedestrian">Pedestrian</option>
      </select></div>
      <div class="item">Expiration Date: <input type="date" class="form-field"></div>
      <div class="item">Vehicle Brand/Model: <input type="text" name="vic_vehicle" class="form-field"></div>

    
      <div class="item">Body Type: <select name="vic_vehicle_body_type" class="form-field">
      <option value="">Choose Body Type</option>
      <option value="Armored Car">Armored Car</option>
      <option value="Alto">Alto</option>
      <option value="Bicycle">Bicycle</option>
      <option value="Private Bus">Private Bus</option>
      <option value="PUB - Public Utility Bus">PUB - Public Utility Bus</option>
      <option value="Cab Chassis ">Cab Chassis </option>
      <option value="Coupe">Coupe</option>
      <option value="Electric Bike">Electric Bike</option>
      <option value="Jitney">Jitney</option>
      <option value="Hatchback">Hatchback</option>
      <option value="Motorcycle">Motorcycle</option>
      <option value="MTC/MC">MTC/MC</option>
      <option value="Object">Object</option>
      <option value="Pedicab">Pedicab</option>
      <option value="PUJ/PUB/PUV - (Public Utility Bus/Public Utility Jeep/Public Utility Vehicle)">PUJ/PUB/PUV - (Public Utility Bus/Public Utility Jeep/Public Utility Vehicle)</option>
      <option value="PUJ - Public Utility Jeep">PUJ - Public Utility Jeep</option>
      <option value="PUV- Public Utility Vehicle">PUV- Public Utility Vehicle</option>
      <option value="Sedan">Sedan</option>
      <option value="S-CUV">S-CUV</option>
      <option value="Shuttle">Shuttle</option>
      <option value="SUV">SUV</option>
      <option value="Tricycle">Tricycle</option>
      <option value="Train">Train</option>
      <option value="Truck">Truck</option>
      <option value="Trailer">Trailer</option>
      <option value="Unidentified">Unidentified</option>
      <option value="Pick-Up">Pick-Up</option>
      <option value="Minivan">Minivan</option>
      <option value="Van">Van</option>
      <option value="Wagon">Wagon</option>
      <option value="Cart">Cart</option>
      <option value="Unidentified">Unidentified</option>
      <option value="Shuttle">Shuttle</option>
      <option value="Modern Jeepney">Modern Jeepney</option>
      <option value="Others">Others</option>
  </select></div>

  <div class="item">Registered Owner: <input type="text" name="sus_reg_owner" class="form-field"></div>
  <div class="item">Plate Number: <input type="text" name="sus_plate_no" class="form-field"></div>

  <div class="item">Severity Status: <select name="sus_severity" class="form-field">
  <option value="">Choose Suspect's Severity Status</option>
  <option value="Unharmed">Unharmed</option>
  <option value="Harmed">Harmed</option>
  <option value="Injured">Injured</option>
  <option value="Self Accident">Self Accident</option>
  <option value="Deceased">Deceased</option>
  <option value="Identified">Identified</option>
  <option value="Not Interested to Report">Not Interested to Report</option>
  <option value="Arrested">Arrested</option>
  <option value="Escaped">Escaped</option>
  <option value="Unidentified">Unidentified</option>
  </select></div>

      <div class="item">Registered Owner: <input type="text" name="vic_reg_owner" class="form-field"></div>
      <div class="item">Plate Number: <input type="text" name="vic_plate_no" class="form-field"></div>

      <div class="item">Severity Status: <select name="vic_severity" class="form-field">
      <option value="">Choose Victim's Severity Status</option>
      <option value="Unharmed">Unharmed</option>
      <option value="Harmed">Harmed</option>
      <option value="Injured">Injured</option>
      <option value="Self Accident">Self Accident</option>
      <option value="Deceased">Deceased</option>
      <option value="Identified">Identified</option>
      <option value="Not Interested to Report">Not Interested to Report</option>
      <option value="Arrested">Arrested</option>
      <option value="Escaped">Escaped</option>
      <option value="Unidentified">Unidentified</option>
      </select>
     </div>
    </div>
    
</div>
  <center><input type="button" value="(+)&nbsp;&nbsp;Add another victim" id="add_victim"></center>
    <div class="card">
      <div class="separator">Narrative Description of the Incident</div>
     <textarea class="narrative" name="narrative" placeholder="A brief description of what happened or its details. . ." style="resize: none"></textarea> 
    <center><button id="submit_form" type="submit" value="">Submit </button></center>
    </div>
  </form>

</div>


  <script type="text/javascript">
    $(document).ready(function(){

      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });

      $('.chk_offense').click(function(){
        var selected_offense = new Array();
        var chk_tbl_offense = document.getElementById("tbl_offense");
        var selchk = chk_tbl_offense.getElementsByTagName("input");

        for (var i=0; i<selchk.length; i++) {
          if(selchk[i].checked){
            selected_offense.push(selchk[i].value);
          }
        }

        if(selected_offense.length>0){
          document.getElementById('display_offense').value=selected_offense; 
        }
      });

      $('#DateCommitted').change(function(){
        
        dt_committed =  document.getElementById('DateCommitted').value;
        dt = new Date(dt_committed);
        day = dt.getDay();

        year = new Date(dt.getFullYear(),0,1);
        numberOfDays = Math.floor((dt - year) / (24 * 60 * 60 * 1000));
        week = Math.ceil(( dt.getDay() + 1 + numberOfDays) / 7);
         

        document.getElementById('week').value = week;

        if(day==0){
          document.getElementById('day_of_the_week').value = "Sunday";
        }

        if(day==1){
          document.getElementById('day_of_the_week').value = "Monday";
        }

        if(day==2){
          document.getElementById('day_of_the_week').value = "Tuesday";
        }

        if(day==3){
          document.getElementById('day_of_the_week').value = "Wednesday";
        }

        if(day==4){
          document.getElementById('day_of_the_week').value = "Thursday";
        }

        if(day==5){
          document.getElementById('day_of_the_week').value = "Friday";
        }
        
        if(day==6){
          document.getElementById('day_of_the_week').value = "Saturday";
        }
      
      });


    });

  </script>
  
    <script>
      var today = new Date();
      var time = today.getHours() + ":" + today.getMinutes();
        document.getElementById("currentTime").value = time;
    </script>

  </form>
  
{% endblock %}

{% block jquery %} 

{% endblock %}




