{% extends 'nav_encoder.html' %}

{% block title %} Add Incident {% endblock %}

{% block content %}

<div class="content">
  <!--Date-->
  <form action="{% url 'process_add_incident' %}" method="post" enctype="multipart/form-data">
 <!-- cross-site request forgery -->
 {% csrf_token %} 

    <div class="top-content">
      
      <p id='date'>
      <i class="fas fa-calendar-day" id="date-today-icon"></i>
      <b id="date-today" name="date-today">Today: </b><span id="ct6"></span>
      </p>
    </div>
    <!--Incident Details-->
      <div class="card">
      <div class="separator">Incident Details</div>
      </div>


    <div class="incident-details">
    
    <div class="card-incident">
      <div class="item">Date Commited: <input type="date" id="DateCommitted" name="DateCommitted" class="form-field" onchange="dateFormat()"></div>
      <!-- <div class="item">Date Commited: <br><input type="date" id="DateCommittedFormatted" name="DateCommittedFormatted" class="form-field" placeholder="Date"></div> -->

      <div class="item">Time Commited: <input type="time" id="currentTime" class="form-field"></div>

      <div class="item">Collision Type: <select name="collision_type" id="collision_type" class="form-field">
      <option value="">Choose Collision Type</option>
      <option value="Angle Collision">Angle Collision</option>
        <option value="Bumped From Behind">Bumped From Behind</option>
        <option value="Clash">Clash</option>
        <option value="Damage to Property">Damage to Property</option>
        <option value="Head On">Head On</option>
        <option value="Hit and Run">Hit and Run</option>
        <option value="Hit Animals">Hit Animals</option>
        <option value="Hit Object On Road">Hit Object On Road</option>
        <option value="Hit Object Off Road">Hit Object Off Road</option>
        <option value="Hit Parked Vehicle">Hit Parked Vehicle</option>
        <option value="Hit Pedestrian">Hit Pedestrian</option>
        <option value="Hit While Parked">Hit While Parked</option>
        <option value="Multi Vehicle">Multi Vehicle</option>
        <option value="Rear End">Rear End</option>
        <option value="Self Accident">Self Accident</option>
        <option value="Impact">Impact</option>
        <option value="Sideswiped">Sideswiped</option>
        <option value="Side Impact">Side Impact</option>
        <option value="Right Angle">Right Angle</option>
        <option value="Others">Others</option>
      </select></div>

      <div class="item">Weather: <select name="weather" id="weather" class="form-field">
      <option value="">Choose Weather</option>
        <option value="Sun">Sun</option>
        <option value="Fair">Fair</option>
        <option value="Light Rain">Light Rain</option>
        <option value="Rainy">Rainy</option>
        <option value="Wind">Wind</option>
        </select>
      </div>

      <div class="item">Surface Type: <select name="surface_type" id="surface_type" class="form-field">
      <option value="">Choose Surface Type</option>
        <option value="Asphalt">Asphalt</option>
        <option value="Concrete">Concrete</option>
        <option value="Soil">Soil</option>
      </select></div>

      <div class="item">Road Character: <select name="road_character" id="road_character" class="form-field">
      <option value="">Choose Road Character</option>
         <option value="Straight Flat">Straight/Flat</option>
         <option value="Straight Incline">Straight/Incline</option>
        <option value="Curve">Curve</option>
        <option value="Curve Incline">Curve/Incline</option>
        <option value="Upwards">Upwards</option>
        <option value="Downwards">Downwards</option>
      </select></div>

      <div class="item">Surface Condition: <select name="surface_condition" class="form-field">
      <option value="">Choose Surface Condition</option>
        <option value="Dry">Dry</option>
        <option value="Wet">Wet</option>
        <option value="Sand">Sand</option>
      </select></div>

       <div class="item">Road Repair: <input type="radio" name="road-repair" id="road-yes" value="Yes">
          <label for="road-yes">Yes</label>
          <input type="radio" name="road-repair" id="road-no" value="No">
          <label for="road-no">No</label>
        </div>

      <div class="item">Case Status: <select name ="case_status" class="form-field">
      <option value="">Choose Case Status</option>
         <option value="Solved">Solved</option>
         <option value="Unsolved">Unsolved</option>
      </select></div>

      <div class="item">Hit and Run: <input type="radio" name="hit-and-run" id="hit-yes" value="Yes">
          <label for="hit-yes">Yes</label>
          <input type="radio" name="hit-and-run" id="hit-no" value="No">
          <label for="hit-no">No</label> </div>

      <div class="item">Investigator's Name: <input type="text" name="inv_name" class="form-field"></div>
      <div class="item">Offense: <br>

        <table id ="tbl_offense">
          <tr>
            <td>
              <input type="checkbox" id="Damage to Property" name="Damage to Property" value="Damage to Property"><label> Damage to Property</label>
              <input type="checkbox" id="Physical Injury" name="Physical Injury" value="Physical Injury"><label> Physical Injury</label><br>
            </td>
          </tr>

          <tr>
            <td>
              <input type="checkbox" id="Self Accident" name="Self Accident" value="Self Accident"><label> Self Accident</label>
              <input type="checkbox" id="Homicide" name="Homicide" value ="Homicide"><label> Homicide</label><br>
            </td>
          </tr>
        </table>
        <div class="item" id="display_offense">offense: <input type="text" id="display_offense" name ="display_offense" class="form-field" value=""></div>

      </div>

     </div>
     
    </div>

    <!--Place commited-->
    <div class="card">
      <div class="separator">Location Details</div>
      </div>
      <form>
    <div class="incident-details">
    
    <div class="card-incident">
      <div class="item">City: <input type="text" value="Pasig City" class="form-field" readonly></div>

      <div class="item">Barangay: <select name="barangay" id="barangay" class="form-field" onchange="selectdistrict(event)">
      <option disabled="true" selected>Choose a Barangay</option>
      <!-- {% for brgy in brgy_list %}
      <option> {{ brgy }} </option>

      {% endfor %} -->
      <option value="2">Bagong Ilog</option>
      <option value="5">Bagong Katipunan</option>
      <option value="3">Bambang</option>
      <option value="27">Buting</option>
      <option value="4">Caniogan</option>
      <option value="6">Kalawaan</option>
      <option value="7">Kapasigan</option>
      <option value="8">Kapitolyo</option>
      <option value="9">Malinao</option>
      <option value="10">Oranbo</option>
      <option value="11">Palatiw</option>
      <option value="Pineda">Pineda</option>
      <option value="12">Sagad</option>
      <option value="13">San Antonio</option>
      <option value="14">San Joaquin</option>
      <option value="15">San Jose</option>
      <option value="16">San Nicolas</option>
      <option value="29">Santa Cruz</option>
      <option value="30">Santa Rosa</option>
      <option value="17">Santo Tomas</option>
      <option value="18">Sumilang</option>
      <option value="1">Ugong</option>
      <option value="19">Dela Paz</option>
      <option value="20">Manggahan</option>
      <option value="21">Maybunga</option>
      <option value="22">Pinagbuhatan</option>
      <option value="23">Rosario</option>
      <option value="24">San Miguel</option>
      <option value="26">Santolan</option>
      <option value="25">Santa Lucia</option>
      </select></div>
      
      <div class="item">District: <input type="text" id="district" name="district" value="" class="form-field" readonly></div>
    
      <script>
      function selectdistrict(e){

        if (e.target.value == "Dela Paz"||e.target.value == "Manggahan"||e.target.value == "Maybunga"||e.target.value == "Pinagbuhatan"||e.target.value == "Rosario"
        ||e.target.value == "San Miguel"||e.target.value == "Santolan"||e.target.value == "Santa Lucia"){
          var barangay = document.getElementById('district').value="2";
        }
        else{
          var barangay = document.getElementById('district').value="1";
        }
       }
      </script>
      <div class="item">Place Commited: <input type="text" id="place_committed" name="place_committed" class="form-field"></div>
      <div class="item">Along: <input type="text" id="Along" class="form-field"></div>
      <div class="item">Corner: <input type="text" id="Corner" class="form-field"></div>
     </div>
    </div>

    <!--Person(s) Involved-->
    
    <div class="card">
      <div class="separator">Person(s) Involved</div>
      </div>
      <div class="title">Suspect</div>
      <form>
    <div class="incident-details">
    
    <!--Suspect-->
    <div class="card-incident">
      <div class="item">Name: <input type="text" name="sus_name" class="form-field"></div>
      <div class="item">Age: <input type="number" name="sus_age" class="form-field"></div>
      <div class="item">Address: <input type="text" name="sus_add" class="form-field"></div>
      <div class="item">Civil Status: <select name="sus_civil_status" id="sus_civil_status" class="form-field">
      <option value="">Choose Civil Status</option>
      <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Widowed">Widowed</option>
        <option value="Separated">Separated</option>
        <option value="Divorced">Divorced</option>
        </select>
      </div>
      <div class="item">Sex: <input type="radio" name="s_sex" id="s_male" value="Male">
          <label for="s_male">Male</label>
          <input type="radio" name="s_sex" id="s_female" value="Female">
          <label for="s_female">Female</label>
          </div>
          
     <div class="item">Driver's License: <input type="text" name="sus_drl" class="form-field"></div>
      <div class="item">Type: <select class="form-field">
      <option value="">Choose Type</option>
        <option value="Driver">Driver</option>
        <option value="Passenger">Passenger</option>
        <option value="Pedestrian">Pedestrian</option>
      </select></div>

      <div class="item">Expiration Date: <input type="date" class="form-field"></div>
      <div class="item">Vehicle Brand & Model: <input type="text" name="sus_vec_model" class="form-field"></div>

    
      <div class="item">Body Type: <select class="form-field" name="sus_vehicle_body_type">
      <option value="">Choose Case Status</option>
         <option value="Armored Car">Armored Car</option>
          <option value="Alto">Alto</option>
          <option value="Bicycle">Bicycle</option>
          <option value="Bus">Bus</option>
          <option value="Cab Chassis ">Cab Chassis </option>
          <option value="Coupe">Coupe</option>
          <option value="Electric Bike">Electric Bike</option>
          <option value="Jitney">Jitney</option>
          <option value="Hatchback">Hatchback</option>
          <option value="Motorcycle">Motorcycle</option>
          <option value="MTC/MC">MTC/MC</option>
          <option value="Object">Object</option>
          <option value="Pedicab">Pedicab</option>
          <option value="PUJ/PUB/PUV - (Public Utility Bus/Public Utility Jeep/Public Utility Vehicle)">PUJ/PUB/PUV - (Public Utility Bus/Public Utility Jeep/Public Utility Vehicle)</option>
          <option value="Sedan">Sedan</option>
          <option value="S-CUV">S-CUV</option>
          <option value="Shuttle">Shuttle</option>
          <option value="SUV">SUV</option>
          <option value="Tricycle">Tricycle</option>
          <option value="Train">Train</option>
          <option value="Truck">Truck</option>
          <option value="Truck/Trailer">Truck/Trailer</option>
          <option value="Unidentified">Unidentified</option>
          <option value="Pick-Up">Pick-Up</option>
          <option value="Minivan">Minivan</option>
          <option value="Van">Van</option>
          <option value="Wagon">Wagon</option>
          <option value="Ice Cream Cart">Ice Cream Cart</option>
          <option value="Unidentified">Unidentified</option>
          <option value="Shuttle Body">Shuttle Body</option>
          <option value="Trike ">Trike </option>
          <option value="Modern Jeepney">Modern Jeepney</option>
          <option value="Others">Others</option>
      </select></div>

      <div class="item">Registered Owner: <input type="text" name="sus_reg_owner" class="form-field"></div>
      <div class="item">Plate Number: <input type="text" name="sus_plate_no" class="form-field"></div>

      <div class="item">Severity Status: <select name="sus_severity" class="form-field">
      <option value="">Choose Suspect's Severity Status</option>
      <option value="Unharmed">Unharmed</option>
      <option value="Harmed">Harmed</option>
      <option value="Injured">Injured</option>
      <option value="Self Accident">Self Accident</option>
      <option value="Deceased">Deceased</option>
      <option value="Identified">Identified</option>
      <option value="Not Interested to Report">Not Interested to Report</option>
      <option value="Arrested">Arrested</option>
      <option value="Escaped">Escaped</option>
      <option value="Unidentified">Unidentified</option>
      </select></div></div></div>

      <section></section>

      <div class="title">Victim(s)</div>
     
    <div class="incident-details">
    <!--Victim-->
    <div class="card-incident">
      <div class="item">Name: <input type="text" name="vic_name" class="form-field"></div>
      <div class="item">Age: <input type="number" name="vic_age" class="form-field"></div>
      <div class="item">Address: <input type="text" name="vic_add" class="form-field"></div>

      <div class="item">Civil Status: <select name="vic_civil_status" id="vic_civil_status" class="form-field">
      <option value="">Choose Civil Status</option>
      <option value="Single">Single</option>
        <option value="Married">Married</option>
        <option value="Widowed">Widowed</option>
        <option value="Separated">Separated</option>
        <option value="Divorced">Divorced</option>
        </select>
      </div>

      <div class="item">Sex: <input type="radio" name="v_sex" id="v_male" value="Male">
          <label for="v_male">Male</label>
          <input type="radio" name="v_sex" id="v_female" value="Female">
          <label for="v_female">Female</label>
          </div>
     <div class="item">Driver's License: <input type="text" name="vic_drl" class="form-field"></div>
      <div class="item">Type: <select class="form-field">
      <option value="">Choose Type</option>
        <option value="Driver">Driver</option>
        <option value="Passenger">Passenger</option>
        <option value="Pedestrian">Pedestrian</option>
      </select></div>
      <div class="item">Expiration Date: <input type="date" class="form-field"></div>
      <div class="item">Vehicle Brand & Model: <input type="text" name="vic_vec_model" class="form-field"></div>

    
      <div class="item">Body Type: <select name="vic_vehicle_body_type" class="form-field">
      <option value="">Choose Body Type</option>
         <option value="Armored Car">Armored Car</option>
          <option value="Alto">Alto</option>
          <option value="Bicycle">Bicycle</option>
          <option value="Bus">Bus</option>
          <option value="Cab Chassis ">Cab Chassis </option>
          <option value="Coupe">Coupe</option>
          <option value="Electric Bike">Electric Bike</option>
          <option value="Jitney">Jitney</option>
          <option value="Hatchback">Hatchback</option>
          <option value="Motorcycle">Motorcycle</option>
          <option value="MTC/MC">MTC/MC</option>
          <option value="Object">Object</option>
          <option value="Pedicab">Pedicab</option>
          <option value="PUJ/PUB/PUV - (Public Utility Bus/Public Utility Jeep/Public Utility Vehicle)">PUJ/PUB/PUV - (Public Utility Bus/Public Utility Jeep/Public Utility Vehicle)</option>
          <option value="Sedan">Sedan</option>
          <option value="S-CUV">S-CUV</option>
          <option value="Shuttle">Shuttle</option>
          <option value="SUV">SUV</option>
          <option value="Tricycle">Tricycle</option>
          <option value="Train">Train</option>
          <option value="Truck">Truck</option>
          <option value="Truck/Trailer">Truck/Trailer</option>
          <option value="Unidentified">Unidentified</option>
          <option value="Pick-Up">Pick-Up</option>
          <option value="Minivan">Minivan</option>
          <option value="Van">Van</option>
          <option value="Wagon">Wagon</option>
          <option value="Ice Cream Cart">Ice Cream Cart</option>
          <option value="Unidentified">Unidentified</option>
          <option value="Shuttle Body">Shuttle Body</option>
          <option value="Trike ">Trike </option>
          <option value="Modern Jeepney">Modern Jeepney</option>
          <option value="Others">Others</option>
      </select></div>

      <div class="item">Registered Owner: <input type="text" name="vic_reg_owner" class="form-field"></div>
      <div class="item">Plate Number: <input type="text" name="vic_plate_no" class="form-field"></div>

      <div class="item">Severity Status: <select name="vic_severity" class="form-field">
      <option value="">Choose Victim's Severity Status</option>
      <option value="Unharmed">Unharmed</option>
      <option value="Harmed">Harmed</option>
      <option value="Injured">Injured</option>
      <option value="Self Accident">Self Accident</option>
      <option value="Deceased">Deceased</option>
      <option value="Identified">Identified</option>
      <option value="Not Interested to Report">Not Interested to Report</option>
      <option value="Arrested">Arrested</option>
      <option value="Escaped">Escaped</option>
      <option value="Unidentified">Unidentified</option>
      </select>
     </div>
    </div>
    
</div>
  <center><input type="button" value="(+)&nbsp;&nbsp;Add another victim" id="add_victim"></center>
    <div class="card">
      <div class="separator">Narrative Description of the Incident</div>
     <textarea class="narrative" name="narrative" placeholder="A brief description of what happened or its details. . ." style="resize: none"></textarea> 
    <center><button id="submit_form" type="submit" value="">Submit </button></center>
    </div>
  </form>

</div>
  <script>
    function chkBtn_OffenseValues() {
     

    }

    function dateFormat(){

      var dt = new Date();
        document.getElementById('DateCommitted').innerhtml = dt;
        document.getElementById('DateCommittedFormatted').innerhtml = [dt.getFullYear, dt.getMonth, dt.getDate].join("-");
    }
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });

      $('#submit_form').click(function(){
        var selected_offense = new Array();
        var chk_tbl_offense = document.getElementById("tbl_offense");
        var selchk = chk_tbl_offense.getElementsByTagName("input");

        for (var i=0; i<selchk.length; i++) {
          if(selchk[i].checked){
            selected_offense.push(selchk[i].value);
          }
        }
        if(selected_offense.length>0){
          console.log(selected_offense);
         // document.getElementById('display_offense').innerHTML=selected_offense;
         var tryyyy =  document.getElementById('display_offense').value=selected_offense;

          alert(selected_offense);
          alert(tryyyy)
        }

        

        var incident_date = document.getElementById("DateCommitted").value;
        alert(incident_date);

        });

    });
    </script>
  
    <script>
      var today = new Date();
      var time = today.getHours() + ":" + today.getMinutes();
        document.getElementById("currentTime").value = time;
    </script>

  </form>
  
{% endblock %}

{% block jquery %} 

{% endblock %}




