{% extends 'nav_admin.html' %}

{% block title %} Member Profile {% endblock %}
{% block design %}
<style>
    .table {
        background-color: white;
        border-radius: 15px !important;
        box-shadow: 0 0.5rem 1rem 0 rgba(167, 167, 167, 0.164);  
    }

    .rad_tl { border-top-left-radius: 15px !important; }
    .rad_tr { border-top-right-radius: 15px !important; }
    th { cursor: pointer; }

   .view-pass {
    cursor: pointer;
    color: #1b5082;
  }
</style>
{% endblock %}
{% block content %}

<!-- Login required and permission access of users (Should be placed after the opening block content) -->
{% if request.session.authorized_id %}
    {% for a in all %}
        {% ifequal a.id request.session.authorized_id %}
            {% if a.Members_User.Member_Type == 'Admin' %} 
                <!-- body (no need to paste anything here) -->
	          {% else %}
                <script>
                    window.location.href = '{% url 'error_page' %}';  
                </script>
            
            {% endif %}
        {% endifequal %}
    {% endfor %}

{% elif request.session.public_id %}
    {% if request.session.public_id %}
        {% for b in pub %}
            {% ifequal b.id request.session.public_id %} 
                <script>
            	 window.location.href = '{% url 'error_page' %}';
        	</script>
            {% endifequal %}
        {% endfor %}

    {% else %}
        <script>
            window.location.href = '{% url 'login_required' %}';
        </script>
    {% endif %}
    
{% else %}
    <script>
        window.location.href = '{% url 'login_required' %}';  
    </script>
{% endif %}
<div class="container">
<!-- Upper Section (Maayos spacing hehe) -->
<section style="height: 25px;"></section>

<div class="section">
<h3 style="font-family: Roboto, sans-serif; color: #1b5082;">
<a href="{% url 'admin_list_members' %}"" style="text-decoration: none; color: #1b5082">Member Details</a> 
<span style="font-size: 20px;">| &nbsp; {{members.Members_Fname }} {{members.Members_Lname }}</span>
</h3>

<section style="height: 40px;"></section>

<!-- Main Content -->
<div class="container">
<div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <section style="height: 50px"></section>
                <img src="/media/{{ members.Members_Pic}}" alt="Profile Picture" class="rounded-circle" style="width: 205px; height: 205px; object-fit: cover">
                <div class="mt-3">
                  <h4>{{members.Members_Fname }} {{members.Members_Lname }}</h4>
                  <p class="text-secondary mb-1"><span class="badge rounded-pill 
                    {% if members.Members_User.Member_Type  == 'Admin'%} bg-custom4 
                    {% elif members.Members_User.Member_Type  == 'Crime Statistician'%} bg-custom2 
                    {% elif members.Members_User.Member_Type  == 'Investigator'%} bg-custom 
                    {% else %} bg-custom3  
                    {% endif %}">{{members.Members_User }}</span>&nbsp; | &nbsp;{{members.Members_Position }}</p>
                    <p class="text-muted font-size-sm">@{{members.Members_Username }}</p>
                  <section style="height: 40px"></section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body" style="padding-left: 50px; padding-right: 50px; padding-top: 35px; padding-bottom: 35px;">

              <section style="height: 10px"></section>
              <label style="text-transform: uppercase; font-size:11px; letter-spacing: 1px; font-weight: bold; color: #1b5082;">OTHER INFORMATION</label>
              <section style="height: 35px"></section>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Department</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{members.Members_Dept }} Department
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Substation</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{members.Members_Substation }}
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">District</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{members.Members_District }} District
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{members.Members_Email }}
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="password" id="password" class="text-secondary view-pass" value="{{members.Members_Password }}" style="border: none; outline: none; background-color: transparent;" readonly>
                  <i class="bi bi-eye-slash view-pass" id="togglePassword"></i>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Date Added</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{members.Date_Added }} &nbsp; | &nbsp; By {{ members.Added_By }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<section style="height: 40px;"></section>

<h3 style="font-family: Roboto, sans-serif; color: #1b5082;">Cases Assigned &nbsp;</h3>

<section style="height: 20px;"></section>


<div class="table-responsive"> 
  <table id="tbl_1" class="table table-hover table-borderless" style="font-family: 'Roboto', sans-serif; font-size: 15px; background-color: white;">
  <thead class="table-primary">
    <th scope="col" class="rad_tl">Incident ID</th>
    <th onclick="sortTable(0)">Incident Type <i class="fas fa-sort mt-1 ms-2"></i></th>
    <th onclick="sortTable(1)">Barangay Comitted <i class="fas fa-sort mt-1 ms-2"></i></th>
    <th onclick="sortTable(2)">Date and Time <i class="fas fa-sort mt-1 ms-2"></i></th>
    <th onclick="sortTable(3)">Suspect <i class="fas fa-sort mt-1 ms-2"></i></th>
    <th onclick="sortTable(4)">Victim <i class="fas fa-sort mt-1 ms-2"></i></th>
    <th>Case Status</th>
  </thead>
  <tbody>
  {% if cases %}
  {% for case in cases %}
    <tr>
      <th scope="row">{{ case.id }}</th>
      <td>{{ case.Incident_Type }}</td>
      <td>{{ case.Barangay_id.Barangay }}</td>
      <td>{{ case.Date }} - {{ case.Time }}</td>
      <td>{{case.Suspect_Fname}} {{case.Suspect_Lname}}</td>
      <td>{{case.Victim_Fname}} {{case.Victim_Lname}}</td>
      <td>{{ case.Case_Status }}</td>
    </tr>
  {% endfor %}

  {% else %}
    <tr>
      <td colspan="8" style="text-align: center;">Nothing to show! No records have been added yet.</td>
    </tr>
  {% endif %}

  </tbody>
</table>

</div>
<div class="row">
  <div class="col-8">
      <ul class="pagination">
          {% if cases.has_previous %}

              <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
              <li class="page-item"><a class="page-link" href="?page= {{cases.previous_page_number}}">Previous</a></li>
          {% endif %}

          {% if cases.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{cases.next_page_number }}">Next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{cases.paginator.num_pages}}">Last</a></li>
          {% endif %}
          </ul>
  </div>
</div>

<section style="height: 50px;"></section>
<script>
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("tbl_1");
    switching = true;
    dir = "asc"; 
    
    while (switching) {
      switching = false;
      rows = table.rows;
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch= true;
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true;
            break;
          }
        }
      }
      if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;      
      } else {
        
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>

<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye / eye slash icon
    this.classList.toggle('bi-eye');
});
</script>
{% endblock %}