{% extends 'nav_admin.html' %}

{% block title %} Audit Trail {% endblock %}

{% block design %}
<style>
     .table {
        background-color: white;
        border-radius: 15px !important;
        box-shadow: 0 0.5rem 1rem 0 rgba(167, 167, 167, 0.164);  
    }

    .rad_tl { border-top-left-radius: 15px !important; }
    .rad_tr { border-top-right-radius: 15px !important; }
    th { cursor: pointer; }

</style>
{% endblock %}

{% block content %}

<!-- Login required and permission access of users (Should be placed after the opening block content) -->
{% if request.session.authorized_id %}
    {% for a in all %}
        {% ifequal a.id request.session.authorized_id %}
            {% if a.Members_User.Member_Type == 'Admin' %} 
                <!-- body (no need to paste anything here) -->

	          {% else %}
                <script>
                    window.location.href = '{% url 'error_page' %}';  
                </script>
                
            {% endif %}
        {% endifequal %}
    {% endfor %}

{% elif request.session.public_id %}
    {% if request.session.public_id %}
        {% for b in pub %}
            {% ifequal b.id request.session.public_id %} 
                <script>
            	 window.location.href = '{% url 'error_page' %}';
        	</script>
            {% endifequal %}
        {% endfor %}

    {% else %}
        <script>
            window.location.href = '{% url 'login_required' %}';
        </script>
    {% endif %}
    
{% else %}
    <script>
        window.location.href = '{% url 'login_required' %}';  
    </script>
{% endif %}

{% if searched %}
      <p class="alert alert-primary">
          <strong>Showing the results for "{{ searched }}"</strong>
      </p>
{% endif %}

<div class="container">

  <section style="height: 25px;"></section>

  <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style="float: right;">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" onclick="location.href = '/audit/members'">
    <label class="btn btn-outline-primary" for="btnradio1">Members</label>
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"  onclick="location.href = '/audit/genpub'" checked> 
    <label class="btn btn-outline-primary" for="btnradio2">General Public</label>
  </div>
  <div class="section"><h3 style="font-family: Roboto, sans-serif; color: #1b5082;">Audit Trail
  <section style="height: 35px;"></section>

    <!-- Search bar -->
    <form class="d-flex" method="POST">
      {% csrf_token %}
      <div class="input-group mb-3 mt-3">
          <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: white;"><i class="bi bi-search"></i></span>
          <input class="form-control me-2" name="searched" type="search" placeholder="Search a user's email address" style="font-family: 'Roboto', sans-serif">
          <button class="btn btn-outline-success" type="submit" style="transition: 0.5s;">Search</button>
      </div>
    </form>
  </div>

  <section style="height: 20px;"></section>


  <!-- Main Content -->
  <div class="table-responsive-sm" style="height: 510px; overflow-y: scroll;"> 
    <table id="tbl_1" class="table table-hover table-borderless" >
      <thead>
        <tr class="table-primary">
          <th onclick="sortTable(0)" scope="col" class="rad_tl">User ID</th>
          <th onclick="sortTable(0)" scope="col">Name <i class="fas fa-sort mt-1 ms-2"></i></th>
          <th onclick="sortTable(1)" scope="col">Email address <i class="fas fa-sort mt-1 ms-2"></i></th>
          <th onclick="sortTable(2)" scope="col">Role <i class="fas fa-sort mt-1 ms-2"></i></th>
          <th onclick="sortTable(3)" scope="col">Timestamp <i class="fas fa-sort mt-1 ms-2"></i></th>
          <th scope="col" class="rad_tr">Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for log in audits %}
          {% for pub in public %}
            {%  if pub.gen_username == log.username %}
        <tr>
          <th scope="row">{{ pub.id }}</th>
          <td>{{ pub.gen_fname }} {{ pub.gen_surname }}</td>
          <td>{{ log.username }}</td>
          <td><span class="badge rounded-pill 
            {% if pub.gen_sex  == 'Female'%} bg-custom4
            {% elif pub.gen_sex  == 'Male'%} bg-custom3 
            {% else %} bg-custom
            {% endif %}">General Public</span></td>
          <td class="text-muted">{{ log.date_logged_in }}</td>
          <td><a href="{% url 'audit_genpub' log.id %}" style="text-decoration: none;">
            <i class="fas fa-eye"></i>&nbsp; View</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% empty %} 
        <tr>
          <td colspan="6" style="text-align: center;">Nothing to show! No records have been added yet.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <section style="height: 10px;"></section>

  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("tbl_1");
      switching = true;
      dir = "asc"; 
      
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;      
        } else {
          
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
</script>

    <script>
      var today = new Date();
      var time = today.getHours() + ":" + today.getMinutes();
        document.getElementById("currentTime").value = time;
    </script>

{% endblock %}

{% block jquery %} 

{% endblock %}
