{% extends 'nav_admin.html' %}

{% block title %} Archived Members {% endblock %}
{% block design %}
<style>
    .table {
        background-color: white;
        border-radius: 15px !important;
        box-shadow: 0 0.5rem 1rem 0 rgba(167, 167, 167, 0.164);  
    }

    .rad_tl { border-top-left-radius: 15px !important; }
    .rad_tr { border-top-right-radius: 15px !important; }
    th { cursor: pointer; }

    /* Bagong dagdag - 10-26-2021 */
    @media screen and (max-width: 550px) {
      .btn-outline-primary {
        display: none;
      }
    }
</style>
{% endblock %}
{% block content %}

<!-- Login required and permission access of users (Should be placed after the opening block content) -->
{% if request.session.authorized_id %}
    {% for a in all %}
        {% ifequal a.id request.session.authorized_id %}
            {% if a.Members_User.Member_Type == 'Admin' %} 
                <!-- body (no need to paste anything here) -->

	          {% else %}
                <script>
                    window.location.href = '{% url 'error_page' %}';  
                </script>
                
            {% endif %}
        {% endifequal %}
    {% endfor %}

{% elif request.session.public_id %}
    {% if request.session.public_id %}
        {% for b in pub %}
            {% ifequal b.id request.session.public_id %} 
                <script>
            	 window.location.href = '{% url 'error_page' %}';
        	</script>
            {% endifequal %}
        {% endfor %}

    {% else %}
        <script>
            window.location.href = '{% url 'login_required' %}';
        </script>
    {% endif %}
    
{% else %}
    <script>
        window.location.href = '{% url 'login_required' %}';  
    </script>
{% endif %}

<!-- Search message -->
{% if searched %}
      <p class="alert alert-primary">
          <strong>Showing the results for "{{ searched }}"</strong>
      </p>
{% endif %}

<!-- Alert messages -->
{% if messages %}
     {% for message in messages %}
     {% if message.tags  == 'error' %}
     <p class="alert alert-danger" role="alert">
      <strong>{{message}}</strong>
     </p>
     {% else %}
     <p class="alert alert-success" role="alert">
      <strong>{{message}}</strong>
     </p>
     {% endif %}
     {% endfor %}
{% endif %}

<div class="container">
  <div class="section">
    <!-- Title section -->
    <h3 style="font-family: Roboto, sans-serif; color: #1b5082;">Archived Members&nbsp;</h3>

  <section style="height: 35px;"></section>

    <!-- Search bar -->
    <form class="d-flex" method="POST">
      {% csrf_token %}
      <input class="form-control me-2" name="searched" type="search" placeholder="Search a member" style="font-family: 'Roboto', sans-serif">
      <button class="btn btn-outline-success" type="submit" style="transition: 0.5s;">Search</button>
    </form>
  </div>

  <section style="height: 20px;"></section>

  <!-- Main Content -->
  <div class="table-responsive"> 
    <table id="tbl_1" class="table table-hover table-borderless" style="font-family: 'Roboto',sans-serif; font-size: 15px;">
    <thead class="table-primary">
      <th scope="col" class="rad_tl" onclick="sortTable(0)">No.</th>
      <th >Photo</th>
      <th onclick="sortTable(1)">Name <i class="fas fa-sort mt-1 ms-2"></i></th>
      <th onclick="sortTable(2)">Member Type <i class="fas fa-sort mt-1 ms-2"></i></th>
      <th onclick="sortTable(3)">Department <i class="fas fa-sort mt-1 ms-2"></i></th>
      <th onclick="sortTable(4)">Substation <i class="fas fa-sort mt-1 ms-2"></i></th>
      <th class="rad_tr">Operation</th>
    </thead>
    <tbody>
    {% for member in members %}
    <tr>

      <th scope="row">{{ forloop.counter }}</th>
      <td style="text-align: center;"><img src="media/{{ member.Members_Pic }}" alt="Profile Picture" style="width: 80px; height: 80px; object-fit: cover; border-radius: 50%;"> </td> 
      <td><a href="{% url 'view_members' member.id %}" class="link-primary" style="text-decoration: none;">{{ member.Members_Fname }} {{ member.Members_Lname }}</a></td>
      <td><span class="badge rounded-pill 
        {% if member.Members_User.Member_Type  == 'Admin'%} bg-custom4 
        {% elif member.Members_User.Member_Type  == 'Crime Statistician'%} bg-custom2 
        {% elif member.Members_User.Member_Type  == 'Investigator'%} bg-custom 
        {% else %} bg-custom3  
        {% endif %}">{{member.Members_User}}</span></td>
      <td>{{ member.Members_Dept }}</td>
      <td>{{ member.Members_Substation }}</td>
     <td>
        <!-- Dropdown menu-->
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="width: 80px; border-radius: 50px;">
            More
          </button>
          <ul class="dropdown-menu" style="width: 80px; font-size: 14px;">
            <li><a class="dropdown-item" href="{% url 'view_members' member.id %}">View profile</a></li>
            <li><a class="dropdown-item" href="{% url 'unarchive_member' member.id %}" style="color: #d9534f" onclick="return confirm('Are you sure you want to unarchive this member?');">Unarchive member</a></li>
          </ul>
        </div>
      </td>
      </tr>
      <!-- <tr>
     empty tag
      <td colspan="8" style="text-align: center;">Nothing to show! No records have been added yet.</td>
    </tr> -->
    {% endfor %}
    </tbody>
  </table>
</div>

<!-- Unarchive members (new) -->
<div>
    <a href="{% url 'admin_list_members' %}" class="text-primary" style="float: right; text-decoration: none;">
      <i class="fas fa-user-friends"></i>&nbsp;
      <span>Back to Member List</span>
    </a> 
  </div>

  <ul class="pagination">
    {% if members.has_previous %}

        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page= {{members.previous_page_number}}">Previous</a></li>
    {% endif %}

    {% if members.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{members.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{members.paginator.num_pages}}">Last</a></li>
    {% endif %}
  </ul>
  

  <section style="height: 50px;"></section>

  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("tbl_1");
      switching = true;
      dir = "asc"; 
      
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;      
        } else {
          
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
</script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.nav_btn').click(function(){
        $('.mobile_nav_items').toggleClass('active');
      });

    });
    </script>

{% endblock %}

{% block jquery %} 

{% endblock %}