{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  
   {% block design %} {% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <!-- Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!-- Favicon & Icons -->
    <link rel="shortcut icon" href="{% static 'image/logo1.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Animations-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Roadcast | {% block title %} {% endblock %}</title>
  </head>
  
  <body>
        <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container px-5">
            <img src="static/image/logo1.png" style="width: 33px; margin-right: 8px;">
            <a class="navbar-brand" href="{% url 'index' %}"><b>ROAD<span style="color: #19B3D3;">CAST</b></span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    
                    <li class="nav-item"><a class="nav-link" href="{% url 'about_us' %}">About Us &nbsp;  </a></li>
                    <li class="nav-item"><a class="nav-link" href="/aboutus#contactus">Contact Us &nbsp; </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login &nbsp;  | </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'sign_up' %}">Signup &nbsp;  </a></li>
                </ul>
            </div>
        </div>
    </nav>

         {% block content %} {% endblock %}
         
    <script>
        $(document).ready(function(){
            {% block jquery %} {% endblock %}
        })
    </script> 

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
</body>
</html>