{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
 

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  
   {% block design %} {% endblock %}

   
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/roadcast_about_us.css' %}">

    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    
    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    
    <title>Roadcast | {% block title %} {% endblock %}</title>


</head>

<body>
    <!-- Navbar -->     
      
   <header class = "header">
    <nav class = "navbar navbar-style">
        <div class = "container1">
            <div class = "navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#micon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                  <img class ="logo" src=" {% static 'image/logo1.png' %} " readonly> <STRONG> ROADCAST</STRONG>
            </div>
                <div class="collapse navbar-collapse" id="micon">
                  <ul class="nav navbar-nav navbar-right">
                    <li> <a href="{%url 'index'%}"> Home </a> </li>
                    <li> <a href="{%url 'about_us'%}"> About Us </a> </li>
                    <li> <a href="{%url 'contact_us'%}"> Contact Us </a> </li>
                  </ul>
                </div>
         </div>
    </nav>
      <div > 
        <img src= {% static 'image/bg3.jpg' %} style=" width:100%; display: repeat">
      <div class="About-title">
                <label class="About-1">About</label>
                <label class="About-2"> Us</label><br>
            </div>
                <label class="About-minor">Get in touch with Pasig city's police stations!</label>
    </div>
  
       {% block content %} {% endblock %}

       
    <script>
        $(document).ready(function(){
            {% block jquery %} {% endblock %}
        })
    </script> 
 
 </body>
 </html>