{% extends 'base_contactus.html' %}

{% block title %} Contact Us | Numbers {% endblock %}

{% block design %} {% endblock %}

{% block content %}
    <!-- content -->
<center>
    <div class="container, img-bg">
        <img src="static/image/4.jpg" alt="Contact Us" style="max-width: 100%; height: auto; display: block;">

        <div class="contact-title">
        <label class="contact-1">Contact</label>
        <label class="contact-2"> Us</label><br>
        </div>
        <label class="contact-minor">Get in touch with Pasig city's police stations!</label>
    </div>

    <div class="white-contain" style="display: grid;">
        <div class="substation-c">
            <b class="bold">Pasig City Police Substation 1</b><br>
            <i id="contact-icon" class="fas fa-map-marker-alt"></i>
            <i class="italic">Meralco Ave.,Brgy. San Antonio</i><br>
            <i id="contact-icon" class="fas fa-phone-alt"></i>
            <a href="tel:85320652" class="block-content">(8)532-0652</a><br>
            <i id="contact-icon" class="fas fa-mobile"></i>
            <a href="tel:09084003039" class="block-content">(+63)908-400-3039</a>
        </div>

        <br>
        <div class="gmap_canvas" style="height: 200px; margin-top: -10px;"></div>

        <div class="substation-c">
            <b class="bold">Pasig City Police Substation 2</b><br>
            <i id="contact-icon" class="fas fa-map-marker-alt"></i>
            <i class="italic">N/A</i><br>
            <i id="contact-icon" class="fas fa-phone-alt"></i>
            <a href="tel:86562716" class="block-content">(8)656-2716</a><br>
            <i id="contact-icon" class="fas fa-mobile"></i>
            <a href="tel:09052138371" class="block-content">(+63)905-213-8371</a>
        </div>

        <br>
        <div class="gmap_canvas" style="height: 200px; margin-top: -10px;"></div>

        <div class="substation-c">
            <b class="bold">Pasig City Police Substation 3</b><br>
            <i id="contact-icon" class="fas fa-map-marker-alt"></i>
            <i class="italic">N/A</i><br>
            <i id="contact-icon" class="fas fa-phone-alt"></i>
            <a href="tel:86327605" class="block-content">(8)632-7605</a><br>
            <i id="contact-icon" class="fas fa-mobile"></i>
            <a href="tel:09324127035" class="block-content">(+63)932-412-7035</a>
        </div>

        <br>
        <div class="gmap_canvas" style="height: 200px; margin-top: -10px;"></div>

        <div class="substation-c">
            <b class="bold">Pasig City Police Substation 4</b><br>
            <i id="contact-icon" class="fas fa-map-marker-alt"></i>
            <i class="italic">N/A</i><br>
            <i id="contact-icon" class="fas fa-phone-alt"></i>
            <a href="tel:89194662" class="block-content">(8)9194662</a><br>
            <i id="contact-icon" class="fas fa-mobile"></i>
            <a href="tel:09215574398" class="block-content">(+63)921-557-4398</a>
        </div>

        <br>
        <div class="gmap_canvas" style="height: 200px; margin-top: -10px;"></div>

        <div class="substation-c">
            <b class="bold">Pasig City Police Substation 5</b><br>
            <i id="contact-icon" class="fas fa-map-marker-alt"></i>
            <i class="italic">N/A</i><br>
            <i id="contact-icon" class="fas fa-phone-alt"></i>
            <a href="tel:89425401" class="block-content">(8)942-5401</a><br>
            <i id="contact-icon" class="fas fa-mobile"></i>
            <a href="tel:09638980362" class="block-content">(+63)963-898-0362</a>
        </div>

        <br>
        <div class="gmap_canvas" style="height: 200px; margin-top: -10px;"></div>

        <div class="substation-c">
            <b class="bold">Pasig City Police Substation 6</b><br>
            <i id="contact-icon" class="fas fa-map-marker-alt"></i>
            <i class="italic">M Eusebio Ave., Brgy., San Miguel</i><br>
            <i id="contact-icon" class="fas fa-phone-alt"></i>
            <a href="tel:82960723" class="block-content">(8)296-0723</a><br>
            <i id="contact-icon" class="fas fa-mobile"></i>
            <a href="tel:09466454210" class="block-content">(+63)946-645-4210</a>
        </div>

        <br>
        <div class="gmap_canvas" style="height: 200px; margin-top: -10px;"></div>

        <div class="substation-c">
            <b class="bold">Pasig City Police Substation 7</b><br>
            <i id="contact-icon" class="fas fa-map-marker-alt"></i>
            <i class="italic">N/A</i><br>
            <i id="contact-icon" class="fas fa-phone-alt"></i>
            <a href="tel:89451629" class="block-content">(8)945-1629</a><br>
            <i id="contact-icon" class="fas fa-mobile"></i>
            <a href="tel:09153616109" class="block-content">(+63)915-361-6109</a>
        </div>

        <br>
        <div class="gmap_canvas" style="height: 200px; margin-top: -10px;"></div>

        <div class="substation-c">
            <b class="bold">Pasig City Police Substation 8</b><br>
            <i id="contact-icon" class="fas fa-map-marker-alt"></i>
            <i class="italic">N/A</i><br>
            <i id="contact-icon" class="fas fa-phone-alt"></i>
            <a href="tel:82753342" class="block-content">(8)275-3342</a><br>
            <i id="contact-icon" class="fas fa-mobile"></i>
            <a href="tel:09675136988" class="block-content">(+63)9675-136-988</a>
        </div>

        <br>
        <div class="gmap_canvas" style="height: 200px; margin-top: -10px;"></div>


        </div>
</center>
    {% endblock %}