{% extends 'nav_main.html' %}

{% block title %} Contact Us {% endblock %}

{% block design %} {% endblock %}

{% block content %}   
    <div class="container img-bg">
        <img src="static/image/4.jpg" alt="Contact Us" style="max-width: 100%; height: auto; display: block;">

        <div class="contact-title">
        <label class="contact-1">Contact</label>
        <label class="contact-2"> Us</label><br>
        </div>
        <label class="contact-minor">Get in touch with Pasig city's police stations!</label>
    </div>

    <center>
    <div class="white-contain">
        <div class="block-1">
            <i class="fas fa-phone-volume"></i><br>
            <p class="block-title">
                Call Us
            </p>
            <p>
            <a href="tel:85347699" class="block-content">
                (8)534-7699
            </a></p>
            <p>
            <a href="tel:09218922950" class="block-content">
                (+63)921-892-2950
            </a></p>
        </div>

        <div class="block-2">
            <i class="fas fa-envelope"></i><br>
            <p class="block-title">
                Email Us
            </p>
            <p class="text-wrap">
            <a href="mailto:pnp.pasigcity@gmail.com?subject=Get%20in%20touch" class="block-content">
                pnp.pasigcity@gmail.com
            </a></p>
        </div>

        <div class="block-3">
            <a href="{%url 'contact_no' %}"><i id="see-more" class="fas fa-arrow-circle-right" title="See more" style="cursor: pointer;"></i></a>
        </div>
    </div>

    <div class="send-report">
        <div class="send-title">
            <i id="paper-icon" class="fas fa-paste"></i><br>
            <label class="send-1">Send a</label>
            <label class="send-2"> Report</label><br>
            <p class="report-explain">Want to send a report to Pasig City Police Station of an incident that had just occured? </p><br>
<center><a class="btn" href="{% url 'submit_report' %}" role="button" id="submit_form">Report an Incident</a></center>

        </div>
    </div>

    <label class="send-1">See</label>
    <label class="send-2">Location &nbsp;</label>

    <div class="white-contain-2">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=620&amp;height=400&amp;hl=en&amp;q=pasig city police headquarters&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</center>
  {% endblock %}