{% extends 'nav_encoder.html' %}

{% block title %} Incidents List {% endblock %}

{% block design %}
<style>
    th, .table-header, .page-title {
        color: #050087;
    }
    .input-group{
        display: flex;
        width:100%px;
    }
</style>

{% endblock %}

{% block content %}
    <div class="row mb-4 mt-2">
        <div class="col-3">
            <span class="me-2 fs-4 fw-bold page-title"> Incident Reports List </span>
        </div>

        <div class="col-8">
            <form action="">
                <div class="input-group input-group-sm ">
                    <form action = "" method="GET">
                    <div class="input-group mb-3">
                   
                    <select class="form-select" id="inputGroupSelect02" name="coltype" > 
                        <option value="0" selected>Collision type</option>
                        <option value="Bumped From Behind">Bumped From Behind</option>
                        <option value="Angle Collision">Angle Collision</option>
                        <option value="Clash">Clash</option>
                        <option value="Damage to Property">Damage to Property</option>
                        <option value="Head On">Head On</option>
                        <option value="Hit and Run">Hit and Run</option>
                        <option value="Hit Animals">Hit Animals</option>
                        <option value="Hit Object On Road">Hit Object On Road</option>
                        <option value="Hit Object Off Road">Hit Object Off Road</option>
                        <option value="Hit Parked Vehicle">Hit Parked Vehicle</option>
                        <option value="Hit Pedestrian">Hit Pedestrian</option>
                        <option value="Hit While Parked">Hit While Parked</option>
                        <option value="Multi Vehicle">Multi Vehicle</option>
                        <option value="Rear End">Rear End</option>
                        <option value="Self Accident">Self Accident</option>
                        <option value="Impact">Impact</option>
                        <option value="Sideswiped">Sideswiped</option>
                        <option value="Side Impact">Side Impact</option>
                        <option value="Right Angle">Right Angle</option>
                        <option value="Others">Others</option>
                    </select>
                    
                    
                    <select class="form-select" id="inputGroupSelect02" name="barangay">
                        <option value="0" selected>Barangay</option>
                        <option value="2">Bagong Ilog</option>
                        <option value="5">Bagong Katipunan</option>
                        <option value="3">Bambang</option>
                        <option value="27">Buting</option>
                        <option value="4">Caniogan</option>
                        <option value="6">Kalawaan</option>
                        <option value="7">Kapasigan</option>
                        <option value="8">Kapitolyo</option>
                        <option value="9">Malinao</option>
                        <option value="10">Oranbo</option>
                        <option value="11">Palatiw</option>
                        <option value="27">Pineda</option>
                        <option value="12">Sagad</option>
                        <option value="13">San Antonio</option>
                        <option value="14">San Joaquin</option>
                        <option value="15">San Jose</option>
                        <option value="16">San Nicolas</option>
                        <option value="29">Santa Cruz</option>
                        <option value="30">Santa Rosa</option>
                        <option value="17">Santo Tomas</option>
                        <option value="18">Sumilang</option>
                        <option value="1">Ugong</option>
                        <option value="19">Dela Paz</option>
                        <option value="20">Manggahan</option>
                        <option value="21">Maybunga</option>
                        <option value="22">Pinagbuhatan</option>
                        <option value="23">Rosario</option>
                        <option value="24">San Miguel</option>
                        <option value="26">Santolan</option>
                        <option value="25">Santa Lucia</option>
                    </select>
                    <input type="date" class="form-select" value="currentTime" id="inputGroupSelect02">
                    <input type="time" class="form-select" id="inputGroupSelect02"> 
                   <input type="submit">
                    </div>
                   
                </div>
                
            </form>
        </div>
    </div>
    {% if pasig_incident_list %}
        <div class="table-responsive">
            <!-- <table class="table table-bordered table-striped table-hover text-center"> -->
            <table class="table table-hover " style="background-color: white;">

                <thead>
                    <tr>
                        {% comment %} <th class="table-header"></th> {% endcomment %}
                        <th class="table-header">Blotter ID</th>
                        <th class="table-header">Incident Type</th>
                        <th class="table-header">Barangay Committed</th>
                        <th class="table-header">Date and Time Committed</th>
                        <th class="table-header">Case Status</th>
                        <th class="table-header">Operation</th>
                    </tr>
                </thead>

                <tbody>
                    {% for incident in pasig_incident_list %}
                    <tr>
                      {% comment %} <td> {{forloop.counter}}</td> {% endcomment %}


                      <td>{{incident.id}}</td>
                      <td>{{incident.Incident_Type}}</td>
                      <td>{{ incident.Barangay_id.Barangay }}</td>
                      <td>{{ incident.Date }} - {{ incident.Time }}</td>
                      <td>{{ incident.Case_Status }}</td>
                      <td> <a class="btn btn-outline-primary btn-sm" href="{% url 'incident_detail_view' incident.id %}" role="button">View &nbsp;<i class="bi bi-eye"></i></a></td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- if table has no data -->
        {% else %}
            <p>No records available.</p>
        {% endif %}

{% endblock %}