{% extends 'nav_admin.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyACS7G3CoYRTEAOy4vAUdPq1H08ueUoDXI"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBDduDl7VFOXL6knS8UuEvnbbLn4VlKAZQ"></script>

{% block title %} View Detail {% endblock %}

{% block design %}
    <style>
        body {
            background-color: #f8fcfd;
            position: relative;
            padding-right: 0;
            /* padding-left: 0; */
            margin-right: 2%;
        }
        .label-blue {
            text-transform: uppercase; 
            font-size:small; 
            letter-spacing: 0.5px; 
            font-weight: bold; 
            color: #1b5082;
        }

        .card {
            box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
            border-radius: 15px;
        }

        .card-header {
            --bs--bg-opacity:1
            background-color: #fff;
            border-radius: 13px 13px 0 0 !important;
            margin:0;
        }

        .gmap_iframe, .mapouter {
            border-radius: 15px !important;
            margin-bottom: -3px;
            margin-right: -1px;
        }
        .mapouter{
            overflow:hidden;
            background:none!important;
        }

        .form-control, .form-select {
            border-radius: 15px !important;
        }

        .chk_offense {
            
            font-size:small; 
            border-color: #ced4da !important; 
            border-radius: 10px !important;
            color: gray;
        }

        .container {
            /* position: absolute !important; */
            width: auto;
            top:35%;
            /* background-color: tomato;  */
            padding-left: 3%;
        }

        .page-title-row {
            position: absolute !important;
            width: auto;
            top:15%;
            padding-left: 3%;
        }

        .cover-bg {
            height: 200px !important;
            background-size: 100% auto;
            background-position: top !important;
            object-fit: cover;
            border-radius:50px 50px 0px 0px;
        }

        .page-title {
            text-transform: uppercase; 
            font-size:xx-large; 
            /* letter-spacing: 0.5px; 
            font-weight:bolder;  */
            color: white;
            text-shadow:1px 1px 3px #c6c6c6;
        }

        .page-subheading {
            /* text-transform: uppercase;  */
            font-size:medium; 
            letter-spacing: 0.5px; 
            font-weight: normal; 
            color: white;
            margin-left: 2px;
            text-shadow:1px 1px 3px #c6c6c6;"
        }

        .bg-custom {
            --bs-bg-opacity: 1;
            background-color: #0F4C81!important;
        }
        .bg-custom2 {
            --bs-bg-opacity: 1;
            background-color: #033FFF!important;
        }
        .bg-custom3 {
            --bs-bg-opacity: 1;
            background-color: #787A91!important;
        }
        .bg-custom4 {
            --bs-bg-opacity: 1;
            background-color: #FFA41B!important;
        }

        .inv-txt {
            border-style: none;
            background-color: transparent; 
            color: white;
            font-weight: bold;
            padding: 0;
            margin: 0;
        }

        .badge {
            padding-top: 1px;
            padding-bottom: 1px;
        }
        option {
           color: black !important;
        }

        .csv-btn:hover{
            border-radius: 15px;
            background-color: #033FFF;
            color:black !important;
            font-weight: normal;
        }

    </style>
{% endblock %}

{% block content %}

<!-- Login required and permission access of users (Should be placed after the opening block content) -->
{% if request.session.authorized_id %}
    {% for a in all %}
        {% ifequal a.id request.session.authorized_id %}
            {% if a.Members_User.Member_Type == 'Sub-representative' or a.Members_User.Member_Type == 'Investigator' %} 
                <!-- body (no need to paste anything here) -->

            {% else %}
                <script>
                    window.location.href = '{% url 'error_page' %}';  
                </script>
            {% endif %}

        {% endifequal %}
    {% endfor %}

{% elif request.session.public_id %}
    {% if request.session.public_id %}
        {% for b in pub %}
            {% ifequal b.id request.session.public_id %} 
                <!-- body (no need to paste anything here) -->
            {% endifequal %}
        {% endfor %}

    {% else %}
        <script>
            window.location.href = '{% url 'login_required' %}';
        </script>
    {% endif %}
    
{% else %}
    <script>
        window.location.href = '{% url 'login_required' %}';  
    </script>
{% endif %}

<div class="row header-img">
    <img src="/static/image/city.gif" class="img-fluid cover-bg" alt="Background Cover">
</div>

<div class="row page-title-row">
    <div class="col">
         <h3 class="page-title" style="text-shadow:1px 1px 3px #c6c6c6;">INCIDENT REPORT DETAILS <i class="bi bi-calendar2-check"></i>  </h3>
    </div>
</div>  

<script>
function initMap() {
    var myLatLng = { lat: {{pasig_incident_detail.Latitude}}, lng: {{pasig_incident_detail.Longitude}} };
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: {{pasig_incident_detail.Latitude}} , lng: {{pasig_incident_detail.Longitude}}},
      zoom: 17
    });
      new google.maps.Marker({
    position: myLatLng,
    map,
    title: "{{pasig_incident_detail.Address}}",
  });
    var input = document.getElementById('searchInput');
    //map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);

    var infowindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
    });
   

    autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
        }
  
        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
        }
        marker.setIcon(({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
        }));
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);
    
        var address = '';
        if (place.address_components) {
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }
    
        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        infowindow.open(map, marker);
      
        // Location details
       
        //document.getElementById('place_committed').value = place.formatted_address;
        document.getElementById('lat').value = place.geometry.location.lat();
        document.getElementById('lon').value = place.geometry.location.lng();
    });
}
</script>
    <!-- Upper Section (Maayos spacing hehe) -->
    
    <section style="height: 25px;"></section>
   

<div class="container">
    <div class="col mt-3">
        <!-- Open Map -->
        <div class="card mb-3" style="height: 350px;">
            <div class="mapouter" style="height: 100%;">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>
        </div>
        <!-- Close Map-->
    </div> 
    <fieldset disabled>
    <div class="row">
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <label class="label-blue"><i class="bi bi-info-circle-fill"></i> Incident Details</label>
                    <i class="bi bi-question-circle" style="color: #d3d3d3; float: right;"></i>
                </div>
                <div class="card-body">

                    <div class="row g-2 mb-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <select name="weather" id="weather" class="form-select form-select-sm">
                                    <option value="">Choose Weather</option>
                                    <option value="Sun" {% ifequal pasig_incident_detail.Weather 'Sun' %} selected {% endifequal %}>Sun</option>
                                    <option value="Fair" {% ifequal pasig_incident_detail.Weather 'Fair' %} selected {% endifequal %}>Fair</option>
                                    <option value="Light Rain" {% ifequal pasig_incident_detail.Weather 'Light Rain' %} selected {% endifequal %}>Light Rain</option>
                                    <option value="Rainy" {% ifequal pasig_incident_detail.Weather 'Rainy' %} selected {% endifequal %}>Rainy</option>
                                    <option value="Windy" {% ifequal pasig_incident_detail.Weather 'Windy' %} selected {% endifequal %}>Windy</option>
                                </select>  
                                <label for="" style="font-size: small;" class="text-muted">Weather</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select name="collision_type" id="collision_type" class="form-select form-select-sm">
                                    <option value=""></option>
                                    <option value="">Choose Collision Type</option>
                                    <option value="Angle Collision" {% ifequal pasig_incident_detail.Incident_Type 'Angle Collision' %} selected {% endifequal %}>Angle Collision</option>
                                    <option value="Bumped From Behind" {% ifequal pasig_incident_detail.Incident_Type 'Bumped From Behind' %} selected {% endifequal %}>Bumped From Behind</option>
                                    <option value="Clash" {% ifequal pasig_incident_detail.Incident_Type 'Clash' %} selected {% endifequal %}>Clash</option>
                                    <option value="Damage to Property" {% ifequal pasig_incident_detail.Incident_Type 'Damage to Property' %} selected {% endifequal %}>Damage to Property</option>
                                    <option value="Head On" {% ifequal pasig_incident_detail.Incident_Type 'Head On' %} selected {% endifequal %}>Head On</option>
                                    <option value="Hit and Run" {% ifequal pasig_incident_detail.Incident_Type 'Hit and Run' %} selected {% endifequal %}>Hit and Run</option>
                                    <option value="Hit Animals" {% ifequal pasig_incident_detail.Incident_Type 'Hit Animals' %} selected {% endifequal %}>Hit Animals</option>
                                    <option value="Hit Object On Road" {% ifequal pasig_incident_detail.Incident_Type 'Hit Object On Road' %} selected {% endifequal %} {% ifequal pasig_incident_detail.Incident_Type 'Sun' %} selected {% endifequal %}>Hit Object On Road</option>
                                    <option value="Hit Object Off Road" {% ifequal pasig_incident_detail.Incident_Type 'Hit Object Off Road' %} selected {% endifequal %} {% ifequal pasig_incident_detail.Incident_Type 'Sun' %} selected {% endifequal %}>Hit Object Off Road</option>
                                    <option value="Hit Parked Vehicle" {% ifequal pasig_incident_detail.Incident_Type 'Hit Parked Vehicle' %} selected {% endifequal %} {% ifequal pasig_incident_detail.Incident_Type 'Sun' %} selected {% endifequal %}>Hit Parked Vehicle</option>
                                    <option value="Hit Pedestrian" {% ifequal pasig_incident_detail.Incident_Type 'Hit Pedestrian' %} selected {% endifequal %} {% ifequal pasig_incident_detail.Incident_Type 'Sun' %} selected {% endifequal %}>Hit Pedestrian</option>
                                    <option value="Hit While Parked" {% ifequal pasig_incident_detail.Incident_Type 'Hit While Parked' %} selected {% endifequal %} {% ifequal pasig_incident_detail.Incident_Type 'Sun' %} selected {% endifequal %}>Hit While Parked</option>
                                    <option value="Multi Vehicle" {% ifequal pasig_incident_detail.Incident_Type 'Multi Vehicle' %} selected {% endifequal %} {% ifequal pasig_incident_detail.Incident_Type 'Sun' %} selected {% endifequal %}>Multi Vehicle</option>
                                    <option value="Rear End" {% ifequal pasig_incident_detail.Incident_Type 'Rear End' %} selected {% endifequal %} {% ifequal pasig_incident_detail.Incident_Type 'Sun' %} selected {% endifequal %}>Rear End</option>
                                    <option value="Self Accident" {% ifequal pasig_incident_detail.Incident_Type 'Self Accident' %} selected {% endifequal %}>Self Accident</option>
                                    <option value="Impact" {% ifequal pasig_incident_detail.Incident_Type 'Impact' %} selected {% endifequal %}>Impact</option>
                                    <option value="Sideswiped" {% ifequal pasig_incident_detail.Incident_Type 'Sideswiped' %} selected {% endifequal %}>Sideswiped</option>
                                    <option value="Side Impact" {% ifequal pasig_incident_detail.Incident_Type 'Side Impact' %} selected {% endifequal %}>Side Impact</option>
                                    <option value="Right Angle" {% ifequal pasig_incident_detail.Incident_Type 'Right Angle' %} selected {% endifequal %}>Right Angle</option>
                                    <option value="Others" {% ifequal pasig_incident_detail.Incident_Type 'Others' %} selected {% endifequal %}>Others</option>
                                
                                </select>
                                <label for="" style="font-size: small;" class="text-muted">Collision Type</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2 mb-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <select name="surface_type" id="surface_type" class="form-select form-select-sm">
                                    <option value=""></option>
                                    <option value="Asphalt" {% ifequal pasig_incident_detail.Surface_Type 'Asphalt' %} selected {% endifequal %}>Asphalt</option>
                                    <option value="Concrete" {% ifequal pasig_incident_detail.Surface_Type 'Concrete' %} selected {% endifequal %}>Concrete</option>
                                    <option value="Soil" {% ifequal pasig_incident_detail.Surface_Type 'Soil' %} selected {% endifequal %}>Soil</option>
                                </select>
                                <label for="" style="font-size: small;" class="text-muted">Surface Type</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select name="surface_condition" class="form-select form-select-sm">
                                    <option value=""></option>
                                    <option value="Dry" {% ifequal pasig_incident_detail.Surface_Condition 'Dry' %} selected {% endifequal %}>Dry</option>
                                    <option value="Wet" {% ifequal pasig_incident_detail.Surface_Condition 'Wet' %} selected {% endifequal %}>Wet</option>
                                    <option value="Sand" {% ifequal pasig_incident_detail.Surface_Condition 'Sand' %} selected {% endifequal %}>Sand</option>
                                </select>
                                <label for="" style="font-size: small;" class="text-muted">Surface Condition</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2 mb-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <select name="road_character" id="road_character" class="form-select form-select-sm">
                                    <option value=""></option>
                                    <option value="Straight Flat" {% ifequal pasig_incident_detail.Road_Character 'Straight Flat' %} selected {% endifequal %}>Straight/Flat</option>
                                    <option value="Straight Incline" {% ifequal pasig_incident_detail.Road_Character 'Straight Incline' %} selected {% endifequal %}>Straight/Incline</option>
                                    <option value="Curve" {% ifequal pasig_incident_detail.Road_Character 'Curve' %} selected {% endifequal %}>Curve</option>
                                    <option value="Curve Incline" {% ifequal pasig_incident_detail.Road_Character 'Curve Incline' %} selected {% endifequal %}>Curve/Incline</option>
                                    <option value="Upwards" {% ifequal pasig_incident_detail.Road_Character 'Upwards' %} selected {% endifequal %}>Upwards</option>
                                    <option value="Downwards" {% ifequal pasig_incident_detail.Road_Character 'Downwards' %} selected {% endifequal %}>Downwards</option>
                                </select>
                                <label for="" style="font-size: small;" class="text-muted">Road Character</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select name ="case_status" class="form-select form-select-sm">
                                    <option value=""></option>
                                    <option value="Solved" {% ifequal pasig_incident_detail.Case_Status 'Solved' %} selected {% endifequal %}>Solved</option>
                                    <option value="Unsolved" {% ifequal pasig_incident_detail.Case_Status 'Unsolved' %} selected {% endifequal %}>Unsolved</option>
                                </select>
                                <label for="" style="font-size: small;" class="text-muted">Case Status</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2 mb-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select form-select-sm" id="hit-and-run" name="hit-and-run">
                                    <option value=""></option>
                                    <option value="Yes" {% ifequal pasig_incident_detail.Hit_and_Run 'Yes' %} selected {% endifequal %}>Yes</option>
                                    <option value="No" {% ifequal pasig_incident_detail.Hit_and_Run 'No' %} selected {% endifequal %}>No</option>
                                </select>
                                <label for="" style="font-size: small;" class="text-muted">Hit and Run</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select form-select-sm" id="road-repair" name="road-repair">
                                    <option value=""></option>
                                    <option value="Yes" {% ifequal pasig_incident_detail.Road_Repair 'Yes' %} selected {% endifequal %}>Yes</option>
                                    <option value="No" {% ifequal pasig_incident_detail.Road_Repair 'No' %} selected {% endifequal %}>No</option>
                                </select>
                                <label for="" style="font-size: small;" class="text-muted">Road Repair</label>
                            </div>
                        </div>
                    </div>


                        <div class="col-12" style="background-color: none; display: grid !important;">
                            <div class="btn-group" role="">
                                <input type="checkbox" class="btn-check chk_offense_input" id="btncheck2" value="Physical Injury" autocomplete="off" {% if 'Physical Injury' in pasig_incident_detail.CrimeOffense %} checked {% endif %}>
                                <label class="btn btn-outline-primary chk_offense" for="btncheck2">Physical Injury</label>
                                
                                <input type="checkbox" class="btn-check chk_offense_input" id="btncheck3" value="Self Accident" autocomplete="off" {% if 'Self Accident' in pasig_incident_detail.CrimeOffense %} checked {% endif %}>
                                <label class="btn btn-outline-primary chk_offense" for="btncheck3">Self Accident</label>
                            </div>

                        </div> 

                        <div class="col-12 " style="background-color: none; display: grid !important;">
                            <div class="btn-group" role="" class="group-offense">
                                <input type="checkbox" class="btn-check chk_offense_input" id="btncheck4" value="Homicide" autocomplete="off" {% if 'Homicide' in pasig_incident_detail.CrimeOffense %} checked {% endif %}>
                                <label class="btn btn-outline-primary chk_offense" for="btncheck4">Homicide</label>

                                <input type="checkbox" class="btn-check chk_offense_input" id="btncheck1" value="Damage to Property" autocomplete="off" {% if 'Damage to Property' in pasig_incident_detail.CrimeOffense %} checked {% endif %}>
                                <label class="btn btn-outline-primary chk_offense" for="btncheck1">Damage to Property</label>
                            </div> 
                            <input type="text" id="display_offense" name ="display_offense" class="form-field" hidden>
                        </div>
                        
                
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-4">
          <div class="card">
            <div class="card-body" style="padding-bottom: 35px;">
                <div class="card-header">
                    <label class="label-blue"><i class="bi bi-geo-alt-fill"></i> Location Details</label>
                    <i class="bi bi-question-circle" style="color: #d3d3d3; float: right;"></i>
                </div>

                <div class="card-body">
                    <div class="row g-2 mb-3">
                        <div class="col-6">
                            <input type="text" name="city" value="{{pasig_incident_detail.City}}" placeholder ="Pasig City"class="form-control form-control-sm" readonly>
                        </div>
                        <div class="col-6">
                            <input type="text" id="district" name="district" value="{{pasig_incident_detail.District_id}}" placeholder="District"class="form-control form-control-sm" readonly>
                        </div>
                    </div>
                
                    <div class="form-floating mb-3">
                        <select name="barangay" id="barangay" class="form-select form-select-sm" onchange="selectdistrict(event)" required>
                            <option value=""></option>
                            {% for brgy in brgy_list %}
                                <option value="{{brgy.id}}" {% ifequal pasig_incident_detail.Barangay_id_id brgy.id %} selected {% endifequal %}>{{brgy.Barangay}} </option>
                            {% endfor %}
                        </select>                            
                        <label for="" style="font-size: small;" class="text-muted">Barangay</label>
                    </div>

                    <script>
                        function selectdistrict(e){
                
                            if (e.target.value == "19"||e.target.value == "20"||e.target.value == "21"||e.target.value == "22"||e.target.value == "23"
                            ||e.target.value == "24"||e.target.value == "26"||e.target.value == "25"){
                            var barangay = document.getElementById('district').value="2";
                            }
                            else{
                            var barangay = document.getElementById('district').value="1";
                            }
                        }
                    </script>

                    <div class="form-floating mb-3">
                        
                        <input type="text" id="searchInput" name="place_committed" class="form-control form-select-sm" value="{{pasig_incident_detail.Address}}">                         
                        <label for="" style="font-size: small;" class="text-muted">Place Committed</label>
                    </div>

                    <div class="row g-2 mb-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" name="along" value="{{pasig_incident_detail.Along}}" placeholder="Along" class="form-control form-control-sm">
                                <label for="" style="font-size: small;" class="text-muted">Along</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" id="corner" name="corner" value="{{pasig_incident_detail.Corner}}" placeholder="Corner" class="form-control form-control-sm">
                                <label for="" style="font-size: small;" class="text-muted">Corner</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2 mb-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="date" id="DateCommitted" name="DateCommitted" class="form-control-sm form-control" value="{{pasig_incident_detail.Date|date:'Y-m-d'}}"required>                                        
                                <label for="" style="font-size: small;" class="text-muted">Date Committed</label>
                                <input type="text" name="day_of_the_week" id="day_of_the_week" class="form-field" hidden>
                                <input type="text" name="week" id="week" class="form-field"  hidden>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="time" id="incidentTime" name="incidentTime" class="form-control-sm form-control text-nowrap overflow-hidden"value="{{ pasig_incident_detail.Time|date:'H:i' }}" required>                                        
                                <label for="" style="font-size: small;" class="text-muted">Time Committed</label>
                            </div>
                        </div>
                        <input type="text" id="lat" name="lat" placeholder="Latitude" value="{{ pasig_incident_detail.Latitude }}" class="form-control form-control-sm" hidden>
                        <input type="text" id="lon" name="lon" placeholder="Corner" value="{{ pasig_incident_detail.Longitude }}" class="form-control form-control-sm" hidden>



                    </div>
                    
                </div> <!--card body-->
            </div>
          </div>
        </div>
      </div>

  <!-- Script -->
    <script>
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes();
        document.getElementById("currentTime").value = time;
    </script>


    <!-- Prevent submitting again when reloaded -->
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>

    <!--For Forms-->
    <script type="text/javascript">
        $(document).ready(function(){

           brgy = document.getElementById("barangay").value;
          
    
            if (brgy == "19"||brgy == "20"||brgy == "21"||brgy == "22"||brgy == "23"
            ||brgy== "24"||brgy== "26"||brgy == "25"){
            var barangay = document.getElementById('district').value="2";
            }
            else{
            var barangay = document.getElementById('district').value="1";
            }
            
                           
    
          $('.nav_btn').click(function(){
            $('.mobile_nav_items').toggleClass('active');
          });
    
          $('#same_as_sus_name').click(function(){
            sus_fname = document.getElementById('sus_fname').value;
            sus_lname = document.getElementById('sus_lname').value; 
            document.getElementById('sus_reg_owner').value=sus_fname + " " +sus_lname; 

          });

          $('#same_as_vic_name').click(function(){
            vic_fname = document.getElementById('vic_fname').value;
            vic_lname = document.getElementById('vic_lname').value; 
            document.getElementById('vic_reg_owner').value=vic_fname + " " +vic_lname; 

          });

          $('.chk_offense_input').change(function(){
            var selected_offense = new Array();
            var selchk = document.getElementsByClassName("chk_offense_input")
    
            for (var i=0; i<selchk.length; i++) {
              if(selchk[i].checked){
                selected_offense.push(selchk[i].value);
              }
            }

            if(selected_offense.length>0){
              document.getElementById('display_offense').value=selected_offense; 
            }

            else {
                document.getElementById('display_offense').value=null;
            }

          });
    
          $('#DateCommitted').change(function(){
            
            dt_committed =  document.getElementById('DateCommitted').value;
            dt = new Date(dt_committed);
            day = dt.getDay();
    
            year = new Date(dt.getFullYear(),0,1);
            numberOfDays = Math.floor((dt - year) / (24 * 60 * 60 * 1000));
            week = Math.ceil(( dt.getDay() + 1 + numberOfDays) / 7);
             
    
            document.getElementById('week').value = week;
    
            if(day==0){
              document.getElementById('day_of_the_week').value = "Sunday";
            }
    
            if(day==1){
              document.getElementById('day_of_the_week').value = "Monday";
            }
    
            if(day==2){
              document.getElementById('day_of_the_week').value = "Tuesday";
            }
    
            if(day==3){
              document.getElementById('day_of_the_week').value = "Wednesday";
            }
    
            if(day==4){
              document.getElementById('day_of_the_week').value = "Thursday";
            }
    
            if(day==5){
              document.getElementById('day_of_the_week').value = "Friday";
            }
            
            if(day==6){
              document.getElementById('day_of_the_week').value = "Saturday";
            }
          
          });

          
    
    
        });
    
      </script>
   
    
<!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyACS7G3CoYRTEAOy4vAUdPq1H08ueUoDXI&callback=initMap"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBDduDl7VFOXL6knS8UuEvnbbLn4VlKAZQ&callback=initMap"></script>

   
  
{% endblock %}
  {% block jquery %} 
  
  {% endblock %}