{% extends 'nav_admin.html' %}
{% load static %}
{% block title %} My Reports {% endblock %}

{% block design %}
<style>
    th {
        color: #050087;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: 0;
    }
    .mailbox-widget .custom-tab .nav-item .nav-link {
        border: 0;
        color: #fff;
        border-bottom: 3px solid transparent;
    }
    .mailbox-widget .custom-tab .nav-item .nav-link.active {
        background: 0 0;
        color: #fff;
        border-bottom: 3px solid #2cd07e;
    }
    .no-wrap td, .no-wrap th {
        white-space: nowrap;
    }
    .table td, .table th {
        padding: .9375rem .4rem;
        vertical-align: top;
        border-top: 1px solid rgba(120,130,140,.13);
    }
    .font-light {
        font-weight: 300;
    
    }

    .link {
        text-decoration: none;
    }

    .controls-btn {
        width: 100px;
        background-color: violet;
    }
    .table {
        background-color: white;
        box-shadow: 0 0.5rem 1rem 0 rgba(167, 167, 167, 0.164);  
    }

    .img-1 {
        border-radius: 50%;
        height: 400px;
        width: 400px;
    }

    .no-msg {
        padding-top: 10px;
        color: #1b5082;
        font-weight: 500;
        font-size: 18px;
    }

    @media only screen and (max-width: 480px){
        .img-1 {
            border-radius: 50%;
            height: 350px;
            width: 350px;
        }

        .no-msg {
            font-size: 15px;
        }
    }

    @media only screen and (max-width: 415px){
        .img-1 {

            border-radius: 50%;
            height: 300px;
            width: 300px;
        }

        .no-msg {
            font-size: 13px;
        }
    }

    @media only screen and (max-width: 345px){
        .img-1 {
            border-radius: 50%;
            height: 260px;
            width: 260px;
        }

        .no-msg {
            font-size: 11px;
        }
    }
    

</style>

{% endblock %}

{% block content %}
<script>
$(document).ready(function(){
    $('button[data-bs-toggle="pill"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#pills-tab button[href="' + activeTab + '"]').tab('show');
    }
});
</script>
<!-- Login required and permission access of users (Should be placed after the opening block content) -->
{% if request.session.authorized_id %}
    {% for a in all %}
        {% ifequal a.id request.session.authorized_id %}
            {% if a.Members_User.Member_Type == 'Admin' or a.Members_User.Member_Type == 'Crime Statistician' or a.Members_User.Member_Type == 'Sub-representative' %} 
              <script>
                window.location.href = '{% url 'error_page' %}';
              </script>
            {% endif %}
        {% endifequal %}
    {% endfor %}

{% elif request.session.public_id %}
    {% if request.session.public_id %}
        {% for b in pub %}
            {% ifequal b.id request.session.public_id %} 
                <!-- body (no need to paste anything here) -->
            {% endifequal %}
        {% endfor %}

    {% else %}
        <script>
            window.location.href = '{% url 'login_required' %}';
        </script>
    {% endif %}
    
{% else %}
    <script>
        window.location.href = '{% url 'login_required' %}';  
    </script>
{% endif %}

{% if searched %}
<p class="alert alert-primary">
    <strong>Showing the results for "{{ searched }}"</strong>
</p>
{% endif %}

<div class="container"> 
    <div class="row">
        <ul class="nav nav-pills mb-3 flex-row" id="pills-tab" role="tablist">
            <li class="nav-item " role="presentation">
                <button class="active btn btn-outline-success btn-sm me-2 pe-4 ps-4" href="#pills-admin-replies" id="pills-admin-replies-tab" data-bs-toggle="pill" data-bs-target="#pills-admin-replies" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="bi bi-envelope-fill"></i>&nbsp; 
                    Main Inbox

                    {% for a in pub %}
                        {% ifequal a.id request.session.public_id %}
                            
                                {% if unread_notif_count > 0 %}
                                    ({{ unread_notif_count }})
                                {% else %}
                                    (0)
                                {% endif %}
                    
                        {% endifequal %}
                    {% endfor %}
                </button>
            </li>
            
            <li class="nav-item " role="presentation">
                <button class="btn btn-outline-success btn-sm me-2 pe-4 ps-4" href="#pills-past-reports" id="pills-past-reports-tab" data-bs-toggle="pill" data-bs-target="#pills-past-reports" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="bi bi-clock-history"></i>&nbsp; Sent Reports</button>
            </li>
    
        </ul>
    </div>
   
    <div class="tab-content row" id="pills-tabContent">
        <!-- tab for admin replies -->
        <div class="tab-pane fade show active " id="pills-admin-replies" role="tabpanel" aria-labelledby="pills-admin-replies">

            <!-- Search bar -->
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-3 mt-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: white;"><i class="bi bi-search"></i></span>
                    <input class="form-control me-2" name="searched" type="search" placeholder="Search for a barangay or message" style="font-family: 'Roboto', sans-serif">
                    <button class="btn btn-outline-success" type="submit" style="transition: 0.5s;">Search</button>
                </div>
            </form>

            {% if admin_replies %}
            <!-- Main inbox-->
            <div class="table-responsive mt-3">
                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14 table-responsive">
                    <tbody>
                        {% for reply in admin_replies %}
                        <!-- row -->
                        <tr class =" {% ifequal reply.Read_Status 'No' %} fw-bold {% else %} text-muted{% endifequal %}">
                            <!-- label -->
                            <td class="pl-3"  style="width: 3%;">
                                <!-- <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cst1" />
                                    <label class="custom-control-label" for="cst1">&nbsp;</label>
                                </div> -->
                                {% for info in admin_info %}
                                    {% ifequal reply.Sender info.id %}
                                    <img src="/media/{{ info.Members_Pic }}" alt="" style="width: 35px; height: 35px; object-fit: cover;" class="rounded-circle ms-2">
                                    {% endifequal %}
                                {% endfor %}
                            </td>
                            <!-- star -->
                            <!-- <td  style="width: 3%;"><i class="fa fa-star text-warning"></i></td> -->
                            <td style="width: 15%;">
                                {% for info in admin_info %}
                                    {% ifequal reply.Sender info.id %}
                                        <span class="mb-0 {% ifequal reply.Read_Status 'Yes' %} text-muted {% endifequal %}">From: {{ info.Members_Fname }} {{ info.Members_Lname }}</span>
                                    {% endifequal %}
                                {% endfor %}
                            </td>
                            <!-- Message -->
                            <td class="text-truncate" style="width: 58%;">
                                <a class="link text-decoration-none" href="{% url 'public_inbox_detail' reply.Report_id %}">
                                {% for prev in pub_inbox %}
                                    {% ifequal reply.Report_id prev.id %}
                                    <span class="badge rounded-pill text-white font-medium bg-info me-2"> {{ prev.Reported_City }}</span>
                                    <span class="badge rounded-pill text-white font-medium {% ifequal report.Reported_District '1' %} bg-danger {% else %} bg-success {% endifequal %} me-2"> District {{ prev.Reported_District }}</span>
                                    <!-- <span class="badge rounded-pill text-white font-medium bg-secondary me-2">{{ report.Reported_Brgy.Barangay }}</span> -->
                                    <span class=" text-dark">{{ prev.Reported_Brgy }}: {{ reply.Response }}</span>
                                    {% endifequal %}
                                {% endfor %}
                                </a>
                            </td>
                            <!-- Attachment -->
                            <td  style="width: 5%;"><i class="fa fa-paperclip text-muted" style="float: right;"></i></td>
                            <!-- Time -->
                            <td  style="width: 16%;"class="{% ifequal reply.Read_Status 'Yes' %} text-muted {% endifequal %}"><p style="float: right;">{{ reply.Response_Date }} {{ reply.Response_Time }}</p></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
            {% if admin_replies.has_previous %}

                <li class="page-item"><a class="page-link" href="?page6=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page6= {{admin_replies.previous_page_number}}">Previous</a></li>
            {% endif %}

            {% if admin_replies.has_next %}
                <li class="page-item"><a class="page-link" href="?page6={{admin_replies.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page6={{admin_replies.paginator.num_pages}}">Last</a></li>
            {% endif %}

            </ul>
            </div> <!--Close Main Inbox-->
            {% else %}
            <center>
                <div class="pt-5">
                    <img src="{% static 'image/no_data1.png' %}" class="img-1 img-fluid">
                    <p class="no-msg"><i>You have no messages at the moment!</i></p>
                </div>
            </center>
            {% endif %}
        </div>
       
        <!-- tab for report history  -->
        <div class="tab-pane fade" id="pills-past-reports" role="tabpanel" aria-labelledby="pills-past-reports">
            <!-- Search bar -->
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-3 mt-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: white;"><i class="bi bi-search"></i></span>
                    <input class="form-control me-2" name="searched" type="search" placeholder="Search for a location, barangay, narrative, or a case status" style="font-family: 'Roboto', sans-serif">
                    <button class="btn btn-outline-success" type="submit" style="transition: 0.5s;">Search</button>
                </div>
            </form>

            {% if pub_inbox %}
            <!-- History mail list-->
            <div class="table-responsive mt-3">
                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14 table-responsive">
                    <tbody>
                        {% for report in pub_inbox %}
                        <!-- row -->
                        <tr class ="">
                            <!-- label -->
                            <td class="pl-3"  style="width: 3%;">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cst1" />
                                    <label class="custom-control-label" for="cst1">&nbsp;</label>
                                </div>
                            </td>
                            <!-- star -->
                            <td  style="width: 3%;"><i class="fa fa-star text-warning"></i></td>
                            <td style="width: 15%;">
                                <span class="mb-0 {% ifequal report.Read_Status 'Yes' %} text-muted {% endifequal %}">Sent by: {{ pub_info.gen_fname }} {{ pub_info.gen_surname }}</span>
                            </td>
                            <!-- Message -->
                            <td class="text-truncate" style="width: 58%;">
                                <a class="link text-decoration-none" href="{% url 'public_inbox_detail' report.id %}">
                                    <span class="badge rounded-pill text-white font-medium bg-info me-2"> {{ report.Reported_City }}</span>
                                    <span class="badge rounded-pill text-white font-medium {% ifequal report.Reported_District '1' %} bg-secondary {% else %} bg-warning {% endifequal %} me-2"> District {{ report.Reported_District }}</span>

        
                                    {% if report.Assigned_Investigator_id %}
                                        {% ifequal report.Report_Status 'Solved' %}
                                        <span class="badge rounded-pill text-white font-medium bg-success me-2">{{ report.Report_Status }}</span>
                                        {% endifequal %}

                                        {% ifequal report.Report_Status 'Unsolved' %}
                                        <span class="badge rounded-pill text-white font-medium bg-primary me-2"> Ongoing</span>
                                        {% endifequal %}

                                    {% else %}

                                        {% ifequal report.Report_Status 'Invalid' %}
                                        <span class="badge rounded-pill text-white font-medium bg-danger me-2">{{ report.Report_Status }}</span>

                                        {% else %}
                                        <span class="badge rounded-pill text-white font-medium bg-secondary me-2">Unassigned</span>

                                        {% endifequal %}
                                    {% endif %}          

                                    <!-- <span class="badge rounded-pill text-white font-medium bg-secondary me-2">{{ report.Reported_Brgy.Barangay }}</span> -->
                                    <span class=" text-dark">{{ report.Reported_Brgy.Barangay }}: {{ report.Reported_Narrative }}</span>
                                </a>
                            </td>
                            <!-- Attachment -->
                            <td  style="width: 5%;"><i class="fa fa-paperclip text-muted" style="float: right;"></i></td>
                            <!-- Time -->
                            <td  style="width: 16%;"class="{% ifequal report.Read_Status 'Yes' %} text-muted {% endifequal %}"><p style="float: right;">{{ report.Reported_Date }} {{ report.Reported_Time }}</p></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
            {% if pub_inbox.has_previous %}

                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page= {{pub_inbox.previous_page_number}}">Previous</a></li>
            {% endif %}

            {% if pub_inbox.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{pub_inbox.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{pub_inbox.paginator.num_pages}}">Last</a></li>
            {% endif %}

            </ul>
            </div> <!--Close Mail-->
            {% else %}
            <center>
                <div class="pt-5">
                    <img src="{% static 'image/no_data1.png' %}" class="img-1 img-fluid">
                    <p class="no-msg"><i>You have no submitted reports at the moment!</i></p>
                </div>
            </center>
            {% endif %}
        </div>
    </div>

    
</div>




    <input type="text" name="unread_notif_count" id="unread_notif_count" value="{{ unread_notif_count }}" hidden>

    <script type="text/javascript">
        $(document).ready(function(){
            unread_notif_count = document.getElementById('unread_notif_count').value;
            document.getElementById('notif-count').innerHTML = unread_notif_count;
        });
    </script>

{% endblock %}