{% extends 'nav_admin.html' %}
{% block title %} Message {% endblock %}

{% block design %}
<style>
    
    .table {
        border-color: white;
    }
   
    .card-group {
        box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
        border-width: 0.5px !important;
        
    }

    .message-item{
        height: 100px;
    }
    
    .mail-list {
        height:660px !important;
        overflow-y: scroll;
    }

    .msg-body {
        height: 65vh;
        overflow-y: scroll;
    }

    .mail-list::-webkit-scrollbar,
    .msg-body::-webkit-scrollbar{
        position:absolute;
        z-index: 2;
        width: 6px;
        /* display: none; */
    }

    .mail-list {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Track */
    .mail-list::-webkit-scrollbar-track,
    .msg-body::-webkit-scrollbar-track {
        position: absolute;
        background: white;
    }

    /* Handle */
    .mail-list::-webkit-scrollbar-thumb,
    .msg-body::-webkit-scrollbar-thumb {
        background:#e9e9e9;
        border-radius: 4px;
    }

    /* Handle on hover */
    .mail-list::-webkit-scrollbar-thumb:hover,
    .msg-body::-webkit-scrollbar-thumb:hover{
        background: #a6a6a6; 

    }

    .label-blue {
        text-transform: uppercase; 
        font-size:11px; 
        letter-spacing: 1px; 
        font-weight: bold; 
        color: #1b5082;
    }

    .labels {
        text-transform: uppercase; 
        font-size:large; 
        letter-spacing: 1px; 
        font-weight: bold; 
    }
    
    .active-msg {
        border-left-color: #1b5082;
        border-left-width: 5px;
        background-color: #fafafa;
    }


    @media (min-width: 2000px){
            .modal-dialog {
            max-width: 500px;
            margin: 1.75rem auto;
        }
    }

    .div-reply {
        /* box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,0.1); */
        width: 100%;
        min-height: 60px;
        bottom: 3%; 
        /* border-radius:20px; */
        border: none !important; outline:none !important
    }

    .txt-reply {
        background-color:#e8f4f8; 
        /* border-radius:20px 0px 0 20px;  */
        border-style: none;
    }
    
    .btn-reply {
        background-color:#e8f4f8; 
        /* border-radius:0px 20px 20px 0;  */
        border-style: none;
    }

    .card-main {
        box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,0.1);

    }

    .settings-btn {
       font-size: xx-large; float: right; color:black;
       width: 50px;
       height: 50px;
       cursor: pointer;
       /* background-color: burlywood; */
    }

    .settings-btn-clicked{
        background-color: #c6c6c6;
        color:white;
        cursor: pointer;
        border-radius: 50%;
    }

    .showw {
        /* width: 20%; */
        padding: 10px;
        background-color: white;
        text-align: center;
        box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
        display: none;
        z-index: 55;
        top:7%;
        left:75%;
        position: absolute;
        float:right;
    }

  
</style>
{% endblock %}

{% block content %}
<section style="height: 10px;"></section>

    {% if messages %}
        {% for message in messages %}
        <p class="alert alert-success">
            <strong>{{ message|safe }}</strong>
        </p>  
        {% endfor %}

    {% endif %}
    
<!-- <div class="container"> -->
    <div class="mb-3 card-main" style="border-radius: 0px 20px 20px 0">
        <div class="row main-body">
            
            <!--mail list-->
            <div class="card col-3 p-0 " style="border-radius: 20px 0 0 20px">
                    <div class="card-header fw-bold" style="border-radius: 20px 0 0 0">
                        <i class="bi bi-envelope-fill"></i>&nbsp; My Previous Reports
                    </div>
                    <ul class="list-group list-group-flush mail-list"  style="border-radius: 0 0 0 20px">
                        {% for prev in pub_inbox %}
                        <a href="{% url 'public_inbox_detail' prev.id %}" style="text-decoration: none;">
                            <li class="list-group-item message-item {% ifequal prev.id prev_report.id %} active-msg {% endifequal %}" style="{% ifequal report.Read_Status 'No' %} background-color:azure; {% else %}{% endifequal %}">
                                <div class="row">
                                    <div class="col-2"><img src="/media/{{ prev.User_ID.gen_profile}}" alt="" style="width: 35px; height: 35px;" class="rounded-circle"></div>
                                    <div class="col-5">
                                        <span style="font-size: 13px;" class=" text-muted">
                                            {{ prev.User_ID.gen_fname}}  {{ prev.User_ID.gen_surname}}

                                            {% ifequal report.Read_Status 'No' %}
                                            <span class="badge position-relative top-0 bg-primary border-light rounded-circle ms-2" style="padding: 4px;"> </span>
                                            {% endifequal %}
                                        </span>
                                    </div>
                                    <div class="col-5">
                                        <span style="font-size: small; float:right;" class="">{{ prev.Reported_Date }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-2">
                                        <div class="custom-control custom-checkbox ps-2">
                                            <!-- <input type="checkbox" class="custom-control-input" id="cst1" />
                                            <label class="custom-control-label" for="cst1">&nbsp;</label> -->
                                        </div>
                                    </div>
                                    <div class="col-8 ">
                                        <span style="" class="fw-bold">{{ prev.Reported_Brgy.Barangay }}</span>
                                       
                                    </div>
                                    <div class="col-2">
                                            {% if prev.Assigned_Investigator_id %}
                                                {% ifequal prev.Report_Status 'Solved' %}
                                                <span class="badge position-relative bg-success" style="float: right; font-size: xx-small;"> Solved</span>
                                                {% endifequal %}

                                                {% ifequal prev.Report_Status 'Unsolved' %}
                                                <span class="badge position-relative bg-primary" style="float: right; font-size: xx-small;"> Assigned</span>
                                                {% endifequal %}

                                            {% else %}
                                            <span class="badge position-relative bg-secondary" style="float: right; font-size: xx-small;"> Unassigned</span>

                                            {% endif %}         

                                            {% ifequal prev.Report_Status 'Invalid' %}
                                            <span class="badge position-relative bg-danger" style="float: right; font-size: xx-small;"> Invalid</span>
                                            {% endifequal %}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-2">
                                        {% ifnotequal prev.Reported_Image_Proof '' %}
                                            <i class="fa fa-paperclip text-muted float-end"></i>
                                        {% endifnotequal %}
                                    </div>
                                    <div class="col-8"><p class=" text-truncate" style="font-size: small;">{{ prev.Reported_Narrative }}</p></div>
                                    <div class="col-2"></div>
                                </div>
                            </li></a>
                           
                        {% endfor %}
                    </ul>
            </div>

            <!--message-->
            <div class="card col-9">
                    <div class="card-header" style="background-color: white; ">
                        <div class="row">
                            <div class="col-1 pe-3" style="background-color: white;">
                                <div class="btn btn-light position-relative p-0 rounded-circle">
                                    <div><img src="/media/{{pub_info.gen_profile}}" alt=""class="rounded-circle" style="width: 70px; height: 70px;"></div>
                                    <span class="position-absolute bg-success border border-light rounded-circle" style="bottom: 0; right:4px; padding:7px;"></span>
                                </div>
                            </div>

                            <div class="col-8 ms-4"  style="background-color: white;">
                                <span class="fw-bold fs-4">{{ pub_info.gen_fname }} {{ pub_info.gen_surname }}</span>
                                <!-- <p class="text-muted" style="font:small;"> Active Now</p> -->
                            </div>
                        </div>
                    </div> <!--name header-->

                    <!--body-->
                    <div class="m-3 msg-body"> 

                        <div class="row" style="width: 100%; background-color: white;">
                            <div class="col-10"  style="background-color: none;">
                                <div class="row">
                                    <h3 class="col"> Incident from Barangay {{prev_report.Reported_Brgy.Barangay}} </h3>
                                    <!-- <span class="badge rounded-pill bg-danger">Unsolved </span> -->

                                </div>
                            </div>

                            <div class="col-2"  style="background-color: none;">
                                <span class="" style=" font-size: smaller; float:right;"><i class="bi bi-clock"></i>&nbsp;{{ detail.Reported_Date }}</span>
                                <p class="text-muted" style="font-size: small; float:right;"> {{ prev_report.Reported_Time }}</p>
                            </div>
                        </div>

                            <label class="labels {% ifequal prev_report.Report_Status 'Unsolved' %} text-danger {% else %} text-success {% endifequal %} ">[ Report Status: </label>
                            <label class="labels {% ifequal prev_report.Report_Status 'Unsolved' %} text-danger {% else %} text-success {% endifequal %}">{{ prev_report.Report_Status }} ] </label>

                            <br><br>

                            <label class="label-blue">Recipient: </label>
                            {{ prev_report.Recipient }}    <br><br>
                        
                            <p class="label-blue">Message Description: </p>
                            <p class="card-text"> {{ prev_report.Reported_Narrative }} </p>
                            
                            <p class="label-blue">Incident Location: </p>
                            {{ prev_report.Reported_Location }} <br> <br>
        

                            <p style="text-transform: uppercase; font-size:11px; letter-spacing: 1px; font-weight: bold; color: #1b5082;">Proof: </p> 
                            <div>
                            </div>

                            {% ifnotequal prev_report.Reported_Image_Proof '' %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <img src="/media/{{prev_report.Reported_Image_Proof}}" alt="" style="width: 250px;" class="img-fluid img-thumbnail">
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 900px !important; ">
                                    <div class="modal-content" >
                                        <div class="modal-body">
                                            <img src="/media/{{prev_report.Reported_Image_Proof}}" alt=""  class="img-fluid img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% else %} <p> No image provided. </p>

                            {% endifnotequal %}
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                       
                            {% if replies %}
                                {% for reply in replies %}
                                    <center><hr style="width: 97%"></center>

                                    <div class="row" style="min-height: 40px; width: 100%;">
                                    {% ifequal reply.Sender_Type 'Admin' %}
                                        {% for info in admin_info %}
                                            {% ifequal reply.Sender info.id %}
                                                <div class="col-1"><img src="/media/{{ info.Members_Pic }}" alt="" style="width: 35px; height: 35px;" class="rounded-circle"></div>
                                                <div class="col-10">
                                                <b>{{ info.Members_Fname }} {{ info.Members_Lname }}</b> <br>
                                                
                                                <span style="font-size: small;" class="text-muted">{{ reply.Response_Date }} {{ reply.Response_Time }}</span> <br>
                                                {{ reply.Response }} 
                                            </div>
                                        </div> 
                                            {% endifequal %}
                                        {% endfor %}

                                    {% else %}  
                                            <div class="col-1"><img src="/media/{{ pub_info.gen_profile }}" alt="" style="width: 35px; height: 35px;" class="rounded-circle"></div>
                                            <div class="col-10">
                                            <b>{{ pub_info.gen_fname }} {{ pub_info.gen_surname }}</b> <br>
                                            
                                            <span style="font-size: small;" class="text-muted">{{ reply.Response_Date }} {{ reply.Response_Time }}</span> <br>
                                            {{ reply.Response }}  
                                        </div>
                                    </div>
                                    

                                    {% endifequal %}
                                {% endfor %}
                                {% else %}
                                <p class="text-muted"> <i>No replies available. </i></p>
                            {% endif %}
                    </div>

                <center>
                    <form action="{% url 'process_public_reply' prev_report.id %}" method="POST">
                        {% csrf_token %}

                        {% if request.session.public_id %}
                            <input type="text" name="sender_id" id="sender_id" value="{{pub_info.id}}" hidden>
                            {% if replies %}
                                {% for reply in replies %}
                                        {% for info in admin_info %}
                                            {% ifequal reply.Sender info.id %}
                                                <input type="text" name="receiver_id" id="receiver_id" value="{{ info.id }}" hidden>
                                            {% endifequal %}
                                        {% endfor %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}

                    <div class="input-group div-reply">
                        <input type="text" name="public_reply" class="form-control p-3 txt-reply" placeholder="Send a message" style="">
                        <button class="btn btn-reply" type="submit">
                            <i class="fas fa-paper-plane pe-2" style="color: #1b5082; font-size: large;" ></i>
                        </button>
                    </div>
                    </form>
                </center>
                    
                
            </div><!--body--> 

            

            <!--profile preview-->
           

        </div> <!--row-->
    </div><!--card group-->
 
<!-- </div> -->
  <input type="text" name="unread_notif_count" id="unread_notif_count" value="{{ unread_notif_count }}" hidden>

  <script type="text/javascript">
    $(document).ready(function(){
        unread_notif_count = document.getElementById('unread_notif_count').value;
        document.getElementById('notif-count').innerHTML = unread_notif_count;

        $('.settings-btn').click(function(){
            var a = document.getElementById('settings-icon');
            a.classList.toggle('settings-btn-clicked');

            // var element = document.getElementById("myDIV");
            var x = document.getElementById("myDIV");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }

          

           // alert("f")
            // b.removeClass('settings-btn');

        });
    });
</script>

{% endblock %}