{% extends 'base_signin.html' %}
{% load static %}
{% block title %} Reset Password {% endblock %}
{% block design %} 
<style>
  .view-pass {
    padding-top: 8px;
  }
</style>

{% endblock %}
{% block content %}

<div class="container">
 {{ count_gen }} {{ count_authorized }}

  <!-- Alert messages -->
  {% if messages %}
  {% for message in messages %}
  {% if message.tags  == 'error' %}
  <p class="alert alert-danger" role="alert">
   <b>{{message}}</b>
  </p>
  {% else %}
  <p class="alert alert-success" role="alert">
   <b>{{message}}</b>
  </p>
  {% endif %}
  {% endfor %}
{% endif %}

<script>
  function check(input) {
  if (input.value != document.getElementById('newpass').value) {
      input.setCustomValidity('Please make sure your passwords match.');
  } 

  else {
      // input is valid -- reset the error message
      input.setCustomValidity('');
  }
}

</script>

  <div class= "row px-3">
    <div class ="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
      <div class="img-right d-none d-md-flex" style="width: 50%; background-repeat: no-repeat; background-size: auto 100%; background-position: center center; background-image: url({% static 'image/city.gif' %})"></div>

      <div class="card-body" style="width: 55%; height: 430px;">

        <div style="text-align: center;">
           <a href="{% url 'index' %}"><img src="{% static 'image/logo1.png' %}" style="width: 35px; height: auto; margin-right: 8px;"><STRONG><label style="color: #1b5082;">ROAD</label><label style="color: #19B3D3;">CAST</label></STRONG></a>
         </div>

         <a href="{% url 'login' %}" onclick="return confirm('Are you sure you want to exit? Changes will not be saved.');"><i class="btn close-btn fas fa-times"></i></a>


         <h4 style="margin-top: 18px; text-align: center;">Reset Password</h4>

         <h4 style="margin-top: -2px; margin-bottom: 15px; font-size: 15px; text-align: center;">Please enter your new password.</h4>

            <form method="POST" action="{% url 'process_reset' user.id %}" class="form-box px-3"  name="myform" onsubmit="return check();">

              {% csrf_token %}

              <section style="height: 20px;"></section>

                  <div class="form-input" style="margin-top: -5px;" >
                    <div class="input-group mb-3">
                      <span><i class="fa fa-key"> </i> </span>
                      <input type="password" name="newpass" id="password" placeholder="Enter New Password" class="form-control" style="border-radius: 20px 0 0 20px; height: 45px; background-color: transparent;  font-size: 14px; outline: none; border: 1px solid #00000020;"pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"required>
                      <i class="bi bi-eye-slash view-pass btn btn-outline-secondary" id="togglePassword" style="border-radius: 0 20px 20px 0; height: 45px;"></i>
                </div>
                  </div>

                  <div class="form-input" style="margin-top: -5px;" >
                    <div class="input-group mb-3">
                      <span><i class="fa fa-key"> </i> </span>
                      <input type="password" name="confirmpass" id="confirm_password" placeholder="Confirm New Password" class="form-control" oninput="check(this)"  style="border-radius: 20px 0 0 20px; height: 45px; background-color: transparent;  font-size: 14px; outline: none; border: 1px solid #00000020;"pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"required>
                      <i class="bi bi-eye-slash view-pass btn btn-outline-secondary" id="togglePassword2" style="border-radius: 0 20px 20px 0; height: 45px;"></i>
                </div>
                </div> 
                
                <div class="row" style="font-size: 12px;">
                <i><p class="password text-muted" style="padding-left: 15px;"> Note: Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</p><i>
                </div>

                  <section style="height: 5px;"></section>

                  <div class="mb-3">
                    <button type="submit" id="btn-login" class="btn btn-primary btn-block">
                      Save Changes
                    </button>
                  </div>

                  <section style="height: 5px;"></section>

            </form>
          </div>
        </div>
      </div>
    </div>
</div>
</form>

<!-- Toggle passwords-->
<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye / eye slash icon
    this.classList.toggle('bi-eye');
});
</script>
 <script>
  const togglePassword2 = document.querySelector('#togglePassword2');
  const password2 = document.querySelector('#confirm_password');

  togglePassword2.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password2.getAttribute('type') === 'password' ? 'text' : 'password';
    password2.setAttribute('type', type);
    // toggle the eye / eye slash icon
    this.classList.toggle('bi-eye');
});
</script>

{% endblock %}