{% extends 'base_landing.html' %}

{% block title %} Home {% endblock %}

{% block design %} {% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-6 banner-info, text">
          <h4> Welcome to </h4>
          <h3 class="fw-bold"><label style="color: #1b5082; font-weight: bold;">ROAD</label><label style="color: #19B3D3; font-weight: bold;">CAST</label></h3>
          
            <a class ="btn btn-first" href="{% url 'login' %}"> Log In </a> 
            <br><a class ="btn btn-second" href="{% url 'sign_up' %}"> Sign Up </a>

        </div>

        <div class="col-sm-6 banner-image">
        <br>
          <img src = "static/image/Picture2.png" class="img-responsive, map" readonly>
        </div>

      </div>
    </div>
  


{% endblock %}
