{% extends 'base_signin&up.html' %}
{% load static %}
{% block title %} Login {% endblock %}

{% block design %} {% endblock %}

{% block content %}
     <div class="container">
    <div class= "row px-3">
      <div class ="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
        <div class="img-right d-none d-md-flex"  style="background-image: url({% static 'image/Login1.png' %});"></div>

          <div class="card-body">
 
          <div style="text-align: center;">
             <a href="{% url 'index' %}"> <img src="static/image/logo1.png" style="width:50px; "> <STRONG> ROADCAST</STRONG> </a>
           </div>

             <a href="{% url 'index' %}" <button class="btn close-btn fa fa-times"></button> </a>

            <h4  style="margin-top:5px; text-align:center;">
            Login into Account
            </h4>

              <form class="form-box px-3">

                    <div class="form-input ">
                      <span><i class="fa fa-envelope-o"></i></span>
                      <input type="email" name="" placeholder="Email Address" tabindex="10" required>
                    </div>

                    <div class="form-input">
                        <span><i class="fa fa-key"> </i> </span>
                        <input type-"password" name="" placeholder="Password" required>
                    </div>

                    <div class="mb-3">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="cb1" name="">
                            <label class="custom-control-label" for="cb1">
                               Remember Me </label>
                        </div>
                    </div>  

                    <div class="mb-3">
                      <button type="submit" class="btn btn-block text-uppercase">
                        Login
                      </button>
                    </div>

                    <div class="text-right">
                      <a href="#" class="forget-link">
                        Forgot Password?
                      </a>
                    </div> 
                    

                    <hr class="my-4">
                    
                    <div class="text-center mb-2">
                      Don't have an account?
                        <a href="{% url 'sign_up' %}" class="register-link">
                          Register Here
                        </a>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>
  

  


{% endblock %}
