<!-- FOR LANDING PAGE, CONTACT US, ABOUT US NAVBAR ONLY -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/roadcast_about_us.css' %}">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <!-- favicon & icons -->
    <link rel="shortcut icon" href="{% static 'image/logo1.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Animations-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    {% block design %}

    {% endblock %}

    <title>Roadcast | {% block title %} {% endblock %}</title>

    <!-- Additional CSS-->
    <style>
    .l-navbar {
        background-color: rgb(27, 38, 49);
    }

    .header_toggle {
        color: rgb(27, 38, 49) !important;
    }

    </style>
    
</head>

<body id="body-pd">
        <header class="header" id="header" style="background-color: transparent; opacity: 1">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle" style="font-size: 1.5rem;"></i> </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav main-nav">
                <div> 
                    <a href="{% url 'index' %}" class="nav_logo">
                        <img src="{% static 'image/logo1.png' %}" class="img-fluid" style="width: 35px; margin-left:-5px;"></i> 
                        <span class="nav_logo-name">
                            <label style="color: #fff">ROAD</label><label style="color: #19B3D3">CAST</label></span> 
                        </a>
                    <div class="nav_list"> 
                        {% if request.get_full_path == '' %}
                        <a href="{% url 'index' %}" class="nav_link checked"> <i class='bx bxs-home nav_icon'></i> <span class="nav_name">Home</span></a> 
                        {% else %}
                        <a href="{% url 'index' %}" class="nav_link"> <i class='bx bxs-home nav_icon'></i> <span class="nav_name">Home</span> </a> 
                        {% endif %}

                        {% if request.get_full_path == '/aboutus' or request.get_full_path == '/aboutus#aboutus' %}
                        <a href="#aboutus" class="nav_link active"> <i class='bx bx-info-circle nav_icon'></i> <span class="nav_name">About Us</span></a> 
                        {% else %}
                        <a href="#aboutus" class="nav_link"> <i class='bx bx-info-circle nav_icon'></i> <span class="nav_name">About Us</span> </a> 
                        {% endif %}

                        {% if request.get_full_path == '/aboutus#contactus' %}
                        <a href="#contactus" class="nav_link active"> <i class='bx bx-conversation nav_icon'></i> <span class="nav_name">Contact Us</span></a>
                        {% else %}
                        <a href="#contactus" class="nav_link"> <i class='bx bx-conversation nav_icon'></i> <span class="nav_name">Contact Us</span></a>
                        {% endif %}

                    </div>
                </div> 
                <a href="{% url 'login' %}" class="nav_link"> <i class='bx bx-log-in nav_icon'></i><span class="nav_name">Login / Register</span> </a>
            </nav>
        </div>
        
        <!--insert content-->
        <div class=""style="padding-top: 40px; padding-left: 0px; padding-right: 0;">
           
            {% block content %} {% endblock %}

        </div>
        <!--content end-->


        <!-- Scripts -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        
        <script>
            AOS.init();
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script>
            document.addEventListener("DOMContentLoaded", function(event) {

            const showNavbar = (toggleId, navId, bodyId, headerId) =>{
            const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId),
            bodypd = document.getElementById(bodyId),
            headerpd = document.getElementById(headerId)

            // Validate that all variables exist
            if(toggle && nav && bodypd && headerpd){
            toggle.addEventListener('click', ()=>{
            // show navbar
            nav.classList.toggle('show')
            // change icon
            toggle.classList.toggle('bx-x')
            // add padding to body
            bodypd.classList.toggle('body-pd')
            // add padding to header
            headerpd.classList.toggle('body-pd')
            })
            }
            }

            showNavbar('header-toggle','nav-bar','body-pd','header')

            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')

            function colorLink(){
            if(linkColor){
            linkColor.forEach(l=> l.classList.remove('active'))
            this.classList.add('active')
            }
            }
            linkColor.forEach(l=> l.addEventListener('click', colorLink))

            // Your code to run since DOM is loaded and ready
            });
        </script>
</body>
</html>