{% extends 'nav_admin.html' %}
{% block title %} Account Validation {% endblock %}
{% block design %}
{% load static %}
<style>
    .table {
        border-color: white;
    }
   
    .card-group {
        box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
        border-width: 0.5px !important;
        
    }

    .message-item{
        height: 100px;
    }
    
    .mail-list {
        height:660px !important;
        overflow-y: scroll;
    }

    .msg-body {
        height: 65vh;
        overflow-y: scroll;
    }

    .mail-list::-webkit-scrollbar,
    .msg-body::-webkit-scrollbar{
        position:absolute;
        z-index: 2;
        width: 6px;
        /* display: none; */
    }

    .mail-list {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Track */
    .mail-list::-webkit-scrollbar-track,
    .msg-body::-webkit-scrollbar-track {
        position: absolute;
        background: white;
    }

    /* Handle */
    .mail-list::-webkit-scrollbar-thumb,
    .msg-body::-webkit-scrollbar-thumb {
        background:#e9e9e9;
        border-radius: 4px;
    }

    /* Handle on hover */
    .mail-list::-webkit-scrollbar-thumb:hover,
    .msg-body::-webkit-scrollbar-thumb:hover{
        background: #a6a6a6; 

    }

    .label-blue {
        text-transform: uppercase; 
        font-size:11px; 
        letter-spacing: 1px; 
        font-weight: bold; 
        color: #1b5082;
    }

    .labels {
        text-transform: uppercase; 
        font-size:large; 
        letter-spacing: 1px; 
        font-weight: bold; 
    }
    
    .active-msg {
        border-left-color: #1b5082;
        border-left-width: 5px;
        background-color: #fafafa;
    }


    @media (min-width: 2000px){
            .modal-dialog {
            max-width: 500px;
            margin: 1.75rem au  ;
        }
    }

    .txt-reply {
        box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,0.1);
        width: 95%; bottom: 3%; border-radius:20px;
        border: none !important; outline:none !important
    }
    

    .card-main {
        box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,0.1);

    }

    .settings-btn {
       font-size: xx-large; float: right; color:black;
       width: 50px;
       height: 50px;
       cursor: pointer;
       /* background-color: burlywood; */
    }

    .settings-btn-clicked{
        background-color: #c6c6c6;
        color:white;
        cursor: pointer;
        border-radius: 50%;
    }

    .showw {
        /* width: 20%; */
        padding: 10px;
        background-color: white;
        text-align: center;
        box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.1);
        display: none;
        z-index: 55;
        top:7%;
        left:75%;
        position: absolute;
        float:right;
    }
</style>
{% endblock %}
{% block content %}
<section style="height: 10px;"></section>

<!-- Alert messages -->
{% if messages %}
     {% for message in messages %}
     {% if message.tags  == 'error' %}
     <p class="alert alert-danger" role="alert">
      <strong>{{message}}</strong>
     </p>
     {% else %}
     <p class="alert alert-success" role="alert">
      <strong>{{message}}</strong>
     </p>
     {% endif %}
     {% endfor %}
{% endif %}
    
<!-- <div class="container"> -->
    <div class="mb-3 card-main" style="border-radius: 0px 20px 20px 0">
        <div class="row main-body">
            
            <!--mail list-->
            <div class="card col-3 p-0 " style="border-radius: 20px 0 0 20px">

                    <div class="card-header fw-bold" style="border-radius: 20px 20px 0 0">
                        <i class="far fa-user-circle" style="color: #1b5082;"></i>&nbsp; Account validation
                    </div>

                    <ul class="list-group list-group-flush mail-list" style="border-radius: 0 0 0 0px; padding: 0;">
                        {% for validation in sign_up_validation %}
                        <a href="{% url 'notif_sign_up_validation' validation.id %}" style="text-decoration: none;">
                            <li class="list-group-item message-item {% ifequal validation.id detail.id %} active-msg {% endifequal %}" style="{% ifequal validation.Read_Status 'No' %} background-color:azure; {% else %} {% endifequal %}">
                                <div class="row">
                                    <section style="height: 5px;"></section>
                                    <div class="col-2"><img src="/media/{{ validation.gen_profile }}" alt="" style="width: 35px; height:35px; margin-top: 5px;" class="rounded-circle"></div>
                                    <div class="col-5">
                                        <span style="font-size: 13px;" class=" text-muted">
                                            
                                            General Public
 
                                            {% ifequal validation.Read_Status 'No' %}
                                            <span class="badge position-relative top-0 bg-primary border-light rounded-circle ms-2" style="padding: 4px;"> </span>
                                            {% endifequal %}
                                        </span>
                                    </div>
                                    <div class="col-5">
                                        <span style="font-size: 11px; margin-top: 4px; float:right;" class="text-muted">{{ validation.date_signed_up }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-2">
                                        <div class="custom-control custom-checkbox ps-2">
                                        </div>
                                    </div>
                                    <div class="col-8 ">
                                        <span class="fw-bold">{{ validation.gen_fname }} {{ validation.gen_surname }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                        {% ifnotequal validation.gen_upload_id '' %}
                                        <i class="fas fa-paperclip text-muted" style="font-size: 17px; float: right;"></i>
                                        <section style="height: 5px;"></section>
                                        {% endifnotequal %}
                                </div>
                            </li></a>
                        {% endfor %}
                    </ul>
                </div>

            <!--message-->
            <div class="card col-7">
                    <div class="card-header" style="background-color: white; ">
                        <section style="height: 8px;"></section>
                        <div class="row">
                            <div class="col-1 pe-3" style="background-color: white;">
                                <section style="height: 4px;"></section>
                                <div class="btn btn-light position-relative p-0 rounded-circle">
                                    <div><img src="/media/{{ detail.gen_profile }}" alt="" class="rounded-circle" style="width: 70px; height: 70px;"></div>
                                </div>
                            </div>

                            <div class="col-8 ms-4"  style="background-color: white;">
                                <section style="height: 5px;"></section>
                                <h3 class="col">{{detail.gen_fname}} {{detail.gen_surname}} </h3>
                                <p class="text-muted"><i class="far fa-clock"></i> &nbsp;{{ detail.date_signed_up }}</p>
                            </div>

                        </div>
                    </div>

                    <!--body-->
                    <div class="m-3 msg-body"> 

                        <div class="row" style="width: 100%; background-color: white;">
                            <div class="col-10"  style="background-color: none;">
                                <div class="row">
                                </div>
                            </div>

                            <div class="col-2"  style="background-color: none;">
                                <!-- Content here -->
                            </div>
                        </div>
                            <section style="height: 10px;"></section>

                            <p class="ps-2 label-blue">Proof of Valid ID: 
                                <span class="text-muted">&nbsp; ({{ detail.gen_valid_id }})</span>
                            </p>
                            <p class="ps-2 text-muted" style="font-size: 12px; margin-top: -5px; margin-bottom: -15px;"><i>(Note: Click the image to view it full screen.)</i></p><br>

                            {% ifnotequal detail.gen_upload_id '' %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-white ps-2 " data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <img src="/media/{{detail.gen_upload_id}}" alt="" style="width: 250px;" class="img-fluid img-thumbnail">
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 900px !important; ">
                                    <div class="modal-content" >
                                        <div class="modal-body">
                                            <img src="/media/{{detail.gen_upload_id}}" alt=""  class="img-fluid img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% else %} <p> No image provided. </p>

                            {% endifnotequal %}
                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>

                    <center>
                        <div class="d-grid d-md-block">
                            <a class="btn btn-outline-danger m-3 mb-5" href="{% url 'genpub_rejected' detail.id %}" role="button">Reject &nbsp;<i class="bi bi-x-circle-fill" ></i></a>
                            <a class="btn btn-outline-success m-3 mb-5" href="{% url 'genpub_verified' detail.id %}" role="button">Verify &nbsp; <i class="bi bi-check-circle-fill"></i></a>
                        </div>
                    </center>
                    </div><!--body--> 

                    <!--profile preview-->
                    <div class="card col-2 p-0" style="border-radius: 20px 20px 0 0px;"> <!--tr tl br bl-->
                        <div>
                            <div class="card-body">
                            <b>
                            <p class="card-text " style="color: #1b5082; font:small;">&nbsp;<i class="fas fa-info-circle"></i>&nbsp;Personal Details</p>
                            </b>
                        </div>         
                        </div>
                        <ul class="list-group user-details" >
                            <section style="height: 25px;"></section>

                            <li class="list-group-item" style="border-style: none;">
                                <p class="ps-2 label-blue">Email address:</p>
                                <p class="ms-2 p-0" style="margin-top: -7px;">{{ detail.gen_username }}</p>
                            </li>

                            <li class="list-group-item" style="border-style: none;">
                                <p class="ps-2 label-blue">Name:</p>
                                <p class="ms-2 p-0" style="margin-top: -7px;">{{ detail.gen_fname }} {{ detail.gen_surname }}</p>
                            </li>

                            <li class="list-group-item" style="border-style: none;">
                                <p class="ps-2 label-blue">Birthday:</p>
                                <p class="ms-2 p-0" style="margin-top: -7px;">{{ detail.gen_bday }}</p>
                            </li>

                            <li class="list-group-item" style="border-style: none;">
                                <p class="ps-2 label-blue">Gender:</p>
                                <p class="ms-2 p-0" style="margin-top: -7px;">{{ detail.gen_sex }}</p>
                            </li>

                            <li class="list-group-item" style="border-style: none;">
                                <p class="ps-2 label-blue">Contact number:</p>
                                <p class="ms-2 p-0" style="margin-top: -7px;">{{ detail.gen_contact_no }}</p>
                            </li>

                            <li class="list-group-item" style="border-style: none;">
                                <p class="ps-2 label-blue">Location:</p>
                                <p class="ms-2 p-0" style="margin-top: -7px;">{{ detail.gen_barangay }}, {{ detail.gen_city}}, {{ detail.gen_province }} ({{ detail.gen_region }})</p>
                            </li>
                            
                        </ul>
                    </div>
                </div> <!--row-->
            </div><!--card group-->
 
            <input type="text" name="unread_notif_count_signup " id="unread_notif_count" value="{{ unread_notif_count_signup }}" hidden>

<!-- Scripts -->
<script type="text/javascript">
$(document).ready(function(){
    unread_notif_count_signup = document.getElementById('unread_notif_count_signup').value;
    document.getElementById('notif-count').innerHTML = unread_notif_count_signup;

    $('.settings-btn').click(function(){
        var a = document.getElementById('settings-icon');
        a.classList.toggle('settings-btn-clicked');

        // var element = document.getElementById("myDIV");
        var x = document.getElementById("myDIV");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    });
});
</script>

{% endblock %}