{% extends 'nav_admin.html' %}
{% load static %}
{% block title %} Notification {% endblock %}

{% block design %}
<style>
    th {
        color: #050087;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: 0;
    }
    .mailbox-widget .custom-tab .nav-item .nav-link {
        border: 0;
        color: #fff;
        border-bottom: 3px solid transparent;
    }
    .mailbox-widget .custom-tab .nav-item .nav-link.active {
        background: 0 0;
        color: #fff;
        border-bottom: 3px solid #2cd07e;
    }
    .no-wrap td, .no-wrap th {
        white-space: nowrap;
    }
    .table td, .table th {
        padding: .9375rem .4rem;
        vertical-align: top;
        border-top: 1px solid rgba(120,130,140,.13);
    }
    .font-light {
        font-weight: 300;
    }

    .link {
        text-decoration: none;
    }

    .table {
        width: 100%;
        /* table-layout: fixed; */
        background-color: white;
    }
    .controls-btn {
        width: 100px;
        background-color: violet;
    }

    .img-1 {
        border-radius: 50%;
        height: 400px;
        width: 400px;
    }

    .no-msg {
        padding-top: 10px;
        color: #1b5082;
        font-weight: 500;
        font-size: 18px;
    }

    /* new 11-28 */
    .star-legend {
        text-transform: uppercase; 
        font-size:11px; 
        letter-spacing: 1px; 
        font-weight: bold; 
        color: #1b5082;
    }

    .list-group-item {
       background-color: transparent !important; 
       border: hidden !important;
       cursor: pointer;
    }

    .report-message {
      display:inline-block;
      text-overflow:ellipsis;
      overflow:hidden; 
      white-space: nowrap;
      width:70%;
    }

    @media only screen and (max-width: 480px){
        .img-1 {
            border-radius: 50%;
            height: 350px;
            width: 350px;
        }

        .no-msg {
            font-size: 15px;
        }
    }

    @media only screen and (max-width: 415px){
        .img-1 {

            border-radius: 50%;
            height: 300px;
            width: 300px;
        }

        .no-msg {
            font-size: 13px;
        }
    }

    @media only screen and (max-width: 345px){
        .img-1 {
            border-radius: 50%;
            height: 260px;
            width: 260px;
        }

        .no-msg {
            font-size: 11px;
        }
    }

    
</style>

{% endblock %}

{% block content %}

<!-- Login required and permission access of users (Should be placed after the opening block content) -->
{% if request.session.authorized_id %}
    {% for a in all %}
        {% ifequal a.id request.session.authorized_id %}
            {% if a.Members_User.Member_Type == 'Admin' or a.Members_User.Member_Type == 'Crime Statistician' %} 
                <!-- body (no need to paste anything here) -->
            {% endif %}
        {% endifequal %}
    {% endfor %}

{% elif request.session.public_id %}
    {% if request.session.public_id %}
        {% for b in pub %}
            {% ifequal b.id request.session.public_id %} 
                <script>
        		window.location.href = '{% url 'error_page' %}';  
    		</script>
            {% endifequal %}
        {% endfor %}

    {% else %}
        <script>
            window.location.href = '{% url 'login_required' %}';
        </script>
    {% endif %}
    
{% else %}
    <script>
        window.location.href = '{% url 'login_required' %}';  
    </script>
{% endif %}

{% if searched %}
<p class="alert alert-primary">
    <strong>Showing the results for "{{ searched }}"</strong>
</p>
{% endif %}
<script>
$(document).ready(function(){
    $('button[data-bs-toggle="pill"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#pills-tab button[href="' + activeTab + '"]').tab('show');
    }
});
</script>
<div class="container"> 

    <div class="row">
    <ul class="nav nav-pills mb-3 flex-row" id="pills-tab" role="tablist">


        <li class="nav-item " role="presentation">
            <button class="btn btn-outline-success btn-sm me-2 pe-4 ps-4" href="#pills-public-report" id="pills-public-report-tab" data-bs-toggle="pill" data-bs-target="#pills-public-report" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="bi bi-journal-richtext"></i>&nbsp;
                General Public's Report

                {% for a in all %}
                    {% ifequal a.id request.session.authorized_id %}
                        {% if a.Members_User.Member_Type == 'Admin' %}
                            {% if public_report_count > 0 %}
                                ({{ public_report_count }})
                            {% endif %}
                        {% endif %}
                    {% endifequal %}
                {% endfor %}

                {% for a in all %}
                    {% ifequal a.id request.session.authorized_id %}
                        {% if a.Members_User.Member_Type == 'Crime Statistician' %}
                            {% if not_yet_recorded_count > 0 %}
                                ({{ not_yet_recorded_count }})
                            {% endif %}
                        {% endif %}
                    {% endifequal %}
                {% endfor %}


            </button>
        </li>

        {% for a in all %}
            {% ifequal a.id request.session.authorized_id %}
                {% if a.Members_User.Member_Type == 'Admin' %}
                <li class="nav-item " role="presentation">
                    <button class="btn btn-outline-success btn-sm me-2 pe-4 ps-4" href="#pills-public-all-replies" id="pills-public-all-replies-tab" data-bs-toggle="pill" data-bs-target="#pills-public-all-replies" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="bi bi-inboxes"></i></i>&nbsp;
                        All replies

                        {% if public_replies_count > 0 %}
                        ({{ public_replies_count }})
                        {% endif %}
                    </button>
                </li>
                {% endif %}
            {% endifequal %}
        {% endfor %}
        
        {% for a in all %}
            {% ifequal a.id request.session.authorized_id %}
                {% if a.Members_User.Member_Type == 'Admin' %}
                <li class="nav-item " role="presentation">
                    <button class="btn btn-outline-success btn-sm me-2 pe-4 ps-4" href="#pills-public-verification" id="pills-public-verification-tab" data-bs-toggle="pill" data-bs-target="#pills-public-verification" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="bi bi-person-check-fill"></i>&nbsp;
                        General Public's Verification 

                        {% if unread_notif_count_signup > 0 %}
                        ({{ unread_notif_count_signup }})
                        {% endif %}
                    
                    </button>
                </li>

                <a class="btn btn-outline-primary btn-sm" href="{% url 'submit_report_admin' %}" target="_blank" role="button"><i class="bi bi-plus-circle"></i> &nbsp;Add a Report</a>
               
                {% endif %}
            {% endifequal %}
        {% endfor %}

       
        
        </div>
        
    </ul>
      <div class="tab-content row" id="pills-tabContent">
        <!-- tab for public report -->
        <div class="tab-pane fade show active " id="pills-public-report" role="tabpanel" aria-labelledby="pills-home-tab">
            
            <!-- Search bar -->
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-3 mt-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: white;"><i class="bi bi-search"></i></span>
                    <input class="form-control me-2" name="searched" type="search" placeholder="Search for a name, barangay, narrative, or month (MM)" style="font-family: 'Roboto', sans-serif">
                    <button class="btn btn-outline-success" type="submit" style="transition: 0.5s;">Search</button>
                </div>
            </form>
            
            <div style="" class="visually-hidden">
                <a class="btn btn-secondary btn-sm" href="" role="button" aria-disabled="true"> Mark as Read &nbsp;<i class="fas fa-envelope msg-icon"></i></a>
                <a class="btn btn-secondary btn-sm" href="" role="button" aria-disabled="true"> Mark as Unread &nbsp;<i class="fas fa-envelope-open msg-icon"></i></a>
            </div>

            {% for a in all %}
                {% ifequal a.id request.session.authorized_id %}
                    {% if a.Members_User.Member_Type == 'Admin' %}
                    <ul class="star-legend-list list-group list-group-horizontal-sm">
                        <li class="list-group-item"><span class="star-legend">Legend: </span></li>
                        <li class="list-group-item" onclick="location.href = '/notification/solved'"><i class="fa fa-star text-success"></i> <span class="star-legend">Solved</span></li>
                        <li class="list-group-item" onclick="location.href = '/notification/ongoing'"><i class="fa fa-star text-primary"></i> <span class="star-legend">Assigned / Ongoing</span></li>
                        <li class="list-group-item" onclick="location.href = '/notification/invalid'"><i class="fa fa-star text-danger"></i> <span class="star-legend">Invalid</span></li>
                        <li class="list-group-item" onclick="location.href = '/notification/unassigned'"><i class="fa fa-star text-warning"></i> <span class="star-legend">Unassigned</span></li>
                        <li class="list-group-item" onclick="location.href = '/notification'"><i class="bi bi-eraser-fill text-secondary"></i> <span class="star-legend">Clear filter</span></li>
                    </ul>
                    {% endif %}
                {% endifequal %}
            {% endfor %}

            {% for a in all %}
                {% ifequal a.id request.session.authorized_id %}
                    {% if a.Members_User.Member_Type == 'Crime Statistician' %}
                    <ul class="star-legend-list list-group list-group-horizontal-sm">
                        <li class="list-group-item"><span class="star-legend">Legend: </span></li>
                        <li class="list-group-item" onclick="location.href = '/notification/solved'"><i class="fa fa-star text-success"></i> <span class="star-legend">Solved</span></li>
                        <li class="list-group-item" onclick="location.href = '/notification/ongoing'"><i class="fa fa-star text-primary"></i> <span class="star-legend">Assigned / Ongoing</span></li>
                        <li class="list-group-item" onclick="location.href = '/notification'"><i class="bi bi-eraser-fill text-secondary"></i> <span class="star-legend">Clear filter</span></li>
                    </ul>
                    {% endif %}
                {% endifequal %}
            {% endfor %}

           
             <!-- Mail list-->
             <div class="table-responsive mt-3">
                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14 table-responsive">
                    <tbody>
                        {% for a in all %}
                            {% ifequal a.id request.session.authorized_id %}

                                {% if a.Members_User.Member_Type == 'Admin' %}
                                    {% for report in public_reports_list %} 
                                        <!-- for admin: all public reports -->
                                        <tr class ="{% ifequal report.Read_Status 'No' %} fw-bold {% else %} text-muted{% endifequal %}">
                                            
                                            <!-- star -->
                                            <td  style="width: 3%;">
                                                <i class="fa fa-star ps-2
  
                                                {% if report.Assigned_Investigator_id %}
                                                    {% ifequal report.Report_Status 'Solved' %}
                                                        text-success
                                                    {% endifequal %}
    
                                                    {% ifequal report.Report_Status 'Unsolved' %}
                                                        text-primary
                                                    {% endifequal %}
    
                                                {% else %}
    
                                                    {% ifequal report.Report_Status 'Invalid' %}
                                                    text-danger
    
                                                    {% else %}
                                                    text-warning
    
                                                    {% endifequal %}
                                                {% endif %} 
                                                "></i>
                                            </td>

                                            <!-- image -->
                                            <td class="pl-3"  style="width: 3%;">
                                                {% ifequal report.User_ID_id NULL %} 
                                                    <img src="/media/{{ report.Admin_Sender.Members_Pic}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                                {% else %} 
                                                    <img src="/media/{{ report.User_ID.gen_profile}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                                {% endifequal %}
                                            </td>

                                            <td style="width: 15%;">
                                                <span class="mb-0 {% ifequal report.Read_Status 'Yes' %} text-muted {% endifequal %}"> 
                                                    {% ifequal report.User_ID_id NULL %} 
                                                        {{ report.Admin_Sender.Members_Fname }} {{ report.Admin_Sender.Members_Lname }} 
                                                    {% else %} 
                                                        {{ report.User_ID.gen_fname }} {{ report.User_ID.gen_surname }} 
                                                    {% endifequal %} 
                                                </span>
                                            </td>
                                            <!-- Message -->
                                            <td class="text-truncate" style="max-width: 500px;">
                                                <a class="link text-decoration-none" href="{% url 'notif_public_report_detail' report.id %}">
                                                    <span class="badge rounded-pill text-white font-medium bg-info me-2"> {{ report.Reported_City }}</span>
                                                    <span class="badge rounded-pill text-white font-medium {% ifequal report.Reported_District '1' %} bg-danger {% else %} bg-success {% endifequal %} me-2"> District {{ report.Reported_District }}</span>
                                                    <span class="text-dark report-message">{{ report.Reported_Brgy.Barangay }}: {{ report.Reported_Narrative }}</span>
                                                </a>
                                            </td>
                                            <!-- Attachment -->
                                            <td  style="width: 5%;"><i class="fa fa-paperclip text-muted" style="float: right;"></i></td>
                                            <!-- Time -->
                                            <td  style="width: 16%;"class="{% ifequal report.Read_Status 'Yes' %} text-muted {% endifequal %}"><p style="float: right;">{{ report.Reported_Date }} {{ report.Reported_Time }}</p></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                
                                {% if a.Members_User.Member_Type == 'Crime Statistician' %}
                                    {% for report in assigned_pasig_public_reports %} 
                                    
                                        <!-- for encoder: only assigned cases -->
                                        <tr class =" {% ifequal report.Read_by_encoder 'No' %} fw-bold {% else %} text-muted{% endifequal %}">
                                            <!-- star -->
                                            <td  style="width: 3%;">
                                                <i class="fa fa-star ps-2
  
                                                {% if report.Assigned_Investigator_id %}
                                                    {% ifequal report.Report_Status 'Solved' %}
                                                        text-success
                                                    {% endifequal %}
    
                                                    {% ifequal report.Report_Status 'Unsolved' %}
                                                        text-primary
                                                    {% endifequal %}
    
                                                {% else %}
    
                                                    {% ifequal report.Report_Status 'Invalid' %}
                                                    text-danger
    
                                                    {% else %}
                                                    text-warning
    
                                                    {% endifequal %}
                                                {% endif %} "></i>
                                            
                                            </td>

                                            <!-- image -->
                                            <td class="pl-3"  style="width: 3%;">
                                                {% ifequal report.User_ID_id NULL %} 
                                                    <img src="/media/{{ report.Admin_Sender.Members_Pic}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                                {% else %} 
                                                    <img src="/media/{{ report.User_ID.gen_profile}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                                {% endifequal %}
                                            </td>

                                            <td style="width: 15%;">
                                                <span class="mb-0 {% ifequal report.Read_by_encoder 'Yes' %} text-muted {% endifequal %}">
                                                {% ifequal report.User_ID_id NULL %} 
                                                    {{ report.Admin_Sender.Members_Fname }} {{ report.Admin_Sender.Members_Lname }} 
                                                {% else %} 
                                                    {{ report.User_ID.gen_fname }} {{ report.User_ID.gen_surname }} 
                                                {% endifequal %} 
                                                </span>
                                            </td>
                                            <!-- Message -->
                                            <td class="text-truncate" style="max-width: 500px;">
                                                <a class="link text-decoration-none" href="{% url 'notif_public_report_detail' report.id %}">
                                                    <span class="badge rounded-pill text-white font-medium bg-info me-2"> {{ report.Reported_City }}</span>
                                                    <span class="badge rounded-pill text-white font-medium {% ifequal report.Reported_District '1' %} bg-danger {% else %} bg-success {% endifequal %} me-2"> District {{ report.Reported_District }}</span>
                                                    <span class=" text-dark report-message">{{ report.Reported_Brgy.Barangay }}: {{ report.Reported_Narrative }}</span>
                                                </a>
                                            </td>
                                            <!-- Attachment -->
                                            <td  style="width: 5%;"><i class="fa fa-paperclip text-muted" style="float: right;"></i></td>
                                            <!-- Time -->
                                            <td  style="width: 16%;"class="{% ifequal report.Read_by_encoder 'Yes' %} text-muted {% endifequal %}"><p style="float: right;">{{ report.Reported_Date }} {{ report.Reported_Time }}</p></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                   
                            {% endifequal %}
                        {% endfor %}
                    </tbody>
                </table>

            {% if request.session.authorized_id %}
                {% for a in all %}
                    {% ifequal a.id request.session.authorized_id %}
                        {% if a.Members_User.Member_Type == 'Admin' %} 
                        <ul class="pagination">
                            {% if public_reports_list.has_previous %}
    
                                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                                <li class="page-item"><a class="page-link" href="?page= {{public_reports_list.previous_page_number}}">Previous</a></li>
                            {% endif %}
    
                            {% if public_reports_list.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{public_reports_list.next_page_number }}">Next</a></li>
                                <li class="page-item"><a class="page-link" href="?page={{public_reports_list.paginator.num_pages}}">Last</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    {% endifequal %}
                {% endfor %}
            {% endif %}

            {% if request.session.authorized_id %}
                {% for a in all %}
                    {% ifequal a.id request.session.authorized_id %}
                        {% if a.Members_User.Member_Type == 'Crime Statistician' %} 
                        <ul class="pagination">
                            {% if assigned_pasig_public_reports.has_previous %}
    
                                <li class="page-item"><a class="page-link" href="?page8=1">First</a></li>
                                <li class="page-item"><a class="page-link" href="?page8= {{assigned_pasig_public_reports.previous_page_number}}">Previous</a></li>
                            {% endif %}
    
                            {% if assigned_pasig_public_reports.has_next %}
                                <li class="page-item"><a class="page-link" href="?page8={{assigned_pasig_public_reports.next_page_number }}">Next</a></li>
                                <li class="page-item"><a class="page-link" href="?page8={{assigned_pasig_public_reports.paginator.num_pages}}">Last</a></li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    {% endifequal %}
                {% endfor %}
            {% endif %}
                

            </div> <!--Close Mail-->
        
        </div>

        <!-- tab for all public replies to admin  -->
        <div class="tab-pane fade" id="pills-public-all-replies" role="tabpanel" aria-labelledby="pills-home-tab">
            
            <!-- Search bar -->
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-3 mt-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: white;"><i class="bi bi-search"></i></span>
                    <input class="form-control me-2" name="searched" type="search" placeholder="Search for a name, barangay, narrative, or month (MM)" style="font-family: 'Roboto', sans-serif">
                    <button class="btn btn-outline-success" type="submit" style="transition: 0.5s;">Search</button>
                </div>
            </form>
        
            <div style="" class="visually-hidden">
                <a class="btn btn-secondary btn-sm" href="" role="button" aria-disabled="true"> Mark as Read &nbsp;<i class="fas fa-envelope msg-icon"></i></a>
                <a class="btn btn-secondary btn-sm" href="" role="button" aria-disabled="true"> Mark as Unread &nbsp;<i class="fas fa-envelope-open msg-icon"></i></a>
            </div>
            {% if public_replies %}
            <!-- Main inbox-->
            <div class="table-responsive mt-3">
                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14 table-responsive">
                    <tbody>
                        {% for reply in public_replies %}
                        <!-- row -->
                        <tr class =" {% ifequal reply.Read_Status 'No' %} fw-bold {% else %} text-muted{% endifequal %}">
                            
                            <!-- star -->
                            <td  style="width: 3%;"><i class="fa fa-star text-warning ps-2"></i></td>
                            <!-- image -->
                            <td class="pl-3"  style="width: 3%;">
                                {% ifequal reply.Sender_Type 'Public' %}
                                    {% for info in pub %}
                                        {% ifequal reply.Sender info.id %}
                                        <img src="/media/{{info.gen_profile}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                        {% endifequal %} 
                                    {% endfor %}
                                {% else %}    
                                    {% for a_ in all %}
                                        {% ifequal reply.Sender a_.id %}
                                        <img src="/media/{{a_.Members_Pic}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                        {% endifequal %} 
                                    {% endfor %}
                                {% endifequal %}
                            </td>
                            <td style="width: 15%;">
                                {% ifequal reply.Sender_Type 'Public' %}
                                    {% for info in pub %}
                                        {% ifequal reply.Sender info.id %}
                                            <span class="mb-0 {% ifequal reply.Read_Status 'Yes' %} text-muted {% endifequal %}">
                                                {{ info.gen_fname }} {{ info.gen_surname }}
                                            </span>
                                        {% endifequal %} 
                                    {% endfor %}
                                {% else %}    
                                    {% for a_ in all %}
                                        {% ifequal reply.Sender a_.id %}
                                            <span class="mb-0 {% ifequal reply.Read_Status 'Yes' %} text-muted {% endifequal %}">
                                                {{ a_.Members_Fname }} {{ a_.Members_Lname }}
                                            </span>
                                        {% endifequal %} 
                                    {% endfor %}
                                {% endifequal %}
                                
                            </td>
                            <!-- Message -->
                            <td class="text-truncate" style="max-width: 500px;">
                                <a class="link text-decoration-none" href="{% url 'notif_public_report_detail' reply.Report_id %}">
                                    {% for prev in public_reports_list %}
                                    {% ifequal reply.Report_id prev.id %}
                                    <span class="badge rounded-pill text-white font-medium bg-info me-2"> {{ prev.Reported_City }}</span>
                                    <span class="badge rounded-pill text-white font-medium {% ifequal report.Reported_District '1' %} bg-danger {% else %} bg-success {% endifequal %} me-2"> District {{ prev.Reported_District }}</span>
                                    <!-- <span class="badge rounded-pill text-white font-medium bg-secondary me-2">{{ report.Reported_Brgy.Barangay }}</span> -->
                                    <span class=" text-dark report-message">{{ prev.Reported_Brgy }}: {{ reply.Response }}</span>
                                
                                    {% endifequal %}

                                {% endfor %}
                                <!-- {{ reply.Response }} -->
                                </a>
                            </td>
                            <!-- Attachment -->
                            <td  style="width: 5%;"><i class="fa fa-paperclip text-muted" style="float: right;"></i></td>
                            <!-- Time -->
                            <td  style="width: 16%;"class="{% ifequal reply.Read_Status 'Yes' %} text-muted {% endifequal %}"><p style="float: right;">{{ reply.Response_Date }} {{ reply.Response_Time }}</p></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                 <ul class="pagination">
                    {% if public_replies.has_previous %}

                        <li class="page-item"><a class="page-link" href="?page3=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page3= {{public_replies.previous_page_number}}">Previous</a></li>
                    {% endif %}

                    {% if public_replies.has_next %}
                        <li class="page-item"><a class="page-link" href="?page3={{public_replies.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page3={{public_replies.paginator.num_pages}}">Last</a></li>
                    {% endif %}

                </ul>
            </div> <!--Close Main Inbox-->
            {% else %}
            <center>
                <div class="pt-5">
                    <img src="{% static 'image/no_data1.png' %}" class="img-1 img-fluid">
                    <p class="no-msg"><i>You have no messages at the moment!</i></p>
                </div>
            </center>
            {% endif %}
        
        </div>
        <!-- tab for public verification --> 
        <div class="tab-pane fade" id="pills-public-verification" role="tabpanel" aria-labelledby="pills-profile-tab">
            <!-- Search bar -->
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-3 mt-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: white;"><i class="bi bi-search"></i></span>
                    <input class="form-control me-2" name="searched" type="search" placeholder="Search for a name" style="font-family: 'Roboto', sans-serif">
                    <button class="btn btn-outline-success" type="submit" style="transition: 0.5s;">Search</button>
                </div>
            </form>

            <div class="visually-hidden">
                <a class="btn btn-secondary btn-sm" href="" role="button" aria-disabled="true"> Mark as Read &nbsp;<i class="fas fa-envelope msg-icon"></i></a>
                <a class="btn btn-secondary btn-sm" href="" role="button" aria-disabled="true"> Mark as Unread &nbsp;<i class="fas fa-envelope-open msg-icon"></i></a>
            </div>
            <div class="table-responsive mt-3">
                <table class="table email-table no-wrap table-hover v-middle mb-0 font-14 table-responsive">
                    <tbody>

                        {% for validation in sign_up_validation %}
                        <!-- row -->
                        <tr class =" {% ifequal validation.Read_Status 'No' %} fw-bold {% else %} text-muted{% endifequal %}">
                            
                            <!-- star -->
                            <td  style="width: 3%;"><i class="fa fa-star text-warning ps-2"></i></td>

                            <!-- image -->
                            <td class="pl-3"  style="width: 3%;">
                                <img src="/media/{{validation.gen_profile}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                            </td>
                            <td style="width: 15%;">
                                <span class="mb-0 {% ifequal validation.Read_Status 'Yes' %} text-muted {% endifequal %}"> {{ validation.gen_fname }} {{ validation.gen_surname }}</span>
                            </td>
                            <!-- Message -->
                            <td class="text-truncate" style="width: 58%;">
                                <a class="link text-decoration-none" href="{% url 'notif_sign_up_validation' validation.id %}">
                                    {% ifequal validation.is_verified 1 %}
                                    <span class="badge rounded-pill text-white font-medium bg-success me-2"> Verified </span>

                                    {% else %}
                                    <span class="badge rounded-pill text-white font-medium bg-danger me-2"> Unverified </span>
                                 
                                    {% endifequal %}
                                 <span class=" text-dark"> Sign Up Validation: {{ validation.gen_fname }} {{ validation.gen_surname }}</span>
                                </a>
                            </td>
                            <!-- Attachment -->
                            <td  style="width: 5%;"><i class="fa fa-paperclip text-muted" style="float: right;"></i></td>
                            <!-- Time -->
                            <td  style="width: 16%;"class="{% ifequal validation.Read_Status 'Yes' %} text-muted {% endifequal %}"><p style="float: right;">{{ validation.date_signed_up }}</p></td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
                <ul class="pagination">
            {% if sign_up_validation.has_previous %}

                <li class="page-item"><a class="page-link" href="?page2=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page2= {{sign_up_validation.previous_page_number}}">Previous</a></li>
            {% endif %}

            {% if sign_up_validation.has_next %}
                <li class="page-item"><a class="page-link" href="?page2={{sign_up_validation.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page2={{sign_up_validation.paginator.num_pages}}">Last</a></li>
            {% endif %}

            </ul>
            </div> <!--Close Mail-->
        
        </div>

   
        <!-- tab for archives -->
        <div class="tab-pane fade" id="pills-archives" role="tabpanel" aria-labelledby="pills-archives-tab">
           
        </div>

      </div>
</div>

    
{% endblock %}