{% extends 'nav_admin.html' %}

{% block title %} Home {% endblock %}


{% block design %}  

<style>
    h1 {
        color: red;
    }

    h3 {
        color: #1b5082;
    }
</style>
{% endblock design %}

{% block content %}
    <h1>Monthly Report</h1>
    <div class="row pt-5">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <center><h3 class="card-title fw-bold mb-4">2019</h3></center>
                <ul class="list-group" style="list-style-type: none;">
                    <div class="row justify-content-center"> <li class="col-sm-4">January</li><a href="{% url 'report_monthly' %}" class="col-sm-4 "> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">February</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">March</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">April</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">May</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">June</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">July</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">August</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">September</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">October</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">November</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">December</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
                <center><h3 class="card-title fw-bold mb-4">2020</h3></center>
                <ul class="list-group" style="list-style-type: none;">
                    <div class="row justify-content-center"> <li class="col-sm-4">January</li><a href="#" class="col-sm-4 "> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">February</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">March</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">April</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">May</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">June</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">July</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">August</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">September</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">October</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">November</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">December</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <center><h3 class="card-title fw-bold mb-4">2021</h3></center>
                <ul class="list-group" style="list-style-type: none;">
                    <div class="row justify-content-center"> <li class="col-sm-4">January</li><a href="#" class="col-sm-4 "> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">February</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">March</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">April</li><a href="#" class="col-sm-4"> <button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">May</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">June</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">July</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">August</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">September</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">October</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">November</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                    <div class="row justify-content-center"> <li class="col-sm-4">December</li><a href="#" class="col-sm-4"><button type="button" class="btn btn-primary btn-sm mb-2 ps-4 pe-4">View</button> </a></div>
                </ul>
              </div>
            </div>
          </div>
    </div>
  
{% endblock %}