{% extends 'base_signin&up.html' %}
{% load static %}
{% block title %} Sign Up | Page 1 {% endblock %}

{% block design %} {% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class= "row px-5">
      <div class ="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
    
        <div class="card-body">
           <a href="{% url 'index' %}"> <button class="btn close-btn fa fa-times"></button> </a>         
                     <div class="logo1">
                  <a href="{% url 'index' %}"> <img src="static/image/logo1.png" class="logo" /><STRONG> ROADCAST</STRONG> </a>
           </div>
                <h4 style="margin-top:-5px;text-align: center;">
                Welcome, Sign Up Here 
                </h4>

                <form class="form-box px-3">
                        
                        <span class="text-danger">*</span>Name 
                        <div class="form-group form-input">  
                        <span><i class="fa fa-id-badge "></i></span>                      
                            <input class="form-control" type="text" name="" placeholder="First Name, Middle Name, Last Name" tabindex="10" required>
                        </div>

                        <span class="text-danger">*</span> Address 
                            <div class="form-group form-input">        
                            <span><i class="fa fa-address-card-o"></i></span>                  
                                <input class="form-control" type="text" name="" placeholder="ex. House No./ Subdivision / Street" tabindex="10" required>
                            </div>

                        <span class="text-danger">*</span> Barangay
                            <div class="form-group form-input ">                        
                                <span><i class="fa fa-university"></i></span>  
                                  <input class="form-control" type="text" name="" placeholder="ex. Pinagbuhatan" tabindex="10" required>
                            </div>

                        <span class="text-danger">*</span> City 
                            <div class="form-group form-input">                        
                               <span><i class="fa fa-map-marker"></i></span>  
                                 <input class="form-control" type="text" name="" placeholder="ex. Pasig" tabindex="10" required>
                            </div>
                            
                        <span class="text-danger">*</span> Zip Code 
                            <div class="form-group form-input">
                            <span><i class="fa fa-code"></i></span>  
                              <input class="form-control" type="text" name= " " placeholder="ex. 1245 " required>
                            </div>

                        <nav aria-label="Page navigation example">
                            <ul style="margin-top:15px;" class="pagination justify-content-end">                      
                              <li class="page-item"> <a class="page-link" href="{% url 'signup2' %}">Next</a> </li>
                            </ul>
                        </nav> 
                   

           <hr class="my-4">
                        
            <div class="text-center mb-2">
                Do have an account?
                   <a href="{% url 'login' %}" class="register-link">
                     Login Here
                   </a>
            </div>
                </form>

                </div>
                <div class="img-right d-none d-md-flex" style="background-image: url({% static 'image/map.png' %});"> </div>
            </div>
            
            </div>
        </div>
    </div>
  


{% endblock %}