{% extends 'base_signin&up.html' %}
{% load static %}
{% block title %} Sign Up | Page 1 {% endblock %}

{% block design %} {% endblock %}

{% block content %}
   <div class="container-fluid">
    <div class= "row px-5">
      <div class ="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
          <div class="card-body">
             <a href="{% url 'index' %}"> <button class="btn close-btn fa fa-times"></button> </a>    
            <div class="logo1">
                <a href="{% url 'index' %}"> <img src="static/image/logo1.png" class="logo" /><STRONG> ROADCAST</STRONG> </a>
           </div>
                <h4 style="margin-top:-5px;text-align: center;">
                Welcome, Sign Up Here 
                </h4>

                <form name="logForm" class="form-box px-3">

                        <span class="text-danger">*</span>Email   
                        <div class="form-group form-input">                        
                        <span><i class="fa fa-envelope-o"></i></span>
                        <input class="form-control" type="email" name="" placeholder="example@gmail.com" tabindex="10" required>
                        </div>
                        
                        <span class="text-danger">*</span>Username
                        <div class="form-group form-input">                        
                            <span><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="" placeholder=" " tabindex="10" required>
                        </div>

                        <span class="text-danger">*</span>Password
                        <div class="form-group form-input">
                            <span><i class="fa fa-key"> </i> </span>
                                <input class="form-control" type=-"password" name="" placeholder=" " required>
                        </div>

                        <span class="text-danger">*</span>Confirm Password
                        <div class="form-group form-input">
                           <span><i class="fa fa-key"> </i> </span>
                               <input class="form-control" type="password" name="" placeholder=" " required>
                        </div>

                        <div class="form-group form-input">
                            <div class="captcha">
                               <div id="captchaValue"></div>
                               <input id="inputCaptcha" type="text" name="" placeholder="Captcha" required>
                            </div>
                        </div>
<script>    
    var allValue = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P',
                        'Q','R','S','T','U','V','W','X','Y','Z','a','b','c','d','e','f','g','h','i',
                        'j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','1','2',
                        '3','4','5','6','7','8','9','0']

var cVal1 = allValue[Math.floor(Math.random()*allValue.length)];
var cVal2 = allValue[Math.floor(Math.random()*allValue.length)];
var cVal3 = allValue[Math.floor(Math.random()*allValue.length)];
var cVal4 = allValue[Math.floor(Math.random()*allValue.length)];
var cVal5 = allValue[Math.floor(Math.random()*allValue.length)];
var cVal6 = allValue[Math.floor(Math.random()*allValue.length)];

var cValue = cVal1+cVal2+cVal3+cVal4+cVal5+cVal6;
//alert(cValue)

captchaValue.innerHTML = cValue
thisValue = "";

inputCaptcha.addEventListener('change',function(){
	thisValue = inputCaptcha.value;
	//alert(thisValue)
})

submitBtn.addEventListener('click',function(){
	if(cValue == thisValue){
		alert('Valid');
		document.logForm.submit()
	}else if(inputCaptcha.value == ""){
		alert('Invalid Captcha');
	}else{
		alert('Invalid Captcha');
	}
})

</script>
<!--                       <label>  Securty Test </label>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                   <input type="text" class="form-control" readonly id="Captcha">
                            </div>

                            <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="textinput">
                                </div>
                                         <h6> Captcha not visible <img src="pics/captcha_icon.jpg" width="40px" onclick="cap()"> </h6>
                                </div>  

-->                         <nav aria-label="Page navigation example">
                                <ul style="margin-top:15px;" class="pagination justify-content-end">                      
                                <li class="page-item">  <a class="page-link" href="{% url 'signup2' %}"> Previous </a> </li>
                                </ul>
                            </nav>   

                            <div class="form-group">
                                <button class="btn btn-lg btn-success btn-block" id="submitBtn"> Submit </button>
                            </div>

            
           <hr class="my-4">
                        
            <div class="text-center mb-2">
                Do have an account?
                   <a href="{% url 'login' %}" class="register-link">
                     Login Here
                   </a>
            </div>
                </form>

                </div>
                <div class="img-right d-none d-md-flex" style="background-image: url({% static 'image/map.png' %});"></div>
            </div>
            </div>
        </div>


{% endblock %}