{% extends 'base_sign_up.html' %}
{% block title %} Create an Account {% endblock %}
{% block design %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<style>
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

input[type=text]::placeholder, select:invalid, input[type=date]:invalid, input[type=password]::placeholder {
    color: black;
}

.view-pass {
  padding-top: 8px !important;
}
</style>
{% endblock %}
{% block content %}

<!-- Alert messages -->
{% if messages %}
     {% for message in messages %}
     {% if message.tags  == 'error' %}
     <p class="alert alert-danger" role="alert">
      <b>{{message}}</b>
     </p>
     {% else %}
     <p class="alert alert-success" role="alert">
      <b>{{message}}</b>
     </p>
     {% endif %}
     {% endfor %}
{% endif %}

<!-- Form validation -->
<script type="text/javascript">
  function validate_form () {
    var x = document.myform.gen_username.value;
    var atposition = x.indexOf("@");
    var dotposition = x.lastIndexOf(".");
    var mobile = /^\d{11}$/;
    var strong_pass = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

      if ( document.myform.gen_fname.value == "" ) {
          alert ( "Oops! Can't submit form because a field is empty. Please enter your first name." );
          return false;
      }
      else if ( document.myform.gen_surname.value == "" ) {
          alert ( "Oops! Can't submit form because a field is empty. Please enter your last name." );
          return false;
      }
      else if ( document.myform.gen_bday.value == "" ) {
          alert ( "Oops! Can't submit form because a field is empty. Please enter your birthday." );
          return false;
      }
      else if ( document.myform.gen_sex.value == 0 ) {
          alert ( "Oops! Can't submit form because a field is empty. Please select your gender." );
          return false;
      }
      else if ( document.myform.gen_contact_no.value == "" ) {
          alert ( "Oops! Can't submit form because a field is empty. Please enter your contact number." );
          return false;
      }
      else if ( mobile.test(document.myform.gen_contact_no.value) == false ) {
          alert ( "Oops! Can't submit form. Please enter a valid 11 digit contact number (e.g. 09XXXXXXXX)." );
          return false;
      }
      else if ( document.myform.gen_region.value == 0 ) {
          alert ( "Oops! Can't submit form because a field is empty. Please select your region." );
          return false;
      }
      else if ( document.myform.gen_province.value == 0 ) {
          alert ( "Oops! Can't submit form because a field is empty. Please select your province." );
          return false;
      }
      else if ( document.myform.gen_city.value == 0 ) {
          alert ( "Oops! Can't submit form because a field is empty. Please select your city." );
          return false;
      }
      else if ( document.myform.gen_barangay.value == "" ) {
          alert ( "Oops! Can't submit form because a field is empty. Please enter your barangay." );
          return false;
      }
      else if ( document.myform.gen_username.value == "" ) {
          alert ( "Oops! Can't submit form because a field is empty. Please enter your email address." );
          return false;
      }
      else if (atposition<1 || dotposition<atposition+2 || dotposition+2>=x.length){
        alert("Oops! Can't submit form. Please enter a valid email address (e.g. user@domain.com).");
        return false;
      }
      else if ( document.myform.gen_pass.value == "" ) {
          alert ( "Oops! Can't submit form because a field is empty. Please enter your password." );
          return false;
      }
      else if ( document.myform.gen_pass.value.length < 8) {
          alert ( "Oops! Can't submit form. Password length must be atleast 8 characters." );
          return false;
      }
      else if ( strong_pass.test(document.myform.gen_pass.value.value) == false ) {
          alert ( "Oops! Can't submit form. Password must be at least 8 characters, must contain a lowercase letters, uppercase letters, numbers, and special characters." );
          return false;
      }
      else if ( document.myform.gen_cpass.value == "" ) {
          alert ( "Oops! Can't submit form because a field is empty. Please re-enter your password." );
          return false;
      }
      else if ( document.myform.gen_pass.value != document.myform.gen_cpass.value ) {
          alert ( "Oops! Can't submit form. Please make sure your passwords match." );
          return false;
      }
      else if ( document.myform.gen_valid_id.value == 0 ) {
          alert ( "Oops! Can't submit form because a field is empty. Please select a valid ID and submit a photo of it." );
          return false;
      }
      else if ( document.myform.gen_upload_id.value == "" || document.myform.gen_upload_id.value == null ) {
          alert ( "Oops! Can't submit form because a field is empty. Please upload a photo of yourself holding any of the given valid IDs." );
          return false;
      }
      else if ( document.myform.gen_qa.value == "None" || document.myform.gen_qa.value == null ) {
          alert ( "Oops! Can't submit form because a field is empty. Please select a security question from the given." );
          return false;
      }
      else if ( document.myform.gen_qa_answer.value == "" || document.myform.gen_qa_answer.value == null ) {
          alert ( "Oops! Can't submit form because a field is empty. Please enter your answer for the security question." );
          return false;
      }
  }
  </script>

<div class="page-content">
  <div class="form-v1-content">
    <div class="wizard-form">
          <form class="form-register" action="{% url 'duplicate_gen' %}" name="myform" onsubmit="return validate_form();" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div id="form-total">

              <!-- SECTION 1 -->
              <a href="{% url 'index' %}">
              <i class="fas fa-times exit"></i>
              </a>

                <h2>
                  <p class="step-icon"><span>01</span></p>
                  <span class="step-text">Personal Details</span>
                </h2>

                <section>
                <div class="inner">
                <div class="wizard-header">
                <h3 class="heading">Personal Details</h3>
                <p>Hi, we're glad you're here! Do you already have an account? <a href="{% url 'login' %}" class="fw-bold text-primary">Log in </a>instead.</p>
                </div>

              <div class="row">
                <div class="col">
                  <input type="text" name="gen_fname" placeholder="First name" class="form-control custom-form text-capitalize"  >
                </div>
                <div class="col">
                  <input type="text" name="gen_surname" placeholder="Last name" class="form-control custom-form text-capitalize"  >
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="date" name="gen_bday" id="datefield" placeholder="Birthday" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control custom-form"  >
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <select id="sex" name="gen_sex" class="form-select"  >
                    <option value="" selected="true" disabled="disabled">Sex</option>
                    <option value="Female"> Female </option>
                    <option value="Male"> Male </option>
                    <option value="Other"> Other </option>
                    </select>
                </div>
                <div class="col">
                  <input type="text" name="gen_contact_no" placeholder="Contact number" class="form-control custom-form" >
                </div>
              </div>
              <script>
                    function address(s1,s2){
                      var s1 = document.getElementById(s1);
                      var s2 = document.getElementById(s2);
                      var test= document.getElementById("province").value;
                      
                      s2.innerHTML="";
                      if (s1.value == 1){
                        var optionArray = ["|Province", {% for prov1 in province1 %}
                   "{{ prov1.id }}|{{ prov1.provDesc }}",
                    {% endfor %}];
                      }
                      else if (s1.value == 2){
                        var optionArray = ["|Province", {% for prov2 in province2 %}
                   "{{ prov2.id }}|{{ prov2.provDesc }}",
                    {% endfor %}];
                      }
                      else if (s1.value == 3){
                        var optionArray = ["|Province", {% for prov3 in province3 %}
                   "{{ prov3.id }}|{{ prov3.provDesc }}",
                    {% endfor %}];
                      }
                      else if (s1.value == 4){
                        var optionArray = ["|Province", {% for prov4 in province4 %}
                   "{{ prov4.id }}|{{ prov4.provDesc }}",
                    {% endfor %}];
                      }
                      else if (s1.value == 5){
                        var optionArray = ["|Province", {% for prov4b in province4b %}
                   "{{ prov4b.id }}|{{ prov4b.provDesc }}",
                    {% endfor %}];
                      }
                      else if (s1.value == 6){
                        var optionArray = ["|Province", {% for prov5 in province5 %}
                   "{{ prov5.id }}|{{ prov5.provDesc }}",
                    {% endfor %}];
                      }
                      else if (s1.value == 7){
                        var optionArray = ["|Province", {% for prov6 in province6 %}
                   "{{ prov6.id }}|{{ prov6.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 8){
                        var optionArray = ["|Province", {% for prov7 in province7 %}
                   "{{ prov7.id }}|{{ prov7.provDesc }}",
                    {% endfor %}];
                      }
                    else if (s1.value == 9){
                        var optionArray = ["|Province", {% for prov8 in province8 %}
                   "{{ prov8.id }}|{{ prov8.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 10){
                        var optionArray = ["|Province", {% for prov9 in province9 %}
                   "{{ prov9.id }}|{{ prov9.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 11){
                        var optionArray = ["|Province", {% for prov10 in province10 %}
                   "{{ prov10.id }}|{{ prov10.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 12){
                        var optionArray = ["|Province", {% for prov11 in province11 %}
                   "{{ prov11.id }}|{{ prov11.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 13){
                        var optionArray = ["|Province", {% for prov12 in province12 %}
                   "{{ prov12.id }}|{{ prov12.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 14){
                        var optionArray = ["|Province", {% for prov13 in province13 %}
                   "{{ prov13.id }}|{{ prov13.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 15){
                        var optionArray = ["|Province", {% for prov14 in province14 %}
                   "{{ prov14.id }}|{{ prov14.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 16){
                        var optionArray = ["|Province", {% for prov15 in province15 %}
                   "{{ prov15.id }}|{{ prov15.provDesc }}",
                    {% endfor %}];
                    }
                    else if (s1.value == 17){
                        var optionArray = ["|Province", {% for prov16 in province16 %}
                   "{{ prov16.id }}|{{ prov16.provDesc }}",
                    {% endfor %}];
                    }
                      
                      for (var option in optionArray){
                        var pair = optionArray[option].split("|");
                        var newOption= document.createElement("option");
                        newOption.value=pair[0];
                        newOption.innerHTML=pair[1];
                        s2.options.add(newOption);

                      }
                      
                    }
                function address2(s1,s2){
                    var s1 = document.getElementById(s1);
                      var s2 = document.getElementById(s2);
                      
                      
                      s2.innerHTML="";
                      if (s1.value == 1){
                        var optionArray = ["|City", {% for city1 in city1 %}
                        "{{ city1.id }}|{{ city1.citymunDesc }}",
                          {% endfor %}];
                        }
                       else if (s1.value == 2){
                        var optionArray = ["|City", {% for city2 in city2 %}
                        "{{ city2.id }}|{{ city2.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 3){
                        var optionArray = ["|City", {% for city3 in city3 %}
                        "{{ city3.id }}|{{ city3.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 4){
                        var optionArray = ["|City", {% for city4 in city4 %}
                        "{{ city4.id }}|{{ city4.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 5){
                        var optionArray = ["|City", {% for city5 in city5 %}
                        "{{ city5.id }}|{{ city5.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 6){
                        var optionArray = ["|City", {% for city6 in city6 %}
                        "{{ city6.id }}|{{ city6.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 7){
                        var optionArray = ["|City", {% for city7 in city7 %}
                        "{{ city7.id }}|{{ city7.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 8){
                        var optionArray = ["|City", {% for city8 in city8 %}
                        "{{ city8.id }}|{{ city8.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 9){
                        var optionArray = ["|City", {% for city9 in city9 %}
                        "{{ city9.id }}|{{ city9.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 10){
                        var optionArray = ["|City", {% for city10 in city10 %}
                        "{{ city10.id }}|{{ city10.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 11){
                        var optionArray = ["|City", {% for city11 in city11 %}
                        "{{ city11.id }}|{{ city11.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 12){
                        var optionArray = ["|City", {% for city12 in city12 %}
                        "{{ city12.id }}|{{ city12.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 13){
                        var optionArray = ["|City", {% for city13 in city13 %}
                        "{{ city13.id }}|{{ city13.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 14){
                        var optionArray = ["|City", {% for city14 in city14 %}
                        "{{ city14.id }}|{{ city14.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 15){
                        var optionArray = ["|City", {% for city15 in city15%}
                        "{{ city15.id }}|{{ city15.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 16){
                        var optionArray = ["|City", {% for city16 in city16 %}
                        "{{ city16.id }}|{{ city16.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 17){
                        var optionArray = ["|City", {% for city17 in city17 %}
                        "{{ city17.id }}|{{ city17.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 18){
                        var optionArray = ["|City", {% for city18 in city18 %}
                        "{{ city18.id }}|{{ city18.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 19){
                        var optionArray = ["|City", {% for city19 in city19 %}
                        "{{ city19.id }}|{{ city19.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 20){
                        var optionArray = ["|City", {% for city20 in city20 %}
                        "{{ city20.id }}|{{ city20.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 21){
                        var optionArray = ["|City", {% for city21 in city21 %}
                        "{{ city21.id }}|{{ city21.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 22){
                        var optionArray = ["|City", {% for city22 in city22 %}
                        "{{ city22.id }}|{{ city22.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 23){
                        var optionArray = ["|City", {% for city23 in city23 %}
                        "{{ city23.id }}|{{ city23.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 24){
                        var optionArray = ["|City", {% for city24 in city24 %}
                        "{{ city24.id }}|{{ city24.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 25){
                        var optionArray = ["|City", {% for city25 in city25 %}
                        "{{ city25.id }}|{{ city25.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 26){
                        var optionArray = ["|City", {% for city26 in city26 %}
                        "{{ city26.id }}|{{ city26.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 27){
                        var optionArray = ["|City", {% for city27 in city27 %}
                        "{{ city27.id }}|{{ city27.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 28){
                        var optionArray = ["|City", {% for city28 in city28 %}
                        "{{ city28.id }}|{{ city28.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 29){
                        var optionArray = ["|City", {% for city29 in city29 %}
                        "{{ city29.id }}|{{ city29.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 30){
                        var optionArray = ["|City", {% for city30 in city30 %}
                        "{{ city30.id }}|{{ city30.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 31){
                        var optionArray = ["|City", {% for city31 in city31 %}
                        "{{ city31.id }}|{{ city31.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 32){
                        var optionArray = ["|City", {% for city32 in city32 %}
                        "{{ city32.id }}|{{ city32.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 33){
                        var optionArray = ["|City", {% for city33 in city33 %}
                        "{{ city33.id }}|{{ city33.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 34){
                        var optionArray = ["|City", {% for city34 in city34 %}
                        "{{ city34.id }}|{{ city34.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 35){
                        var optionArray = ["|City", {% for city35 in city35 %}
                        "{{ city35.id }}|{{ city35.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 36){
                        var optionArray = ["|City", {% for city36 in city36 %}
                        "{{ city36.id }}|{{ city36.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 37){
                        var optionArray = ["|City", {% for city37 in city37 %}
                        "{{ city37.id }}|{{ city37.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 38){
                        var optionArray = ["|City", {% for city38 in city38 %}
                        "{{ city38.id }}|{{ city38.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 39){
                        var optionArray = ["|City", {% for city39 in city39 %}
                        "{{ city39.id }}|{{ city39.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 40){
                        var optionArray = ["|City", {% for city40 in city40 %}
                        "{{ city40.id }}|{{ city40.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 41){
                        var optionArray = ["|City", {% for city41 in city41 %}
                        "{{ city41.id }}|{{ city41.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 42){
                        var optionArray = ["|City", {% for city4 in city42 %}
                        "{{ city42.id }}|{{ city42.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 43){
                        var optionArray = ["|City", {% for city43 in city43 %}
                        "{{ city43.id }}|{{ city43.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 44){
                        var optionArray = ["|City", {% for city44 in city44 %}
                        "{{ city44.id }}|{{ city44.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 45){
                        var optionArray = ["|City", {% for city45 in city45 %}
                        "{{ city45.id }}|{{ city45.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 46){
                        var optionArray = ["|City", {% for city46 in city46 %}
                        "{{ city46.id }}|{{ city46.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 47){
                        var optionArray = ["|City", {% for city47 in city47 %}
                        "{{ city47.id }}|{{ city47.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 48){
                        var optionArray = ["|City", {% for city48 in city48 %}
                        "{{ city48.id }}|{{ city48.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 49){
                        var optionArray = ["|City", {% for city49 in city49 %}
                        "{{ city49.id }}|{{ city49.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 50){
                        var optionArray = ["|City", {% for city50 in city50 %}
                        "{{ city50.id }}|{{ city50.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 51){
                        var optionArray = ["|City", {% for city51 in city51 %}
                        "{{ city51.id }}|{{ city51.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 52){
                        var optionArray = ["|City", {% for city52 in city52 %}
                        "{{ city52.id }}|{{ city52.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 53){
                        var optionArray = ["|City", {% for city53 in city53 %}
                        "{{ city53.id }}|{{ city53.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 54){
                        var optionArray = ["|City", {% for city54 in city54 %}
                        "{{ city54.id }}|{{ city54.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 55){
                        var optionArray = ["|City", {% for city55 in city55 %}
                        "{{ city55.id }}|{{ city55.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 56){
                        var optionArray = ["|City", {% for city56 in city56 %}
                        "{{ city56.id }}|{{ city56.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 57){
                        var optionArray = ["|City", {% for city57 in city57 %}
                        "{{ city57.id }}|{{ city57.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 58){
                        var optionArray = ["|City", {% for city58 in city58 %}
                        "{{ city58.id }}|{{ city58.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 59){
                        var optionArray = ["|City", {% for city59 in city59 %}
                        "{{ city59.id }}|{{ city59.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 60){
                        var optionArray = ["|City", {% for city60 in city60 %}
                        "{{ city60.id }}|{{ city60.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 61){
                        var optionArray = ["|City", {% for city61 in city61 %}
                        "{{ city61.id }}|{{ city61.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 62){
                        var optionArray = ["|City", {% for city62 in city62 %}
                        "{{ city62.id }}|{{ city62.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 63){
                        var optionArray = ["|City", {% for city63 in city63 %}
                        "{{ city63.id }}|{{ city63.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 64){
                        var optionArray = ["|City", {% for city64 in city64 %}
                        "{{ city64.id }}|{{ city64.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 65){
                        var optionArray = ["|City", {% for city65 in city65 %}
                        "{{ city65.id }}|{{ city65.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 66){
                        var optionArray = ["|City", {% for city66 in city66 %}
                        "{{ city66.id }}|{{ city66.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 67){
                        var optionArray = ["|City", {% for city67 in city67 %}
                        "{{ city67.id }}|{{ city67.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 68){
                        var optionArray = ["|City", {% for city68 in city68 %}
                        "{{ city68.id }}|{{ city68.citymunDesc }}",
                          {% endfor %}];
                        }
                       
                        else if (s1.value == 70){
                        var optionArray = ["|City", {% for city70 in city70 %}
                        "{{ city70.id }}|{{ city70.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 71){
                        var optionArray = ["|City", {% for city71 in city71 %}
                        "{{ city71.id }}|{{ city71.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 72){
                        var optionArray = ["|City", {% for city72 in city72 %}
                        "{{ city72.id }}|{{ city72.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 73){
                        var optionArray = ["|City", {% for city73 in city73 %}
                        "{{ city73.id }}|{{ city73.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 74){
                        var optionArray = ["|City", {% for city74 in city74 %}
                        "{{ city74.id }}|{{ city74.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 75){
                        var optionArray = ["|City", {% for city75 in city75 %}
                        "{{ city75.id }}|{{ city75.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 76){
                        var optionArray = ["|City", {% for city76 in city76 %}
                        "{{ city76.id }}|{{ city76.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 77){
                        var optionArray = ["|City", {% for city77 in city77 %}
                        "{{ city77.id }}|{{ city77.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 78){
                        var optionArray = ["|City", {% for city78 in city78 %}
                        "{{ city78.id }}|{{ city78.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 79){
                        var optionArray = ["|City", {% for city79 in city79 %}
                        "{{ city79.id }}|{{ city79.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 80){
                        var optionArray = ["|City", {% for city80 in city80 %}
                        "{{ city80.id }}|{{ city80.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 81){
                        var optionArray = ["|City", {% for city81 in city81 %}
                        "{{ city81.id }}|{{ city81.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 82){
                        var optionArray = ["|City", {% for city82 in city82 %}
                        "{{ city82.id }}|{{ city82.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 83){
                        var optionArray = ["|City", {% for city83 in city83 %}
                        "{{ city83.id }}|{{ city83.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 84){
                        var optionArray = ["|City", {% for city84 in city84 %}
                        "{{ city84.id }}|{{ city84.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 85){
                        var optionArray = ["|City", {% for city85 in city85 %}
                        "{{ city85.id }}|{{ city85.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 86){
                        var optionArray = ["|City", {% for city86 in city86 %}
                        "{{ city86.id }}|{{ city86.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 87){
                        var optionArray = ["|City", {% for city87 in city87 %}
                        "{{ city87.id }}|{{ city87.citymunDesc }}",
                          {% endfor %}];
                        }
                        else if (s1.value == 88){
                        var optionArray = ["|City", {% for city88 in city88 %}
                        "{{ city88.id }}|{{ city88.citymunDesc }}",
                          {% endfor %}];
                        }

                        for (var option in optionArray){
                        var pair = optionArray[option].split("|");
                        var newOption= document.createElement("option");
                        newOption.value=pair[0];
                        newOption.innerHTML=pair[1];
                        s2.options.add(newOption);

                      }
                      
                    }
              </script>
              <div class="row">
                <div class="col">
                  <select id="region" name="gen_region" class="form-select" onchange=address("region","province") >
                    <option value="" selected="true" disabled="disabled">Region</option>
                    {% for reg in region %}
                    <option value="{{ reg.id }}"> {{ reg.regDesc }} </option>
                    {% endfor %}
                    </select>
                </div>
              </div>

              <div class="row">
                  <div class="col">
                    <select id="province" name="gen_province" class="form-select" onchange=address2("province","city")>
                     <option value="" selected="true" disabled="disabled">Province</option>
                    </select>
                  </div>

                  <div class="col">
                  <select id="city" name="gen_city" class="form-select"  >
                    <option value="" selected="true" disabled="disabled">City</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <input type="text" name="gen_barangay" placeholder="Barangay" class="form-control custom-form text-capitalize"  >
                </div>
              </div>
            </div>
          </section>

          <!-- SECTION 2 -->
                <h2>
                  <p class="step-icon"><span>02</span></p>
                  <span class="step-text">Account Details</span>
                </h2>
                <section>
                    <div class="inner">
                      <div class="wizard-header">
                <h3 class="heading">Account Details</h3>
                <p>Please enter a unique email and password. Make sure to not share your account details to anyone.</p>
              </div>

              <section style="height: 20px;"></section>

              <div class="row">
                <div class="col">
                  <input type="text" name="gen_username" id="username" placeholder="Email address" class="form-control custom-form"  >
                </div>
              </div>

              <div class="row">
                <p class="password">Note: Email address must be unique and in a valid format (e.g. user@domain.com).</p>
              </div>

              <section style="height: 4px;"></section>

              <div class="row">
                  <div class="input-group mb-3">
                  <input type="password" name="gen_pass" id="password" placeholder="Password" class="form-control" style="border-radius: 20px 0 0 20px; height: 45px; padding-left: 20px !important;">
                  <i class="view-pass btn btn-outline-secondary bi bi-eye-slash" id="eye" style="border-radius: 0 20px 20px 0; height: 45px;"></i>
                </div>
              </div>

              <div class="row">
                  <div class="input-group mb-3">
                  <input type="password" name="gen_cpass" id="confirm_password" placeholder="Confirm password" class="form-control" style="border-radius: 20px 0 0 20px; height: 45px; padding-left: 20px !important;">
                  <i class="view-pass btn btn-outline-secondary bi bi-eye-slash" id="eye2" style="border-radius: 0 20px 20px 0; height: 45px;"></i>
                </div>
              </div>

              <!-- Toggle passwords-->
              <script>
              $(function(){
                
                $('#eye').click(function(){
                      if($(this).hasClass('bi-eye-slash')){
                        $(this).removeClass('bi-eye-slash');
                        $(this).addClass('bi-eye');
                        $('#password').attr('type','text');
                          
                      }else{
                        $(this).removeClass('bi-eye');
                        $(this).addClass('bi-eye-slash');  
                        $('#password').attr('type','password');
                      }
                  });
              });
              </script>
              <script>
              $(function(){
                
                $('#eye2').click(function(){
                      if($(this).hasClass('bi-eye-slash')){
                        $(this).removeClass('bi-eye-slash');
                        $(this).addClass('bi-eye');
                        $('#confirm_password').attr('type','text');
                          
                      }else{
                        $(this).removeClass('bi-eye');
                        $(this).addClass('bi-eye-slash');  
                        $('#confirm_password').attr('type','password');
                      }
                  });
              });
              </script>

              <div class="row">
                  <p class="password">Note: Must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters.</p>              
              </div>

              <section style="height: 45px;"></section>

                </div>
                </section>

                <!-- SECTION 3 -->
                <h2>
                  <p class="step-icon"><span>03</span></p>
                  <span class="step-text">Verify Identity</span>
                </h2>
                <section>
                    <div class="inner">
                      <div class="wizard-header">
                <h3 class="heading">Verify Identity</h3>
                <p>Before we can build your account, we need to be certain that You are You. You only have to follow a few simple steps to help us provide a secure system together.</p>
              </div>

              <div class="row">
                  <img src="static/image/selfie.png" class="img-fluid" alt="Upload Valid ID" style="margin-top: -20px;">
              </div>

              <div class="row">
                <p class="password" style="margin-top: 15px;">Note: Roadcast will only be using your Identification Card (ID) for verification purposes.</p>
              </div>

              <section style="height: 2.8px;"></section>

              </div>
              </section>

              <!-- SECTION 4 -->
              <h2>
                <p class="step-icon"><span>04</span></p>
                <span class="step-text">Upload Valid ID</span>
              </h2>
              <section>
                  <div class="inner">
                    <div class="wizard-header">
              <h3 class="heading">Upload Valid ID</h3>
              <p>Upload a clear photo of yourself holding any of the valid IDs given below. Please make sure your ID is visible.</p>
            </div>

            <div class="row">
              <div class="col">
                <select id="Valid ID" name="gen_valid_id" class="form-select"  >
                  <option value="" selected="true" disabled="disabled">Valid ID</option>
                  <option value="UMID">UMID</option>
                  <option value="Driver's License">Driver's License</option>
                  <option value="PhilHealth ID">PhilHealth ID</option>
                  <option value="SSS">SSS</option>
                  <option value="Passport">Passport</option>
                  <option value="Voters ID">Voters ID</option>
                  <option value="Pag-IBIG ID">Pag-IBIG ID</option>
                  <option value="Postal ID">Postal ID</option>
                  <option value="PRC ID">PRC ID</option>
                  <option value="National ID">National ID</option>
                  </select>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="imgUp">
                  <div class="imagePreview">
                  <label class="btn btn-primary upload-img">
                      Upload a photo
                      <input type="file" name="gen_upload_id" id="file" class="uploadFile" accept="image/*" style="width: 0px; height: 0px; overflow: hidden;"  >
                      </label>
                  </div>
                </div>
              </div>
            </div>
            
            <script>
              var uploadField = document.getElementById("file");
              
              uploadField.onchange = function() {
                  if(this.files[0].size > 4194304){
                     alert("File is too big. Please upload a file under 4MB.");
                     this.value = "";
                  };
              };
            </script>

            <div class="row">
              <p class="password" style="margin-top: 15px;">Note: Failure to follow the instruction will result in account registration being denied.</p>
            </div>

            <section style="height: 17.4px;"></section>

            </div>
            </section>

          <!-- SECTION 5 -->
          <h2>
            <p class="step-icon"><span>05</span></p>
            <span class="step-text">Security Test</span>
          </h2>
          <section>
          <div class="inner">
                <div class="wizard-header">
          <h3 class="heading">Security Test</h3>
          <p>Last step for registration and you're done! We just need to make sure that you are a human.</p><br>
        </div>

        <div class="row"style= "margin-top: -20px;">
        <div class="col">
          <select id="gen_qa" name="gen_qa" class="form-select" required>
            <option value="None" selected="true" disabled="disabled">Please select a security question</option>
            <option value="Favorite Book">What is your favorite book?</option>
            <option value="FavoriteColor">What is your favorite color?</option>
            <option value="Favorite Place">What is your favorite place to visit?</option>
            <option value="City">In what city were you born?</option>
            <option value="Favorite Food">What was your favorite food as a child?</option>
            <option value="First School">What is the name of your first school?</option>
            <option value="Favorite Pet">What is the name of your favorite pet?</option>
            <option value="Childhood nickname">What was your childhood nickname?</option>
            <option value="Childhood Hero">Who was your childhood hero?</option>
            <option value="First concert">What was the first concert you attended?</option>
            </select>
        </div>
      </div>

        <div class="row">
          <div class="col">
            <input type="text" name="gen_qa_answer" placeholder="Enter your answer" class="form-control custom-form text-capitalize" required>
          </div>
        </div>

        <section style="height: 10px;"></section>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
          <label class="form-check-label" for="flexCheckDefault">
            <p style="font-size: 15px;">By creating an account, you agree to the
              <a href="{% url 'terms' %}" target="_blank" class="fw-bold text-primary">Terms of Use</a> and our
              <a href="{% url 'terms' %}" target="_blank" class="fw-bold text-primary">Privacy Policy</a>.
            </p>
          </label>
          </div>

        <section style="height: 13px;"></section>

        <div class="row">
        <center>
           <script src="https://www.google.com/recaptcha/api.js" async defer></script>
          <div class="g-recaptcha" data-sitekey="6LezEbYcAAAAAEjz-W1_waM-nfZukg5r30DCNEPy"></div>
        </center>
       </div>

<!--<script>-->
<!--        var onloadCallback = function() {-->
<!--            var myobj = document.getElementById("g-recaptcha");-->
<!--            $('.g-recaptcha').html('');-->

<!--            $('.g-recaptcha').each(function (i, captcha) {-->
<!--                grecaptcha.render(captcha, {-->
<!--                    'sitekey' : '6LezEbYcAAAAAEjz-W1_waM-nfZukg5r30DCNEPy'-->
<!--                });-->
<!--            });-->
<!--        };-->
<!--    </script>-->
<!--        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>-->
<!--    <div class="row">-->
<!--        <center>-->
<!--    <div class="g-recaptcha"></div>-->
<!--    </center>-->
<!--    </div>-->

                <section style="height: 30px;"></section>

                <center>
                <div class="submit-btn">
                  <button class="btn btn-primary submit-form btn-lg" id="submit" type=“submit”>Create an Account</button>
                </div>
                </center>
                </div>
                </section>
            </div>
        </form>
    </div>
  </div>
</div>

<!-- Prevent submitting again when reloaded -->
    <script>
      if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
    </script>

<!-- Maximum date is today -->
    <script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();

    if (dd < 10) {
      dd = '0' + dd;
    }

    if (mm < 10) {
      mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", today);
    </script>

{% endblock %}