{% extends 'nav_admin.html' %}
{% block title %} Forwarded Reports {% endblock %}
{% load static%}
{% block design %}
<style>
    th {
        color: #050087;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: 0;
    }
    .mailbox-widget .custom-tab .nav-item .nav-link {
        border: 0;
        color: #fff;
        border-bottom: 3px solid transparent;
    }
    .mailbox-widget .custom-tab .nav-item .nav-link.active {
        background: 0 0;
        color: #fff;
        border-bottom: 3px solid #2cd07e;
    }
    .no-wrap td, .no-wrap th {
        white-space: nowrap;
    }
    .table td, .table th {
        padding: .9375rem .4rem;
        vertical-align: top;
        border-top: 1px solid rgba(120,130,140,.13);
    }
    .font-light {
        font-weight: 300;
    }

    .link {
        text-decoration: none;
    }

    .table {
        width: 100%;
        /* table-layout: fixed; */
        background-color: white;
    }
    .controls-btn {
        width: 100px;
        background-color: violet;
    }

    .img-1 {
        border-radius: 50%;
        height: 400px;
        width: 400px;
    }

    .no-msg {
        padding-top: 10px;
        color: #1b5082;
        font-weight: 500;
        font-size: 18px;
    }

    /* new 11-28 */
    .star-legend {
        text-transform: uppercase; 
        font-size:11px; 
        letter-spacing: 1px; 
        font-weight: bold; 
        color: #1b5082;
    }

    .list-group-item {
       background-color: transparent !important; 
       border: hidden !important;
       cursor: pointer;
    }
    .report-message {
      display:inline-block;
      text-overflow:ellipsis;
      overflow:hidden; 
      white-space: nowrap;
      width:70%;
    }

    @media only screen and (max-width: 480px){
        .img-1 {
            border-radius: 50%;
            height: 350px;
            width: 350px;
        }

        .no-msg {
            font-size: 15px;
        }
    }

    @media only screen and (max-width: 415px){
        .img-1 {

            border-radius: 50%;
            height: 300px;
            width: 300px;
        }

        .no-msg {
            font-size: 13px;
        }
    }

    @media only screen and (max-width: 345px){
        .img-1 {
            border-radius: 50%;
            height: 260px;
            width: 260px;
        }

        .no-msg {
            font-size: 11px;
        }
    }

    
</style>


{% endblock %}

{% block content %}

<!-- Login required and permission access of users (Should be placed after the opening block content) -->
{% if request.session.authorized_id %}
    {% for a in all %}
        {% ifequal a.id request.session.authorized_id %}
            {% if a.Members_User.Member_Type == 'Sub-representative' or a.Members_User.Member_Type == 'Investigator' %} 
                <!-- body (no need to paste anything here) -->
            {% else %}
                <script>
                    window.location.href = '{% url 'error_page' %}';  
                </script>
            {% endif %}

        {% endifequal %}
    {% endfor %}

{% elif request.session.public_id %}
    {% if request.session.public_id %}
        {% for b in pub %}
            {% ifequal b.id request.session.public_id %} 
                <script>
        		    window.location.href = '{% url 'error_page' %}';  
    		    </script>
            {% endifequal %}
        {% endfor %}

    {% else %}
        <script>
            window.location.href = '{% url 'login_required' %}';
        </script>
    {% endif %}
    
{% else %}
    <script>
        window.location.href = '{% url 'login_required' %}';  
    </script>
{% endif %}

{% if searched %}
<p class="alert alert-primary">
    <strong>Showing the results for "{{ searched }}"</strong>
</p>
{% endif %}

<div class="container">

    <!-- Search bar -->
    <form class="d-flex" method="POST">
        {% csrf_token %}
        <div class="input-group input-group-sm mb-3 mt-3">
            <span class="input-group-text" id="inputGroup-sizing-sm" style="background-color: white;"><i class="bi bi-search"></i></span>
            <input class="form-control me-2" name="searched" type="search" placeholder="Search for a name, barangay, narrative, or month (MM)" style="font-family: 'Roboto', sans-serif">
            <button class="btn btn-outline-success" type="submit" style="transition: 0.5s;">Search</button>
        </div>
    </form>

    <ul class="star-legend-list list-group list-group-horizontal-sm">
        <li class="list-group-item"><span class="star-legend">Legend: </span></li>
        <li class="list-group-item" onclick="location.href = '/substation/notification/solved'"><i class="fa fa-star text-success"></i> <span class="star-legend">Solved</span></li>
        <li class="list-group-item" onclick="location.href = '/substation/notification/ongoing'"><i class="fa fa-star text-primary"></i> <span class="star-legend">Assigned / Ongoing</span></li>
        <li class="list-group-item" onclick="location.href = '/substation/notification'"><i class="bi bi-eraser-fill text-secondary"></i> <span class="star-legend">Clear filter</span></li>
    </ul>

    <!-- Mail list-->
    <div class="table-responsive mt-3">
        <table class="table email-table no-wrap table-hover v-middle mb-0 font-14 table-responsive">
            <tbody>
            {% if fwd_reports or inv_assigned %}
                {% for a in all %}
                    {% ifequal a.id request.session.authorized_id %}
                        {% if a.Members_User.Member_Type == 'Sub-representative' %}
                            
                            {% for fwd in fwd_reports %}
                            <!-- row -->
                            <tr class =" {% ifequal fwd.Read_by_subrep 'No' %} fw-bold {% else %} text-muted{% endifequal %}">
                               
                                <!-- star -->
                                <td  style="width: 3%;">
                                    <i class="fa fa-star ps-2

                                    {% if fwd.Assigned_Investigator_id %}
                                        {% ifequal fwd.Report_Status 'Solved' %}
                                            text-success
                                        {% endifequal %}

                                        {% ifequal fwd.Report_Status 'Unsolved' %}
                                            text-primary
                                        {% endifequal %}

                                    {% else %}

                                        {% ifequal fwd.Report_Status 'Invalid' %}
                                        text-danger

                                        {% else %}
                                        text-warning

                                        {% endifequal %}
                                    {% endif %} "></i>
                                
                                </td>

                                <!-- image -->
                                <td class="pl-3"  style="width: 3%;">
                                    {% ifequal fwd.User_ID_id NULL %} 
                                        <img src="/media/{{fwd.Admin_Sender.Members_Pic}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                    {% else %} 
                                        <img src="/media/{{fwd.User_ID.gen_profile}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                    {% endifequal %}
                                </td>

                                <td style="width: 15%;">
                                    <span class="mb-0 {% ifequal fwd.Read_by_subrep 'Yes' %} text-muted {% endifequal %}">
                                        {% ifequal fwd.User_ID_id NULL %} 
                                            {{ fwd.Admin_Sender.Members_Fname }} {{ fwd.Admin_Sender.Members_Lname }} 
                                        {% else %} 
                                            {{ fwd.User_ID.gen_fname }} {{ fwd.User_ID.gen_surname }} 
                                        {% endifequal %}  
                                    </span>
                                </td>
                                <!-- Message -->
                                <td class="text-truncate" style="max-width: 500px;">
                                    <a class="link text-decoration-none" href="{% url 'sub_notification_detail' fwd.id %}">
                                        <span class="badge rounded-pill text-white font-medium bg-info me-2"> {{ fwd.Reported_City }}</span>
                                        <span class="badge rounded-pill text-white font-medium {% ifequal fwd.Reported_District '1' %} bg-danger {% else %} bg-success {% endifequal %} me-2"> District {{ fwd.Reported_District }}</span>
                                        <!-- <span class="badge rounded-pill text-white font-medium bg-secondary me-2">{{ report.Reported_Brgy.Barangay }}</span> -->
                                        
                                        <span class="text-dark report-message">{{ fwd.Reported_Brgy.Barangay }}: {{ fwd.Reported_Narrative }}</span>
                                    </a>
                                </td>
                                <!-- Attachment -->
                                <td  style="width: 5%;"><i class="fa fa-paperclip text-muted" style="float: right;"></i></td>
                                <!-- Time -->
                                <td  style="width: 16%;"class="{% ifequal fwd.Read_by_subrep 'Yes' %} text-muted {% endifequal %}"><p style="float: right;">{{ fwd.Reported_Date }} {{ fwd.Reported_Time }}</p></td>
                            </tr>
                            {% endfor %}
                            
                        {% else %}
                            {% for fwd in inv_assigned %}
                            <!-- row -->
                            <tr class =" {% ifequal fwd.Read_by_inv 'No' %} fw-bold {% else %} text-muted{% endifequal %}">
                                
                                  <!-- star -->
                                  <td  style="width: 3%;">
                                    <i class="fa fa-star ps-2

                                    {% if fwd.Assigned_Investigator_id %}
                                        {% ifequal fwd.Report_Status 'Solved' %}
                                            text-success
                                        {% endifequal %}

                                        {% ifequal fwd.Report_Status 'Unsolved' %}
                                            text-primary
                                        {% endifequal %}

                                    {% else %}

                                        {% ifequal fwd.Report_Status 'Invalid' %}
                                        text-danger

                                        {% else %}
                                        text-warning

                                        {% endifequal %}
                                    {% endif %} "></i>
                                
                                </td>

                                 <!-- image -->
                                 <td class="pl-3"  style="width: 3%;">
                                     {% ifequal fwd.User_ID_id NULL %} 
                                         <img src="/media/{{fwd.Admin_Sender.Members_Pic}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                     {% else %} 
                                         <img src="/media/{{fwd.User_ID.gen_profile}}" class="rounded-circle user-img" style="width: 35px; height: 35px; object-fit: cover;">
                                     {% endifequal %}
                                 </td>
                                <td style="width: 15%;">
                                    <span class="mb-0 {% ifequal fwd.Read_by_inv 'Yes' %} text-muted {% endifequal %}"> 
                                        {% ifequal fwd.User_ID_id NULL %} 
                                            {{ fwd.Admin_Sender.Members_Fname }} {{ fwd.Admin_Sender.Members_Lname }} 
                                        {% else %} 
                                            {{ fwd.User_ID.gen_fname }} {{ fwd.User_ID.gen_surname }} 
                                        {% endifequal %}  
                                </td>
                                <!-- Message -->
                                <td class="text-truncate" style="max-width: 500px;">
                                    <a class="link text-decoration-none" href="{% url 'sub_notification_detail' fwd.id %}">
                                        <span class="badge rounded-pill text-white font-medium bg-info me-2"> {{ fwd.Reported_City }}</span>
                                        <span class="badge rounded-pill text-white font-medium {% ifequal fwd.Reported_District '1' %} bg-danger {% else %} bg-success {% endifequal %} me-2"> District {{ fwd.Reported_District }}</span>
                                        <!-- <span class="badge rounded-pill text-white font-medium bg-secondary me-2">{{ report.Reported_Brgy.Barangay }}</span> -->
                                        {% ifequal fwd.Report_Created 'Yes' %}
                                            <!-- <span class="badge rounded-pill text-white font-medium bg-custom me-2"> Recorded </span> -->
                                        {% endifequal %}
                                        <span class="text-dark report-message">{{ fwd.Reported_Brgy.Barangay }}: {{ fwd.Reported_Narrative }}</span>
                                    </a>
                                </td>
                                <!-- Attachment -->
                                <td  style="width: 5%;"><i class="fa fa-paperclip text-muted" style="float: right;"></i></td>
                                <!-- Time -->
                                <td  style="width: 16%;"class="{% ifequal fwd.Read_by_inv 'Yes' %} text-muted {% endifequal %}"><p style="float: right;">{{ fwd.Reported_Date }} {{ fwd.Reported_Time }}</p></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    {% endifequal %}
                {% endfor %}

                {% else %}
            <center>
                <div class="pt-5">
                    <img src="{% static 'image/no_data1.png' %}" class="img-1 img-fluid">
                    <p class="no-msg"><i>You have no messages at the moment!</i></p>
                </div>
            </center>
            {% endif %}
            </tbody>
        </table>

        {% if request.session.authorized_id %}
            {% for a in all %}
                {% ifequal a.id request.session.authorized_id %}
                    {% if a.Members_User.Member_Type == 'Sub-representative' %} 
                    <ul class="pagination">
                        {% if fwd_reports.has_previous %}

                            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                            <li class="page-item"><a class="page-link" href="?page= {{fwd_reports.previous_page_number}}">Previous</a></li>
                        {% endif %}

                        {% if fwd_reports.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{fwd_reports.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{fwd_reports.paginator.num_pages}}">Last</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                {% endifequal %}
            {% endfor %}
        {% endif %}

        {% if request.session.authorized_id %}
            {% for a in all %}
                {% ifequal a.id request.session.authorized_id %}
                    {% if a.Members_User.Member_Type == 'Investigator' %} 
                    <ul class="pagination">
                        {% if inv_assigned.has_previous %}
            
                            <li class="page-item"><a class="page-link" href="?page2=1">First</a></li>
                            <li class="page-item"><a class="page-link" href="?page2= {{inv_assigned.previous_page_number}}">Previous</a></li>
                        {% endif %}
            
                        {% if inv_assigned.has_next %}
                            <li class="page-item"><a class="page-link" href="?page2={{inv_assigned.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link" href="?page2={{inv_assigned.paginator.num_pages}}">Last</a></li>
                        {% endif %}
            
                    </ul>
                    {% endif %}
                {% endifequal %}
            {% endfor %}
        {% endif %}

               
    </div> <!--Close Mail-->
  </div> <!--closing container div-->
{% endblock %}